<div class="msg-popup-dialog">
    <div class="msg-popup-close">
        <img src="../../../assets/images/close-icon-circle.png" alt="" class="" (click)="close()" />
    </div>

    <div class="msg-popup-content">
        @if (data.action == 'display') {
            <div class="display-message">{{data.message}}</div>
        }
        @else if (data.action == 'delete-confirmation') {
            <div class="display-message">
               {{ 'confirmDeleteUser' | translate }} <br>{{ 'confirmDeleteUser1' | translate }} 
                <div class="popup-delete-btn">
                    <span (click)="deleteConfirmed()">{{ 'deleteAccount' | translate }}</span>
                </div>
            </div>
        }
        @else if (data.action == 'delete-favorite-confirmation') {
            <div class="display-message">
                {{ 'areToSure' | translate }}
                <div class="popup-delete-btn">
                    <span (click)="deleteConfirmed()">{{ 'remove' | translate }}</span>
                </div>
            </div>
        }
    </div>
</div>