
.date-togal{
    color: black;
}
.custom-size {
    padding: 8px 11px;
    border: 1px solid black;
  }

.custom-size-calendar {
    width: 120px;
  padding-bottom: 0px;
  }

  .custom-size-calendar .mat-form-field-underline {
    display: none;
  }
  .custom-size-2{
    width: 200px;
    border: 1px solid black;
  }
