<section class="website-code">
  <div class="main">
    <app-header></app-header>
    <div class="main-bnr">
      <div class="overlay"></div>
      <div class="banner-inner py_0">
        <div class="container">
          <div class="about">
            <h2 class="imprint-text">{{'imprintTranslate.imprint' | translate}}</h2>
          </div>
        </div>
      </div>
      <div *ngIf="adVisible[0]" class="skyscraper-left">
        <img src="./assets/images/skyscraper - 120x600.png">
        <button (click)="closeAd(0)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>

      <div *ngIf="adVisible[1]" class="skyscraper-right">
        <img src="./assets/images/skyscraper - 120x600.png">
        <button (click)="closeAd(1)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>

    <div class="imprint">
      <div class="container">
        <div class="imprint-cols">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="information">
                <div class="info-text">
                  <h4 class="company-heading">{{'imprintTranslate.companyInfo' | translate}}</h4>
                  <p>{{'imprintTranslate.soccerYou' | translate}}</p>
                </div>

                <div>
                  <h4 class="company-heading">{{'imprintTranslate.address' | translate}}</h4>
                  <p>{{'imprintTranslate.soccerYou' | translate}}</p>
                  <p>{{'imprintTranslate.succerYouSports' | translate}}</p>
                  <p> {{'imprintTranslate.winterthur' | translate}}</p>
                  <p>{{'imprintTranslate.switzerland' | translate}}</p>
                </div>
              </div>

            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="address">
                <div class="info-text">
                  <h4 class="company-heading">{{'imprintTranslate.contactInfo' | translate}}</h4>
                  <p class="e-mail">
                    <a href="mailto:info@socceryou.ch">{{'imprintTranslate.email' | translate}}</a>
                  </p>
                </div>
                <div>
                  <h4 class="company-heading">{{'imprintTranslate.companyRegistration' | translate}}</h4>
                  <p>{{'imprintTranslate.UID' | translate}}</p>
                  <p>{{'imprintTranslate.MWST' | translate}}</p>
                  <p>{{'imprintTranslate.zuerich' | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="py_0">
          <h4>{{'imprintTranslate.disclaime' | translate}}</h4>
          <ul>
            <li>{{'imprintTranslate.accountabilityForContent' | translate}}</li>
          </ul>
          <p class="list-text">{{'imprintTranslate.contentsOfOurPages' | translate}}
          </p>

          <ul>
            <li>{{'imprintTranslate.accountabilityForLinks' | translate}}</li>
          </ul>
          <p class="list-text">{{'imprintTranslate.ourWebsiteContainsLinks' | translate}}
          </p>
        </div>

        <div class="py_0">
          <h4>{{'imprintTranslate.copyright' | translate}}</h4>
          <p>{{'imprintTranslate.contentAndWorks' | translate}}
          </p>
        </div>

        <div class="py_0">
          <h4>{{'imprintTranslate.privacyPolicy' | translate}}</h4>
          <p>{{'imprintTranslate.usePersonalData' | translate}}
          </p>
        </div>

        <div class="py_0">
          <h4>{{'imprintTranslate.disputeResolution' | translate}}</h4>
          <p>{{'imprintTranslate.obligedToParticipate' | translate}}
          </p>
        </div>

        <div class="advertisment" [ngClass]="{'hidden': !adVisible[2]}">
          <div *ngIf="adVisible[2]" class="leaderboard-image">
            <img src="./assets/images/leaderboard - 728x90.png">
            <button (click)="closeAd(2)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>

      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>