/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
h4 {
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
}

h3 {
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    position: relative;
    text-transform: uppercase;
}
h3::after {
    position: absolute;
    content: "";
    z-index: 1;
    background-color: #FFFFFF;
    opacity: 10%;
    height: 1px;
    width: 100%;
    bottom: -20px;
    left: 0;
}

p {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

li {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.py_0 {
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    background-color: #fff;
}
.tabs {
    margin-bottom: 20px;
    padding-top: 20px;
}
.main-bnr {
    position: relative;
    z-index: 1;
}

.bnr-media {
    position: relative;
}

.bnr-media img {
    width: 100%;
}

.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.overlay {
    position: absolute;
    height: auto;
    // background-color: #000;
}

.overlay {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
}

.main {
   // background-image: url("../../../../assets/images/faq-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-transparent {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.cookie-text {
    font-size: 45px;
    font-weight: 600;
    color: white;
    text-align: center;
    filter: brightness(0) invert(1);
    text-transform: uppercase;

}

/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/



.tab-content {
    border-top: none;
}

// .header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     color: white;
//     padding: 15px 0px 15px 0;
// }
.header {
    display: flex;                 /* Use flexbox for alignment */
    justify-content: space-between; /* Space between title and icon */
    align-items: center;          /* Vertically center items */
    padding: 10px;                /* Add some padding */
    color: white;
}

.talent-content {
    position: relative;
}

.talent-content::after {
    position: absolute;
    background-color: white;
    opacity: 10%;
    width: 100%;
    content: "";
    z-index: 1;
    height: 1px;
    bottom: 0;
    margin-top: 20px;
}

.club-content {
    position: relative;
    padding-bottom: 0;
}

.club-content::after {
    position: absolute;
    background-color: #2B4A24;
    width: 100%;
    content: "";
    z-index: 1;
    height: 1px;
    bottom: 0;
    margin-top: 20px;
}

.scout-content {
    position: relative;
    padding-bottom: 0;
}

.scout-content::after {
    position: absolute;
    background-color: #2B4A24;
    width: 100%;
    content: "";
    z-index: 1;
    height: 1px;
    bottom: 0;
    margin-top: 20px;
}

.header h3 {
    margin: 0;
    color: white;
}

h4 {
    margin: 0;                    /* Remove default margin */
}

.toggle-icon {
    width: 30px;                  /* Set width for alignment */
    text-align: center;           /* Center the icon */
    cursor: pointer;
    font-size: 40px;
    margin-left: 20px;
    font-weight: 100;
}


.faq-content {
    padding-bottom: 20px;
    padding-right: 20px;
}

.tabs button.active {
    font-size: 20px;
    width: 126px;
    height: 40px;
    border-radius: 8px;
    font-weight: 700;
}
button.faq-club-button, button.faq-talent-button, button.faq-scout-button {
    background-color: transparent;
    border: none;
    color: #86AA7D;
    font-size: 20px;
    font-weight: 200;
    margin-right: 50px;
}


// advertisement

.skyscraper-left{
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 50%;
}
.skyscraper-left img{
    height: 600px;
    width: 120px;
}
.skyscraper-right{
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 50%;
}
.skyscraper-right img{
    height: 600px;
    width: 120px;
}
.leaderboard-image img {
    height: 90px;
    width: 728px;
  }
  .leaderboard-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.ad-close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    z-index: 1;
  }

  // advertisement




@media (min-width: 1441px) {}

@media (max-width: 1199px) {
    h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .header{
        padding: 8px 0px 8px 0;
    }
}

@media (max-width: 991px) {
    .cookie-text {
        font-size: 40px;
    }
    .about {
        margin-top: 50px;
    }
    h4 {
        font-size: 18px;
    }
    .faq-content{
        font-size: 16px;
    }
    button.faq-club-button, button.faq-talent-button, button.faq-scout-button {
        font-size: 18px;
    }
    .tabs button.active {
        font-size: 18px;
        width: 110px;
        height: 36px;
    }
    .leaderboard-club-image img,
    .small-sqaure-image img,
    .skyscraper-image img,
    .skyscraper-image img,
    .wide-skyscraper-image img,
    .leaderboard-image img,
    .banner-image img,
    .advertisement,
    .advertisement1, 
    .skyscraper-left img,
    .skyscraper-right img{
      display: none;
    }
    
        
}

@media (max-width: 767px) {}

@media (max-width: 575px) {
    .header {
        padding: 10px 0px 10px 0px ;
    }
    button.faq-club-button, button.faq-talent-button, button.faq-scout-button {
        font-size: 16px;
    }
    .tabs button.active {
        width: 85px;
        margin-right: 40px;
        font-size: 16px;
        height: 33px;
    }

    .cookie-text {
        font-size: 35px;
    }
    h3 {
        font-size: 22px;
    }
    // button.faq-club-button, button.faq-talent-button, button.faq-scout-button {
    //     margin-right: 50px;
    // }
    .tabs button.active {
        width: 100px;
        margin-right: 40px;
        text-align: center;
    }
    h4 {
        font-size: 16px;
    }
    .toggle-icon {
        font-size: 30px;
    }
    .py_0 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .faq-content{
        font-size: 14px;
    }
}
@media (max-width: 415px) {
button.faq-club-button, button.faq-talent-button, button.faq-scout-button {
    margin-right: 35px;
}
}

@media (max-width: 376px) {
    .tabs button.active {
        width: 80px;
        margin-right: 15px;
        font-size: 14px;
    }
    button.faq-club-button, button.faq-talent-button, button.faq-scout-button {
        margin-right: 30px;
        font-size: 14px;
    }
    .faq-content {
        font-size: 11px;
    }
    h4 {
        font-size: 14px;
    }
    .toggle-icon {
        font-size: 25px;
    }
}
@media (max-width: 321px) {
    .tabs button.active {
        margin-right: 20px;
        font-size: 12px;
        height: 30px;
        width: 70px;
    }
    button.faq-club-button, button.faq-talent-button, button.faq-scout-button {
        margin-right: 20px;
        font-size: 12px;
    }
    h4 {
        font-size: 12px;
    }
    .faq-content {
        font-size: 10px;
    }
   
}