<div class="page-content">
  <div class="main-wrapper">
    <div class="card subscription-plan">
      <h2>Subscription Plans</h2>
      
      <div class="row mt-3">
        <div class="col-lg-4 my-2 h-100" *ngFor="let plan of premiumPlans">          
          <div class="subscription-switch mb-2">
            <label class="switch_off" (click)="toggleBillingPlan(plan, false)">Billed Monthly</label>
            <input type="checkbox" [id]="plan.id" [checked]="plan.isYearly" (change)="toggleBillingPlan(plan, (plan.isYearly ? false: true))">
            <label class="switch_on" (click)="toggleBillingPlan(plan, true)">Billed Yearly</label>
          </div>
          <div class="premium-plan_box">
            <div class="plan_box">
              <div class="d-flex align-items-center justify-content-between">
                <h3>{{ plan.name }}</h3>
                <div class="premium_button">
                  <span>You have active {{ plan.name }} Plan</span>
                  <button class="premium_btn" (click)="editPlanPopup(plan.id)">Edit</button>
                </div>
              </div>
              <div class="premium-currency">
                <h6>{{ plan.isYearly==true ? plan.priceYearly : plan.priceMonthly }}<sub class="premium-month_title">.-{{ plan.currency }}/{{ plan.isYearly ? 'Year' : 'Month' }}</sub></h6>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <button class="choose-plan-btn" [disabled]="plan.quantity < 1">Choose Plan</button>
                </div>
              </div>
            </div>
            <hr class="premium_list-line">
            <div class="plan_box premium-plan-list">
              <h3>{{ plan.name }} Includes</h3>
              <ul class="premium_list">
                <li *ngFor="let feature of plan.includes">
                  <label>
                    <input type="checkbox" checked="checked" disabled>
                    <span class="checkmark"></span>{{ feature }}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 my-2 h-100">
          <div class="subscription-switch mb-2">
            <label class="switch_off" (click)="toggleBillingPlan(selectedPlan, false)">Billed Monthly</label>
            <input type="checkbox" 
                   [id]="selectedPlan?.id" 
                   [checked]="selectedPlan?.isYearly" 
                   (change)="toggleBillingPlan(selectedPlan, !selectedPlan?.isYearly)">
            <label class="switch_on" (click)="toggleBillingPlan(selectedPlan, true)">Billed Yearly</label>
          </div>
          
          <div class="premium-plan_box">
            <div class="plan_box">
              <div class="d-flex align-items-center justify-content-between">
                <h3>Multi-Country Plan</h3>
                <div class="premium_button">
                  <span>Active Multi-Country Plan</span>
                  <button class="premium_btn" (click)="editPlanPopup(selectedPlan?.id)">Edit</button>
                </div>
              </div>
              <div class="premium-currency">
                <h6>{{ selectedPlan?.isYearly ? selectedPlan?.priceYearly : selectedPlan?.priceMonthly }}
                  <sub class="premium-month_title">.-{{ selectedPlan?.currency }}/{{ selectedPlan?.isYearly ? 'Year' : 'Month' }}</sub>
                </h6>
              </div>
              
              <div class="row">
                <div class="col-lg-6">
                  <select  class="choose-plan-btn" (change)="onPlanSelect($event)">
                    <option *ngFor="let plan of otherPlans" [value]="plan.id">
                      {{ plan.name }}
                    </option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <button class="choose-plan-btn" [disabled]="selectedPlan?.quantity < 1">Choose Plan</button>
                </div>
              </div>
            </div>
            
            <hr class="premium_list-line">
            
            <div class="plan_box premium-plan-list">
              <h3>{{ selectedPlan?.name }} Includes</h3>
              <ul class="premium_list">
                <li *ngFor="let feature of selectedPlan?.includes">
                  <label>
                    <input type="checkbox" checked="checked" disabled>
                    <span class="checkmark"></span>{{ feature }}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-4 my-2 h-100" *ngFor="let plan of boostedPlans">
          
          <div class="subscription-switch mb-2">
            <label class="switch_off" (click)="toggleBillingPlan(plan, false)">Billed Monthly</label>
            <input type="checkbox" [id]="plan.id" [checked]="plan.isYearly" (change)="toggleBillingPlan(plan, (plan.isYearly ? false: true))">
            <label class="switch_on" (click)="toggleBillingPlan(plan, true)">Billed Yearly</label>
          </div>
          <div class="premium-plan_box">
            <div class="plan_box">
              <div class="d-flex align-items-center justify-content-between">
                <h3>{{ plan.name }}</h3>
                <div class="premium_button">
                  <span>You have active {{ plan.name }} Plan</span>
                  <button class="premium_btn" (click)="editPlanPopup(plan.id)">Edit</button>
                </div>
              </div>
              <div class="premium-currency">
                <h6>{{ plan.isYearly==true ? plan.priceYearly : plan.priceMonthly }}<sub class="premium-month_title">.-{{ plan.currency }}/{{ plan.isYearly ? 'Year' : 'Month' }}</sub></h6>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <button class="choose-plan-btn" [disabled]="plan.quantity < 1">Choose Plan</button>
                </div>
              </div>
            </div>
            <hr class="premium_list-line">
            <div class="plan_box premium-plan-list">
              <h3>{{ plan.name }} Includes</h3>
              <ul class="premium_list">
                <li *ngFor="let feature of plan.includes">
                  <label>
                    <input type="checkbox" checked="checked" disabled>
                    <span class="checkmark"></span>{{ feature }}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
