<div class="edit-multi-country-plan container border rounded p-0">
  <div class="personal_edit">
    <div class="dialog-header m-auto">
      <h2>{{ 'editMulti-countryPlan' | translate }}</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn" aria-label="Close" (click)="cancel()">X</button>
    </div>
  </div>
  <hr>

  <div class="country-plan">
    <div class="country-selection mb-4">
      <div class="form-group col-lg-4">
        <label for="select-countries">{{ 'selectCountries' | translate }}</label>
        <select class="form-select" id="select-countries" (change)="onCountrySelect($event)">
          <option value="" disabled selected>{{ 'selectACountries' | translate }}</option>
          <option
            *ngFor="let country of countries"
            [selected]="selectedPlan?.id == country.id"
            [value]="country.id">
            {{ country.package_name }}
          </option>
        </select>
      </div>

      <div class="explore-chip d-flex align-items-center mt-2">

        <div *ngFor="let item of selectedCountries">
          <div class="chip p-2">
            <!-- Check if label is not empty -->
            <span class="">
              <strong>{{item.package_name}} - {{(item.interval == 'yearly' ? 'Yearly' : 'Monthly')}}</strong>
            </span>
            <span>
              <button class="explore-chip_cut" (click)="confirmAndCancelSubscription(item.id, item.stripe_cancel_at == null ? false :true)">
                <svg width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
                  </path>
                </svg>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="subscription-type mt-5">
      <h2 class="mb-3">{{'subscriptionType' | translate}}</h2>
      <div class="form-check p-0">
        <input id="radio-1" class="form-check-input radio-custom" type="radio" name="isYearly"
               [value]="false" [(ngModel)]="isYearly" (change)="toggleBillingPlan(false)">
        <label for="radio-1" class="form-check-label radio-custom-label">{{'monthly' | translate}}</label>
      </div>
      <div class="form-check p-0">
        <input id="radio-2" class="form-check-input radio-custom" type="radio" name="isYearly"
               [value]="true" [(ngModel)]="isYearly" (change)="toggleBillingPlan(true)">
        <label for="radio-2" class="form-check-label radio-custom-label">{{'yearly' | translate}}</label>
      </div>
    </div>
  </div>

  <div class="country-plan-2">
    <p class="prorata-explanation mb-4">
      {{ 'editPlan-text' | translate }}
    </p>

    <div class="actions d-flex justify-content-end">
      <button class="btn action-cancel" (click)="cancel()">{{'cancel' | translate}}</button>
      <button
        class="btn buy-btn d-flex align-items-center gap-5"
        (click)="buyNow()"
        [disabled]="isPlanAlreadySelected()"
      >
        <div class="buy-button">
          <h4>
            {{ isYearly ? selectedPlan?.priceYearly : selectedPlan?.priceMonthly }}
            -{{ selectedPlan?.currency }}/{{ isYearly ? ('year' | translate ) : ('month' | translate) }}
          </h4>
          <p>{{'total' | translate}}</p>
        </div>
        {{'buyNow' | translate}}
      </button>

    </div>

  </div>
</div>
