.dialog-container {
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.personal_edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px;
}

.close-btn {
  background: none;
  font-size: 19px;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 9px;
  color: #849aa2;
  border: 4px solid #849aa2;
  border-radius: 50%;
}

.dialog-content {
  margin-top: 20px;
  padding: 0px 20px;
}

.form-group {
  margin-bottom: 26px;
  padding: 0px 32px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.start_bate{
  border-radius: 10px 0px 0px 10px !important;
  border: 1px solid #bbb7b7;
}

.end_bate{
  border-radius: 0px 10px 10px 0px !important;
  border-left: none !important;
  border: 1px solid #bbb7b7;
}

.form-group input, .form-group select , .form-group textarea {
  width:100%;
  padding: 14px;
  line-height: normal;
  border: 1px solid #bbb7b7;
  border-radius: 10px;
}

.date_inputs input{
  width: 48%;
}

.dialog-actions {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
}

.cancel-btn, .save-btn {
  padding: 14px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-btn {
  background: none;
  color: #f44336;
  font-weight: 700;
  width: 45%;
}

.save-btn {
  background: #58bc5c;
  color: white;
  font-weight: 700;
  width: 45%;
}
.dialog-header h2 {
  font-size: 20px;
  font-weight: 600;
}
.gap_inputs{
  padding-right: 12px;
}
.contract_end {
  border-left: none;
  width: 50% !important;
  border-left: none !important;
  border-radius: 0px 10px 10px 0px !important;
}
.contract_start{
  border-radius: 10px 0px 0px 10px !important;
  width: 50% !important;
}

.overflow-card{
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding:0px 20px 0px 20px;
}
.mat-mdc-dialog-surface{
  overflow: hidden !important;
}
.overflow-card::-webkit-scrollbar {
  width: 6px;
}
.overflow-card::-webkit-scrollbar-thumb {
  background: rgb(228, 228, 228);
  border-radius: 10px;
}

.social_network{
  position: relative;
}
.social_icon{
  position: absolute;
  top: 10px;
  left: 46px;
}
.social_network input {
  padding-left: 44px !important;
}
span.social_heddig {
  font-size: 16px;
  font-weight: 700;
}

.platform_wrapper {
  width: 100%;
}
.single_platform{
  width: 95%;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 8px 8px;
  display: inline-flex;
}

span.platform_input input {
  width: 100%;
  border: none;
  outline: none;
}

.lm-5 .single_platform{
  margin-left:5%;
}

span.platform_url {
  margin-left: 8px;
}

mat-datepicker-toggle{
  margin-left: -50px;
}

@media(max-width:768px){
  .mobile-input{
    width: 50% !important;
  }
  .form-group {
    margin-bottom: 26px;
    padding: 0px 26px;
}

}
