.unlock_page{
  position: relative;
    .unlock_btn{
        background: #6FB95D;
        padding: 10px 24px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        border-radius: 10px;
        border: none;
      }
      .upgrade_unlock{
        background: rgb(255 255 255 / 65%);
        position: absolute;
        height: 73%;
        width: 100%;
        top: 70px;
        right: 0;
        border-radius: 0px 0px 10px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  .card-header{
    border-bottom: 0px;
  }
  
  .font-w400{
    font-weight: 400!important;
  }
  .image_gallery-box{
    flex-wrap: wrap;
  }
  .user-details-left{
    .list-view h6{
        font-size: 12px;
        font-weight: 500;
    }
    .list-view p{
        font-size: 12px;
        color: #787878;
    }
  }
  
  .user-text{
    color: #111418;
  }
  
  .user-info{
    text-align: center;
    h6{
        font-weight: 400;
        color: #111418;
    }
    small{
        font-size: 12px;
        font-weight: 400;
        color: #111418;
        margin-bottom: 18px;
        display: block;
  
    }
  }
  .main-template{
    color: black;
  }
  
  .nav-tabs{
    &.user-tabs{
        border:0;
        border-bottom: 1px solid #E7E7E7;
        .nav-item{
            position: relative;
            .nav-link{
                border: 0;
                color: #023A4A;
                font-size: 14px;
                font-weight: 600;
                padding:16px 10px 11px 18px;
                svg{
                    margin-right: 10px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    height: 1px;
                    background: #023A4A;
                    width: 0px;
                    left: 50%;
                    bottom: 0px;
                    border-radius: 5px;
                    transform: translateX(-50%);
                    -webkit-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    transition: all 0.5;
                }
                &.active{
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
  
    }
  }
  
  .social-svg{
    margin-right: 11px;
  }
  
  .modal-delete{
    .text-danger{
        color:         #FD5454!important;
        font-weight: 500;
        font-size: 16px;
    }
    .modal-body{
        color: #111418;
        font-size: 16px;
        font-weight: 500;
    }
  }
  
  .tab-pane {
    display: none;
  }
  
  .tab-pane.show {
    display: block;
  }
  
  @media (max-width:1440px) {
    // .user-info h6{
    //   font-size: 20px !important;
    // }
  }
  @media (max-width:1024px) and (min-width:769px) {
    .col-lg-3.responsive-edit_btn{
      width: 100% !important;
    }
  }
  @media (max-width:768px) {
    .responsive-name{
      display: flex;
      flex-direction: row !important;
      margin: auto;
      row-gap: 10px;
    }
    .player-name-box{
      width:fit-content !important
    }
    .responsive-edit_btn{
      width: fit-content !important;
    }
    .image_gallery-box .col-lg-4{
      width: 50%;
    }
  }
  @media (max-width:1200px) and (min-width:769px) {
    .user-info {
      flex-direction: column !important;
      row-gap: 10px;
    }
    span.active_btn {
      margin: 0px 32px 0px 8px !important;
    }
  }
  @media (max-width:1024px) {
    .elton-box{
      flex-direction: column;
    }
    .elton-box .col-lg-6{
      width: 100%;
    }
    .boost_profile {
      margin-right: 16px;
  }
  
  }
  @media(max-width: 425px){
    .btn-outline-white {
      padding: 3px;
      border: 1px solid #D9D9D9;
      font-size: 10px;
      color: #787878;
      font-weight: 400;
      display: flex;
      align-items: center;
      border-radius: 5px !important;
      margin-right: 5px;
    }
  
    .btn-outline-white svg{
      height: 17px;
      width: 17px;
    }
    .paging-data{
      font-size:9px;
      font-weight: 500;
      margin-left: 5px;
    }
    .left-slide svg, .right-slide svg{
      height: 20px;
      width: 20px;
    }
    .forms_details .form-boxs{
        flex-direction: column !important;
    }
  
  }
  
  .user-pending-icon{
    max-width: 22px;
    margin-left: 10px;
  }
  
  .user-approved-icon{
    max-width: 26px;
    margin-left: 10px;
  }
  
  .user-rejected-icon{
    max-width: 22px;
    margin-left: 10px;
  }
  
  //   new csss
  .user-media {
    position: relative;
    // max-width: 178px ;
    min-width: 168px;
    width: 100%;
    height: 260px;
    margin: auto;
    background-color: #F6F6F6;
    // border-radius: 50%;
    overflow: hidden;
  }
  
  .user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-edit {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .edit-profile {
    position: absolute;
      width: 42px;
      top: 10px !important;
      right: 10px;
      height: 42px;
      margin-bottom: 5px;
      background: #fff;
      border: 1px solid;
      border-radius: 50%;
      padding: 8px;
  }
  .premium_button svg {
    width: 14px;
  }
  .premium_button span{
    font-size: 11px;
    font-weight: 500;
  }
  .premium_button {
    position: absolute;
    bottom: 16px;
    left: 16px;
    background: #fcc704;
    padding: 4px 30px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 20px;
    width: fit-content;
  }
  .premium_icons{
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
  .icon-bg button{
    background: #E4E4E4;
    border: 1px solid #C7C7C7;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 50px;
    cursor: pointer;
  }
  .club-icon {
    position: absolute;
    top: 138px;
    background-color: #E3E3E3;
    padding: 0.5rem;
    border-radius: 50%;
    right: 5px;
   
  }
  .light-theme .bg-color{
    background: #fff !important;
    border: 1px solid #1F4360 !important;
  }
  .light-theme .general_details.bg-color{
    border: 1px solid #1F4360 !important;
  }
  .club-icon-round{
    width: 30px;
    border-radius: 50%;
    height: 30px
  }
  .border-end, .border-bottom, .border-top{
    border-color: #E7E7E7 ;
  }
  .dark-theme h6.title_2 {
    color: #fff !important;
  }
  .profile-tab-content{
    color: #787878 ;
  }
  
  .border-bottom-card{
    border-bottom: 1px solid #e7e7e7;
  }
  
  .border-top-list-view{
    border-top:  1px solid #e7e7e7;
  }
  // new css end 
  .players_image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .nav-tabs.user-tabs .nav-item .nav-link {
    border: 0;
    color: #023A4A;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 38px 11px 24px;
  }
  .nav-tabs.user-{
    margin-top: 16px;
  }
  .edit_image {
    width: 20px;
  
  }
  .delete_image {
    width: 40px;
    background: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    margin-left: 8px;
  }
  .players_image{
    position: relative;
  }
  .edit-photo {
    position: absolute;
    bottom: 30px;
    right: 40px;
  }
  .edit_image-2 span{
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  }
  .edit_image-2 {
    background: #fff;
    padding: 6px 16px;
    border-radius: 6px;
  } 
  .edit_button button {
    border: 1px solid #918f8f;
    background: no-repeat;
    padding: 5px 8px;
    border-radius: 4px;
  }
  .edit_button span {
    font-size: 14px;
    color: #918f8f;
    padding-left: 6px;
    font-weight: 400;
  }
  .edit_icon {
    width: 20px;
    fill: #6d6d6d;
  }
  .players_image{
    height: 400px;
    width: 100%;
  }
  .user-info h6 {
    color: #111418;
    text-align: left;
    font-size: 23px;
    font-weight: 500; 
  }
  .team-badge_image img {
    width: 36px;
  }
  .title_2{
      font-size: 12px;
      color: #787878;
      font-weight: 400;
  }
  .team-badge_image.col-lg-3{
   padding: 0px 6px !important;
  }
  .title-1{
    font-size: 14px;
  }
  // .team-badge_content{
  //   margin-left: 10px;
  // }
  .elton-box{
    row-gap: 20px;
    padding: 12px 1.5rem 28px 1.5rem;
  }
  .settings svg {
    width: 20px;
    fill: #918f8f;
  }
  .Feature_images p {
    color: #918f8f;
  }
  .Feature_images h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .gallery_images img ,.gallery_images video {
    width: 100%;
    height: 116px !important;
    object-fit: cover !important;
  }
  .settings svg {
    width: 20px;
  }
  .gallery_images{
    padding: 2px;
  }
  .gallery_images img{
    height: 116px;
    object-fit: cover;
  }
  
  .image_gallery-box{
    row-gap: 3px;
  }
  .general_titels h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565555;
  }
  .general_titels{
    gap: 16px;
  }
  .details_2 {
    font-size: 16px;
    color: #a9a9a9;
    font-weight: 400;
  }
  .details-1 {
    font-size: 16px;
    font-weight: 400;
  }
  .position-image{
      width: 100%;
      object-fit: cover;
      max-height: 115px;
  }
  .position-boxs {
    gap: 20px;
    border-right: 1px solid #e7e7e7;
  }
  .social_icons .facebook{
    width: 12px;
    margin-right: 14px;
  }
  .social_icons .instagram{
    width: 20px;
    margin-right: 14px;
  }
  .email_box input {
    border: none;
    outline: none;
    background: inherit !important;
  }
  .bg-color{
    background: #fff;
  }
  .password_box input {
    border: none;
    outline: none;
  }
  input.password {
    border: 1px solid #e7dfdf !important;
    color: #b4b2b2;
    font-weight: 400 !important;
    padding: 4px 8px;
    font-size: 14px !important;
    border-radius: 6px;
    margin-left: 16px;
  }
  .forms_details form{
    gap: 16px;
  }
  .password_box input:-internal-autofill-selected{
    background-color: light-dark(rgb(255, 255, 255), rgba(255, 255, 255, 0.4)) !important;
  }
  .main-wrapper .card{
    background-color: inherit;
    border: none;
  }
  .card_box-1{
    border: none !important;
  }
  .user-media {
    border-radius: 10px 10px 0px 0px;
  }
  .card-bg{
    border-radius: 0px 0px 10px 10px;
  }
  .user-details-left .bg-color.card-bg{
      border: 1px solid #E7E7E7;
      border-top: none;
    }
  
  .image-gallery.bg-color{
    border-radius: 10px;
    border: 1px solid #E7E7E7 ;
  }
  .nav-tabs_box{
    border-radius: 10px;
    border: 1px solid #E7E7E7;
  
  }
  .general_details{
    border-radius: 10px;
      border: 1px solid #E7E7E7 ;
  }
  .email_box label {
    color: #9d9b9b;
    font-weight: 400;
    font-size: 16px;
  }
  .password_box label {
    color: #9d9b9b;
    font-weight: 400;
    font-size: 16px;
  }
  .boost_profile{
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: #000;
  }
  .boost_profile span {
    font-size: 14px;
    font-weight: 600;
  }
  .user-details-left .user-media {
    border: 1px solid #E7E7E7;
  }
  .boost_profile{
    background: #fff;
    border-radius: 20px;
    padding: 5px 8px;
  }
  .edit_icon-2{
    width: 20px;
    fill: #000;
  }
  span.active_btn {
    background: #236115;
    padding: 2px 8px;
    margin: 0px 52px 0px 8px;
    line-height: normal;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    font-weight: 400 !important;
  }
  @media(max-width:1024px){
    .player-name-box{
      padding: 0 !important;
    }    
  }
  
  @media (max-width:1200px) {
    .user-info h6 {
      font-size: 18px;
    }
  }
  .favourite_images{
    min-height: 260px;
  }
  .image-icon{
    margin-top: 60px;
    text-align: center;
  }
}

.card-header{
  border-bottom: 0px;
}

.font-w400{
  font-weight: 400!important;
}
.image_gallery-box{
  flex-wrap: wrap;
}
.user-details-left{
  .list-view h6{
      font-size: 12px;
      font-weight: 500;
  }
  .list-view p{
      font-size: 12px;
      color: #787878;
  }
}

.user-text{
  color: #111418;
}

.user-info{
  text-align: center;
  h6{
      font-weight: 400;
      color: #111418;
  }
  small{
      font-size: 12px;
      font-weight: 400;
      color: #111418;
      margin-bottom: 18px;
      display: block;

  }
}
.main-template{
  color: black;
}

.nav-tabs{
  &.user-tabs{
      border:0;
      border-bottom: 1px solid #E7E7E7;
      .nav-item{
          position: relative;
          .nav-link{
              border: 0;
              color: #023A4A;
              font-size: 14px;
              font-weight: 600;
              padding:16px 10px 11px 18px;
              svg{
                  margin-right: 10px;
              }
              &:after{
                  content: "";
                  position: absolute;
                  height: 1px;
                  background: #023A4A;
                  width: 0px;
                  left: 50%;
                  bottom: 0px;
                  border-radius: 5px;
                  transform: translateX(-50%);
                  -webkit-transition: all 0.2s;
                  -ms-transition: all 0.2s;
                  transition: all 0.5;
              }
              &.active{
                  &:after{
                      width: 100%;
                  }
              }
          }
      }

  }
}

.social-svg{
  margin-right: 11px;
}

.modal-delete{
  .text-danger{
      color:         #FD5454!important;
      font-weight: 500;
      font-size: 16px;
  }
  .modal-body{
      color: #111418;
      font-size: 16px;
      font-weight: 500;
  }
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width:1440px) {
  // .user-info h6{
  //   font-size: 20px !important;
  // }
}
@media (max-width:1024px) and (min-width:769px) {
  .col-lg-3.responsive-edit_btn{
    width: 100% !important;
  }
}
@media (max-width:768px) {
  .responsive-name{
    display: flex;
    flex-direction: row !important;
    margin: auto;
    row-gap: 10px;
  }
  .player-name-box{
    width:fit-content !important
  }
  .responsive-edit_btn{
    width: fit-content !important;
  }
  .image_gallery-box .col-lg-4{
    width: 50%;
  }
}
@media (max-width:1200px) and (min-width:769px) {
  .user-info {
    flex-direction: column !important;
    row-gap: 10px;
  }
  span.active_btn {
    margin: 0px 32px 0px 8px !important;
  }
}
@media (max-width:1024px) {
  .elton-box{
    flex-direction: column;
  }
  .elton-box .col-lg-6{
    width: 100%;
  }
  .boost_profile {
    margin-right: 16px;
}

}
@media(max-width: 425px){
  .btn-outline-white {
    padding: 3px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 5px;
  }

  .btn-outline-white svg{
    height: 17px;
    width: 17px;
  }
  .paging-data{
    font-size:9px;
    font-weight: 500;
    margin-left: 5px;
  }
  .left-slide svg, .right-slide svg{
    height: 20px;
    width: 20px;
  }
  .forms_details .form-boxs{
      flex-direction: column !important;
  }

}

.user-pending-icon{
  max-width: 22px;
  margin-left: 10px;
}

.user-approved-icon{
  max-width: 26px;
  margin-left: 10px;
}

.user-rejected-icon{
  max-width: 22px;
  margin-left: 10px;
}

//   new csss
.user-media {
  position: relative;
  // max-width: 178px ;
  min-width: 168px;
  width: 100%;
  height: 260px;
  margin: auto;
  background-color: #F6F6F6;
  // border-radius: 50%;
  overflow: hidden;
}

.user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-edit {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit-profile {
  position: absolute;
    width: 42px;
    top: 10px !important;
    right: 10px;
    height: 42px;
    margin-bottom: 5px;
    background: #fff;
    border: 1px solid;
    border-radius: 50%;
    padding: 8px;
}
.premium_button svg {
  width: 14px;
}
.premium_button span{
  font-size: 11px;
  font-weight: 500;
}
.premium_button {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #fcc704;
  padding: 4px 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 20px;
}


.club-icon {
  position: absolute;
  top: 138px;
  background-color: #E3E3E3;
  padding: 0.5rem;
  border-radius: 50%;
  right: 5px;
 
}
.light-theme .bg-color{
  background: #fff !important;
  border: 1px solid #1F4360 !important;
}
.light-theme .general_details.bg-color{
  border: 1px solid #1F4360 !important;
}
.club-icon-round{
  width: 30px;
  border-radius: 50%;
  height: 30px
}
.border-end, .border-bottom, .border-top{
  border-color: #E7E7E7 ;
}
.dark-theme h6.title_2 {
  color: #fff !important;
}
.profile-tab-content{
  color: #787878 ;
}

.border-bottom-card{
  border-bottom: 1px solid #e7e7e7;
}

.border-top-list-view{
  border-top:  1px solid #e7e7e7;
}
// new css end 
.players_image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.nav-tabs.user-tabs .nav-item .nav-link {
  border: 0;
  color: #023A4A;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 38px 11px 24px;
}
.nav-tabs.user-{
  margin-top: 16px;
}
.edit_image {
  width: 20px;

}
.delete_image {
  width: 40px;
  background: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  margin-left: 8px;
}
.players_image{
  position: relative;
}
.edit-photo {
  position: absolute;
  bottom: 30px;
  right: 40px;
}
.edit_image-2 span{
margin-left: 10px;
font-size: 14px;
font-weight: 700;
color: #000;
}
.edit_image-2 {
  background: #fff;
  padding: 6px 16px;
  border-radius: 6px;
} 
.edit_button button {
  border: 1px solid #918f8f;
  background: no-repeat;
  padding: 5px 8px;
  border-radius: 4px;
}
.edit_button span {
  font-size: 14px;
  color: #918f8f;
  padding-left: 6px;
  font-weight: 400;
}
.edit_icon {
  width: 20px;
  fill: #6d6d6d;
}
.players_image{
  height: 400px;
  width: 100%;
}
.user-info h6 {
  color: #111418;
  text-align: left;
  font-size: 23px;
  font-weight: 500; 
}
.dashboard-icons svg{
  max-width: 36px;
}
.team-badge_image img {
  width: 100%;
  max-width: 36px;
}
.title_2{
    font-size: 12px;
    color: #787878;
    font-weight: 400;
}
.team-badge_image.col-lg-3{
 padding: 0px 6px !important;
}
.title-1{
  font-size: 14px;
}
// .team-badge_content{
//   margin-left: 10px;
// }
.elton-box{
  row-gap: 20px;
  padding: 12px 1.5rem 28px 1.5rem;
}
.settings svg {
  width: 20px;
  fill: #918f8f;
}
.Feature_images p {
  color: #918f8f;
}
.Feature_images h2 {
  font-size: 20px;
  font-weight: 400;
}
.gallery_images img ,.gallery_images video {
  width: 100%;
  height: 116px !important;
  object-fit: cover !important;
}
.settings svg {
  width: 20px;
}
.gallery_images{
  padding: 2px;
}
.gallery_images img{
  height: 116px;
  object-fit: cover;
}

.image_gallery-box{
  row-gap: 3px;
}
.general_titels h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #565555;
}
.general_titels{
  gap: 16px;
}
.details_2 {
  font-size: 16px;
  color: #a9a9a9;
  font-weight: 400;
}
.details-1 {
  font-size: 16px;
  font-weight: 400;
}
.position-image{
    width: 100%;
    object-fit: cover;
    max-height: 115px;
}
.position-boxs {
  gap: 20px;
  border-right: 1px solid #e7e7e7;
}
.social_icons .facebook{
  width: 12px;
  margin-right: 14px;
}
.social_icons .instagram{
  width: 20px;
  margin-right: 14px;
}
.email_box input {
  border: none;
  outline: none;
  background: inherit !important;
}
.bg-color{
  background: #fff;
}
.password_box input {
  border: none;
  outline: none;
}
input.password {
  border: 1px solid #e7dfdf !important;
  color: #b4b2b2;
  font-weight: 400 !important;
  padding: 4px 8px;
  font-size: 14px !important;
  border-radius: 6px;
  margin-left: 16px;
}
.forms_details form{
  gap: 16px;
}
.password_box input:-internal-autofill-selected{
  background-color: light-dark(rgb(255, 255, 255), rgba(255, 255, 255, 0.4)) !important;
}
.main-wrapper .card{
  background-color: inherit;
  border: none;
}
.card_box-1{
  border: none !important;
}
.user-media {
  border-radius: 10px 10px 0px 0px;
}
.card-bg{
  border-radius: 0px 0px 10px 10px;
}
.user-details-left .bg-color.card-bg{
    border: 1px solid #E7E7E7;
    border-top: none;
  }

.image-gallery.bg-color{
  border-radius: 10px;
  border: 1px solid #E7E7E7 ;
}
.nav-tabs_box{
  border-radius: 10px;
  border: 1px solid #E7E7E7;

}
.general_details{
  border-radius: 10px;
    border: 1px solid #E7E7E7 ;
}
.email_box label {
  color: #9d9b9b;
  font-weight: 400;
  font-size: 16px;
}
.password_box label {
  color: #9d9b9b;
  font-weight: 400;
  font-size: 16px;
}
.boost_profile{
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #000;
}
.boost_profile span {
  font-size: 14px;
  font-weight: 600;
}
.user-details-left .user-media {
  border: 1px solid #E7E7E7;
}
.boost_profile{
  background: #fff;
  border-radius: 20px;
  padding: 5px 8px;
}
.edit_icon-2{
  width: 20px;
  fill: #000;
}
span.active_btn {
  background: #236115;
  padding: 2px 8px;
  margin: 0px 52px 0px 8px;
  line-height: normal;
  border-radius: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: 400 !important;
}
@media(max-width:1024px){
  .player-name-box{
    padding: 0 !important;
  }
  
}
@media (max-width:1200px) {
  .user-info h6 {
    font-size: 18px;
  }
}
// .tour-tooltip {
//   background-color: #ffffff;
//   border-radius: 8px;
//   padding: 12px 16px;
//   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
// }

// .tour-tooltip .title {
//   font-weight: bold;
//   font-size: 16px;
//   color: #333333;
// }

// .tour-tooltip .content {
//   font-size: 14px;
//   color: #666666;
//   margin-top: 8px;
// }

// .tour-tooltip button {
//   background: none;
//   border: none;
//   color: #0066cc;
//   cursor: pointer;
//   font-weight: bold;
// }

// .tour-tooltip button:hover {
//   color: #004a99;
//   text-decoration: underline;
// }
$tour-zindex: 1081 !default;
$tour-step-color: #ffffff !default;
$tour-text-color: #231f1f !default;
$tour-next-button-color: #007bff !default;
$tour-next-button-hover: #0069d9 !default;
$tour-back-button-color: #007bff !default;
$tour-next-text-color: #ffffff !default;
$tour-next-text-hover: #ffffff !default;
$tour-skip-link-color: #5e5e5e !default;
$tour-orb-color: #625aff !default;
$tour-shadow-color: #4c4c4c !default;

body.tour-open {
    overflow: hidden;
}

@mixin tour-triangle($direction, $color: currentColor, $size: 1rem) {

    @if not index(top right bottom left, $direction) {
        @error 'Direction must be either `top`, `right`, `bottom` or `left`.';
    }

    $opposite-direction: top;

    @if $direction==top {
        $opposite-direction: bottom;
    }

    @if $direction==bottom {
        $opposite-direction: top;
    }

    @if $direction==right {
        $opposite-direction: left;
    }

    @if $direction==left {
        $opposite-direction: right;
    }

    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    border-#{$opposite-direction}: $size solid $color;
    $perpendicular-borders: $size solid transparent;
    @if $direction==top or $direction==bottom {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
    }
    @else if $direction==right or $direction==left {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
    }
}

ngx-guided-tour {
    .guided-tour-user-input-mask {
        z-index: $tour-zindex;
    }

    .guided-tour-spotlight-overlay {
        z-index: $tour-zindex + 1;
    }

    .tour-orb {
        z-index: $tour-zindex - 2;
        background-color: $tour-orb-color;
        box-shadow: 0 0 0.3rem 0.1rem $tour-orb-color;

        .tour-orb-ring {
            &::after {
                border: 1rem solid $tour-orb-color;
                box-shadow: 0 0 0.1rem 0.1rem $tour-orb-color;
            }
        }
    }

    .tour-step {
        z-index: $tour-zindex + 2;

        &.tour-bottom, &.tour-bottom-right, &.tour-bottom-left {
            .tour-arrow::before {
                @include tour-triangle(top, $tour-step-color);
            }
        }

        &.tour-top, &.tour-top-right, &.tour-top-left {
            .tour-arrow::before {
                @include tour-triangle(bottom, $tour-step-color);
            }
        }

        &.tour-left {
            .tour-arrow::before {
                @include tour-triangle(right, $tour-step-color);
            }
        }

        &.tour-right {
            .tour-arrow::before {
                @include tour-triangle(left, $tour-step-color);
            }
        }

        .tour-block {
            color: $tour-text-color;
            background-color: $tour-step-color;
            box-shadow: 0 0.4rem 0.6rem $tour-shadow-color;
        }

        .tour-buttons {
            button.skip-button {
                color: $tour-skip-link-color;
            }

            .back-button {
                color: $tour-back-button-color;
            }

            .next-button {
                background-color: $tour-next-button-color;
                color: $tour-next-text-color;
                &:hover {
                    background-color: $tour-next-button-hover;
                    color: $tour-next-text-hover;
                }
            }
        }
    }

}

ngx-guided-tour {
  .guided-tour-user-input-mask {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      max-height: 100vh;
      text-align: center;
      opacity: 0;
  }

  .guided-tour-spotlight-overlay {
      position: fixed;
      box-shadow: 0 0 0 9999px rgba(0,0,0,.7), 0 0 1.5rem rgba(0,0,0,.5);
  }

  .tour-orb {
      position: fixed;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      .tour-orb-ring {
          width: 35px;
          height: 35px;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: pulse 2s linear infinite;

          &:after {
              content: '';
              display: inline-block;
              height: 100%;
              width: 100%;
              border-radius: 50%;
          }
      }

      @keyframes pulse {
          from {
              transform: translate(-50%, -50%) scale(0.45);
              opacity: 1.0;
          }
          to {
              transform: translate(-50%, -50%) scale(1);
              opacity: 0.0;
          }
      }
  }

  .tour-step {
      position: fixed;
      &.page-tour-step {
          max-width: 400px;
          width: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%)
      }
      &.tour-bottom, &.tour-bottom-right, &.tour-bottom-left {
          .tour-arrow::before {
              position: absolute;
          }
          .tour-block {
              margin-top: 10px;
          }
      }

      &.tour-top, &.tour-top-right, &.tour-top-left {
          margin-bottom: 10px;

          .tour-arrow::before {
              position: absolute;
              bottom: 0;
          }
          .tour-block {
              margin-bottom: 10px;
          }
      }

      &.tour-bottom , &.tour-top {
          .tour-arrow::before {
              transform: translateX(-50%);
              left: 50%;
          }
      }

      &.tour-bottom-right, &.tour-top-right {
          .tour-arrow::before {
              transform: translateX(-100%);
              left: calc(100% - 5px);
          }
      }

      &.tour-bottom-left, &.tour-top-left {
          .tour-arrow::before {
              left:  5px;
          }
      }

      &.tour-left {
          .tour-arrow::before {
              position: absolute;
              left: 100%;
              transform: translateX(-100%);
              top: 5px;
          }
          .tour-block {
              margin-right: 10px;
          }
      }

      &.tour-right {
          .tour-arrow::before {
              position: absolute;
              left: 0;
              top: 5px;
          }
          .tour-block {
              margin-left: 10px;
          }
      }

      .tour-block {
          padding: 15px 25px;
      }

      .tour-progress-indicator {
          padding-bottom: 15px;
      }

      .tour-title {
          font-weight: bold !important;
          padding-bottom: 20px;
      }

      h3.tour-title {
          font-size: 20px;
      }
      h2.tour-title {
          font-size: 30px;
      }

      .tour-content {
          min-height: 80px;
          padding-bottom: 30px;
          font-size: 15px;
      }

      .tour-buttons {
          overflow: hidden; // clearfix

          button.link-button {
              padding-left: 0;
              font-size: 15px;
              font-weight: bold;
              max-width: none !important;
              cursor: pointer;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              border: 1px solid transparent;
              line-height: 1.5;
              background-color: transparent;
              position: relative;
              outline: none;
              padding: 0 15px;
              -webkit-appearance: button;
          }

          button.skip-button.link-button {
              padding-left: 0;
              border-left: 0;
          }

          .back-button {
              float: right;
          }

          .next-button {
              cursor: pointer;
              border-radius: 1px;
              float: right;
              font-size: 14px;
              border: none;
              outline: none;
              padding-left: 10px;
              padding-right: 10px;
          }
      }
  }
}
