.container {
    padding: 20px;
  }
  
  .card {
    margin: 10px 0;
  }
  .card-billing{
    font-size: 18px;
    font-weight: 700;
    color: rgb(126, 126, 126);
  }
  button.payments-btn {
    padding: 14px 46px;
    background: #75bb63;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
}
.page-content .card-header{
  padding: 10px 26px;
}
.premium-card {
  background: #75bb63;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  border: 1px solid #9d0808;
}
sub.premium-month_title {
    font-size: 14px;
    font-weight: 400;
}
.premium-card_box .col-lg-4{
  padding: 0px 8px;
}
.premium-card h5 {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
}
.premium-card h6 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}
button.premium-subscription_btn {
  border: 1px solid red;
  padding: 6px 8px;
  background: #fff;
  font-size: 14px;
  color: red;
  font-weight: 500;
  border-radius: 6px;
}
button.premium-edit_btn {
  border: none;
  background: none;
  color: #fff;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 300;
}
.premium-card p {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}
.export-btn span svg{
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #e9e9e9;
  margin: 5px;
  padding: 8px;
  border-radius: 50%;
}
.export_button{
  margin-right: 10px;
}
.export-btn span svg{
  fill: #bbbbbb;
}
.export-btn button {
  border: 1px solid #bbbbbb;
  background: none;
  color: #a1a0a0;
  font-weight: 300;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 6px;
}
.table_slide{
  color: #8e8e8e;
}