<div >

  <div class="p-3">
    <div><h4 class="text-center mb-3 title-text">New Message</h4></div>

    <div class="close-img" (click)="close()">
    </div>
  </div>

    <div class="inbox-body">
      <div class="text-center w-100 body-background">
        <mat-form-field class="example-chip-list inbox-wrapper bg-white ">
          <!-- <mat-label>To:</mat-label> -->
           <!-- <span>To:</span> -->
          <mat-chip-grid #chipGrid aria-label="Fruit selection " class="messanger-selector bg-white" >
            <p class="mt-2">To:</p>
            @for (user of users; track $index) {
              <mat-chip-row (removed)="remove(user)">
                <img width="20" height="20" class="img-list" src="../../../../../assets/images/1.jpg">
                {{user?.first_name}}
                <span  matChipRemove [attr.aria-label]="'remove ' + user" class="cancel-icon" > </span>
              </mat-chip-row>
            }
            <input
              placeholder="Search users..."
              #userInput
              [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputFor]="chipGrid"
              (focus)="callListApi(userInput)"
            />
          </mat-chip-grid>
         
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" class="listBox">
              @for (user of filteredUsers; track user) {
                <mat-option [value]="user" class="fruit-font">
                  <img width="50" height="50" class="img-list" src="../../../../../assets/images/1.jpg">
                  {{user.first_name}}
                </mat-option>
              }
            </mat-autocomplete>

        </mat-form-field>
      </div>

    </div>

</div>

