.main-template{
    color: black;
}

.Performance-btn {
    border-radius: 7px;
    padding: 2px 15px;
    color: black;
    border: 1px solid black;
    font-weight: 400;
}
.Performance-btn:hover {
   background-color: transparent ;
}
.table tbody tr:hover td {
    border-top: none !important; 
    border-bottom: none !important; 
}
.testing{
    background-image: url('../../../../../assets/images/players-2.jpg');
    height: 200px;
}

.pointer{
    cursor: pointer;
}

.form-control{
    width:80px;
}

select.form-control{
    min-width:190px;
    width: 80%;

}
.coach-debt-input{
    min-width: 150px;
    width: 80%;
}
.year-input{
    max-width: 120px;
    width: 100px; 
}

.select-wrapper {
position: relative;
display: inline-block;
}

.dropdown-icon {
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
pointer-events: none; 
}

.w-10{
    width:10%;
}

  


