.main-template{
    color: black;
}

.Performance-btn {
    border-radius: 7px;
    padding: 2px 15px;
    color: black;
    border: 1px solid black;
    font-weight: 400;
}
.Performance-btn:hover {
   background-color: transparent ;
}
.table tbody tr:hover td {
    border-top: none !important; 
    border-bottom: none !important; 
}
.testing{
    background-image: url('../../../../../assets/images/players-2.jpg');
    height: 200px;
}