.close-btn{
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
    padding: 2px 9px;
    color: #849aa2;
    border: 4px solid #849aa2;
    border-radius: 50%;

}
.player-elton-img img{
    border-radius: 50%;
    object-fit: cover;
}
.close_buttons{
    margin-left: auto;
    text-align: end;
}
.close_buttons {
    padding:20px 20px 0px 20px;
}
.player-title h6 {
    font-weight: 600;
}
.elton-btn {
    width: fit-content;
    background: none;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 6px 8px;
    margin-left: 10px;
}
.elton-btn img {
    border-radius: 50%;
}
.elton-close_btn{
    border: none;
    background: none;
}
.details_2{
    font-size: 16px;
    color: #a9a9a9;
    font-weight: 400;
}
.details-1{
    font-size: 16px ;
    font-weight: 500;
    padding: 0px 10px;
}
.general-details h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565555;
    margin: 30px 0px 38px 0px;
}
.general-details-items{
    row-gap: 10px;
}
.general-details_box{
    row-gap: 42px;
}
.email_box input {
    background: none !important;
    border: none;
    outline: none;
}
.password_box input {
    background: none ;
    border: none;
    outline: none;
}
.personal-details h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565555;
    margin-top: 56px;
    margin-bottom: 30px;
}
.player-profile .overflow-card{
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0px 20px 0px 20px;
}
.mat-mdc-dialog-surface{
    overflow: hidden !important;
}
.player-profile .overflow-card::-webkit-scrollbar {
    width: 6px;
  }
.player-profile .overflow-card::-webkit-scrollbar-thumb {
    background: rgb(228, 228, 228); 
    border-radius: 10px;
  }
@media (max-width:425px) {
    .player-elton{
        margin-top: 20px;
    }
}
