<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12 footer-contact">
          <div class="footer-logo">
            <img src="./assets/images/pink-logo.png">
          </div>

          <ul class="social-link">
            <li class="insta-icon">
              <i class="fa-brands fa-instagram"></i>
            </li>
            <li class="linkedin-icon">
              <i class="fa-brands fa-linkedin-in"></i>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-4  col-12 footer-links">
          <h4>{{ 'product' | translate }}</h4>
          <ul>
            <li><a [routerLink]="'/pricing'">{{ 'pricing' | translate }}</a></li>
            <li>
              <a href="javascript:void(0);" class="login-btn" data-bs-toggle="modal"
                data-bs-target="#exampleModal-login">
                {{ 'signIn' | translate }}
                <svg class="ms-2" width="8" height="12" viewBox="0 0 8 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                </svg>
              </a>
            </li>
            <li>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1">
                {{ 'createAccount' | translate }}</a>
            </li>
            <li><a [routerLink]="'/faq'">{{ 'faq' | translate }}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-4  col-12 footer-links">
          <h4>{{ 'company' | translate }}</h4>
          <ul>
            <li><a [routerLink]="'/talent'">{{ 'talents' | translate }}</a></li>
            <li><a [routerLink]="'/club'">{{ 'clubsAndScouts' | translate }}</a></li>
            <li><a [routerLink]="'/about'">{{ 'about' | translate }}</a></li>
            <li><a [routerLink]="'/news'">{{ 'news&Media' | translate }}</a></li>
            <li><a [routerLink]="'/contact'">{{ 'contact' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-12 footer-links">
          <h4>{{ 'legal' | translate }}</h4>
          <ul>
            <li><a [routerLink]="'/imprint'">{{ 'imprint' | translate }}</a></li>
            <li><a [routerLink]="'/privacy'">{{ 'privacy' | translate }}</a></li>
            <li><a [routerLink]="'/terms'">{{ 'terms' | translate }}</a></li>
            <li><a [routerLink]="'/cookie'">{{ 'cookiePolicy' | translate }}</a></li>
          </ul>
        </div>
      </div>


      <div class="form-select1">
        <a class="form-select select-country" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ name }}
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <p class="country">{{ 'selectCountry' | translate }}</p>
          <a *ngFor="let country of countrie" href="{{ country.url }}" class="dropdown-item ai-icon options-country"
            [class.selected]="name === country.name" (click)="ChangeLang(country.name)">
            <img src="https://api.socceryou.ch/uploads/logos/{{country.flag}}" width="30" height="24" class="me-3">
            <span>{{ country.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>    

  <div class="footer-bottom bgprimary">
    <div class="text-center text-white">
      <p class="mb-0">{{ 'copyright' | translate }}</p>
    </div>
  </div>
</footer>