<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12 footer-contact">
          <div class="footer-logo">
            <img src="./assets/images/pink-logo.png">
          </div>

          <ul class="social-link">
            <li class="insta-icon">
              <i class="fa-brands fa-instagram"></i>
            </li>
            <li class="linkedin-icon">
              <i class="fa-brands fa-linkedin-in"></i>
            </li>

          </ul>
        </div>

        <div class="col-lg-2 col-md-4  col-12 footer-links">
          <h4>{{ 'footerTranslate.product' | translate }}</h4>
          <ul>
            <li><a [routerLink]="'/pricing'">{{ 'footerTranslate.pricing' | translate }}</a></li>
            <li>
              <a href="javascript:void(0);" class="login-btn" data-bs-toggle="modal"
                data-bs-target="#exampleModal-login">
                {{ 'footerTranslate.signIn' | translate }}
                <svg class="ms-2" width="8" height="12" viewBox="0 0 8 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                </svg>
              </a>
            </li>
            <li>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1">
                {{ 'footerTranslate.createAccount' | translate }}</a>
            </li>
            <li><a [routerLink]="'/faq'">{{ 'footerTranslate.faq' | translate }}</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-4  col-12 footer-links">
          <h4>{{ 'footerTranslate.company' | translate }}</h4>
          <ul>
            <li><a [routerLink]="'/talent'">{{ 'footerTranslate.talents' | translate }}</a></li>
            <li><a [routerLink]="'/club'">{{ 'footerTranslate.club$Scouts' | translate }}</a></li>
            <li><a [routerLink]="'/about'">{{ 'footerTranslate.about' | translate }}</a></li>
            <li><a [routerLink]="'/news'">{{ 'footerTranslate.news&Media' | translate }}</a></li>
            <li><a [routerLink]="'/contact'">{{ 'footerTranslate.contact' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-12 footer-links">
          <h4>{{ 'footerTranslate.legal' | translate }}</h4>
          <ul>
            <li><a [routerLink]="'/imprint'">{{ 'footerTranslate.imprint' | translate }}</a></li>
            <li><a [routerLink]="'/privacy'">{{ 'footerTranslate.privacy' | translate }}</a></li>
            <li><a [routerLink]="'/terms'">{{ 'footerTranslate.terms' | translate }}</a></li>
            <li><a [routerLink]="'/cookie'">{{ 'footerTranslate.cookiePolicy' | translate }}</a></li>
          </ul>
        </div>
      </div>

      <div class="select-country">
        <a class="c-name">{{ 'footerTranslate.selectCountry' | translate }}</a>
        <select class="form-select" aria-label="Default select example" (change)="onCountryChange($event)">
          <option value="" disabled selected class="country">{{ 'footerTranslate.selectCountry' | translate }}</option>
          <option *ngFor="let country of countries" [value]="country.id" [selected]="country.slug === 'ch'" class="options-country">
            <!-- Use country.flag for the correct flag image -->
            <img [src]="'https://api.socceryou.ch/uploads/logos/' + country.flag" width="30" height="24" class="me-2" />
            {{ country.name }}
          </option>
        </select>
      </div>
      



    </div>
  </div>

  <div class="footer-bottom bgprimary">
    <div class="text-center text-white">
      <p class="mb-0">{{ 'footerTranslate.copyright' | translate }}</p>
    </div>
  </div>
</footer>