.mat-mdc-dialog-surface.mdc-dialog__surface {
    z-index: 9 !important;
  }

  .dropdown-market .dropdown-toggle::after{
   
      display: none;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
  }
  

  @media(max-width: 425px){
    .btn-outline-white {
      padding: 5px;
      border: 1px solid #D9D9D9;
      font-size: 10px;
      color: #787878;
      font-weight: 400;
      display: flex;
      align-items: center;
      border-radius: 5px !important;
      margin-right: 7px;
    }

    .paging-data{
      font-size:12px;
      font-weight: 500;
      margin-left: 5px;
    }
    .left-slide svg, .right-slide svg{
      height: 20px;
      width: 20px;
    }

    .marketing-main-checkbox{
      padding: 3px  !important;
      font-size: 12px !important;
      border-radius: 4px;
    }
    
    .heading{
      justify-content: space-between;
    }
    .marketing-header-bar{
      flex-direction: column;
    }
    .marketing-header-bar .card-search{
      margin-top: 10px;
      width: 100%;
    }

  }

  @media(max-width: 360px){
    .btn-outline-white {
      padding: 3px;
      border: 1px solid #D9D9D9;
      font-size: 10px;
      color: #787878;
      font-weight: 400;
      display: flex;
      align-items: center;
      border-radius: 5px !important;
      margin-right: 7px;
    }

    .form-check-input{
      margin-top: 6px;
    }

    .marketing-main-checkbox{
      padding: 3px  !important;
      font-size: 12px !important;
      border-radius: 4px;
    }

    .card-title {
      font-size: 14px;
    }

    .input-filter-text{
      font-size: 10px;
    }
    .filter-svg svg{
        height: 12px;
        width: 12px;
    }
    .card-search .input-group .input-group-text svg{
      height: 12px;
      width: 12px;
    }
    .marketing-header-bar{
      flex-direction: column;
    }
    .marketing-header-bar .card-search{
      margin-top: 10px;
    }
  }

  @media (max-width: 768px) {
    .table td, .table th {
      white-space: nowrap;
    }

    .table td {
      padding: 0.5rem;
    }
  }


  .form-control:focus{
    box-shadow: inherit;
  }

  .input-filter-text{
    font-size: 14px;
  }
  .marketing-main-checkbox{
    border-radius: 5px;
  }

  .pointer{
    cursor: pointer;
  }

  .main-popup-div .mat-mdc-select-trigger {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 8rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 4px;
}