<div class="dialog-container">
    <div class="personal_edit">
    <div class="dialog-header">
      <h2>Country Selection Confirmation</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn">X</button>
    </div>
    </div>
    <hr>
    <div class="country-information">
        <p>By adding countries, your profile will be showcased in that country. Your profile would be visible to all the Talent, Clubs and Scouts of that country.</p>
        <h2>Do you want to add “Country Name” to your profile?</h2>
        <div class="d-flex country-btn justify-content-between">
            <button class="cancel-button">Cancel</button>
            <button class="confirm-button">Confirm</button>
        </div>
    </div>
</div>
