.personal_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
}
.dialog-header h2 {
    font-size: 20px;
    font-weight: 600;
}
.dialog-header p{
    color: #9B9A9A;
    font-size: 12px;
    font-weight: 400;
}
.close-btn {
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
    padding: 2px 9px;
    color: #849aa2;
    border: 4px solid #849aa2;
    border-radius: 50%;
}
.upload-btn{
    width: 100%;
    background: #6FB95D;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 15px;
    border: none;
}
.player-image_box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.upload-photos{
    padding:0px 16px 16px 16px;
}
.player-image_box{
    position: relative;
}
.round-checkbox {
    position: absolute;
    top: 6px;
    right: 32px;
}

.round-checkbox label {
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round-checkbox label:after {
    border: 2px solid #6FB95D;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.round-checkbox input[type="checkbox"]:checked + label {
    background-color: #fff;
    border-color: #fff;
}

.round-checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.all-photos .col-lg-3,.all-videos .col-lg-3{
    padding: 0px 5px;
}
.upload-player-image{
    row-gap: 22px;
    padding: 0px 10px;
}
.upload-titel{
        font-size: 14px;
        color: #111418;
        font-weight: 700;
        margin-bottom: 10px;
}

.upload-photos .overflow-card{
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0px 20px 0px 20px;
}
.mat-mdc-dialog-surface{
    overflow: hidden !important;
}
.upload-photos .overflow-card::-webkit-scrollbar {
    width: 6px;
}
.upload-photos .overflow-card::-webkit-scrollbar-thumb {
    background: rgb(228, 228, 228); 
    border-radius: 10px;
}
.cancel-btn, .save-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cancel-btn {
    background: none;
    color: #f44336;
    font-weight: 700;
    width: 45%;
}
.save-btn {
    background: #58bc5c;
    color: white;
    font-weight: 700;
    width: 45%;
}
.all-videos .player-image_box video{
   width: 170px;
}
.player-image_box video{
    height: 200px !important;
    object-fit: cover;
}
