.user-right-content > div{
    margin-bottom: 24px;
}
.user-right-content{
    padding: 28px 19px;
    h6{
        color: #111418;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 32px;

    }
    .fc-club-img{
        width: 38px;
        height: 36px;
    }
    .fc-img{
        width: 24px;
        height: 26px;
        margin-right: 3px;
        &.style-1{
            margin-right: 0;
            margin-left: 3px;
            
        }
    }
    .team-details{
        &.style-1{
            margin-bottom: 47px;
        }
        p{
            color: #787878;
            opacity: 0.8;
            margin-bottom: 10px;
        }
        h6{
            color: #111418;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0;
        }
        img{
            margin-right: 7px;
        }
    }
}

.team-details-sub{
    margin-bottom: 19px;
}

td{
    font-size: 14px;
}

.table thead  {
    border-radius: 10px ; 
    overflow: hidden;
    }

    .border-table-thead thead{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 

    }

    .table-scout-profile{
    border-radius:10px ;
    border: 1px solid #E5E5E5;
    }


.custom-select {
    min-width: 114px;
    height: 26px;
    width: 176px;
}

.custom-select select {
    appearance: none;
    width: 100%;
    min-width: 114px;
    height: 26px;
    // width: 60%;
    background-color: #caced1;
    border: 0px solid #caced1;
    border-radius: 0.25rem;
    color: #148DE4;
    cursor: pointer;
}


.custom-select {
    min-width: 114px;
    height: 26px;
    width: 50% !important;
    padding-left: 8px ;
    border: 0px solid #caced1;
    color: #148DE4;
    cursor: pointer;
    background-color: #23611500;
    border-radius: 10px;
}

.custom-select:focus-visible {
    outline: 0 !important ;
}

.custom-select:after { 
    border-radius: 50%;
}


.pointer{
    cursor: pointer;
}