<div class="dialog-container">
  <div class="personal_edit">
    <div class="dialog-header m-auto">
      <h2>{{ 'editUserPersonalDetails' | translate }}</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn" (click)="onCancel()">X</button>
    </div>
  </div>
  <hr>


  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="overflow-card">
      <div class="row">
        <!-- First Name -->
        <div class="form-group col-lg-6">
          <label for="first_name">{{ 'firstName' | translate }}:</label>
          <input type="text" id="first_name" name="first_name" [(ngModel)]="firstName" required>
        </div>

        <!-- Last Name -->
        <div class="form-group col-lg-6">
          <label for="last_name">{{ 'lastName' | translate }}:</label>
          <input type="text" id="last_name" name="last_name" [(ngModel)]="lastName" required>
        </div>
      </div>

      <div class="row">
        <!-- Current Club -->
        <div class="form-group col-lg-6">
          <label for="currentClub">{{ 'currentClub' | translate }}:</label>
          <select id="currentClub" name="currentClub" [(ngModel)]="currentClub" required>
            <option *ngFor="let team of teams; let last = last" [value]="team.id"
              [selected]="team.id === currentClub || last && !currentClub">
              {{ team.club_name ?? team.last_name }}
            </option>
          </select>
        </div>

        <!-- Nationality -->
        <div class="form-group col-lg-6">
          <label for="nationality">{{ 'nationality' | translate }}:</label>
          <select id="nationality" name="nationality" [(ngModel)]="user.nationality" required>
            <option *ngFor="let country of countries" [value]="country.id">{{ country.country_name }}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <!-- Date of Birth -->
        <div class="form-group col-lg-6">
          <label for="dateOfBirth">{{ 'dateOfBirth' | translate }}:</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" required>
        </div>

        <!-- Place of Birth -->
        <div class="form-group col-lg-6">
          <label for="placeOfBirth">{{ 'placeOfBirth' | translate }}:</label>
          <input type="text" id="placeOfBirth" name="placeOfBirth" [(ngModel)]="placeOfBirth" required>
        </div>
      </div>

      <div class="row">
        <!-- Height -->
        <div class="form-group col-lg-6 d-flex align-items-center">
          <div class="col-lg-7 gap_inputs mobile-input">
            <label for="height">{{'height' | translate}}:</label>
            <input type="number" id="height" name="height" [(ngModel)]="height" placeholder="Enter value" required>
          </div>
          <div class="col-lg-5 mobile-input">
            <label for="heightUnit">{{'selectUnit' | translate}}</label>
            <select name="heightUnit" id="heightUnit" [(ngModel)]="heightUnit" required>
              <option value="cm">{{'centimeters' | translate}}</option>
              <option value="in">{{'inches' | translate}}</option>
            </select>
          </div>
        </div>

        <!-- Weight -->
        <div class="form-group col-lg-6 d-flex align-items-center">
          <div class="col-lg-7 gap_inputs mobile-input">
            <label for="weight">{{'weight' | translate}}:</label>
            <input type="number" id="weight" name="weight" [(ngModel)]="weight" placeholder="Enter value" required>
          </div>
          <div class="col-lg-5 mobile-input">
            <label for="weightUnit">{{'selectUnit' | translate}}</label>
            <select name="weightUnit" id="weightUnit" [(ngModel)]="weightUnit" required>
              <option value="kg">{{'kilograms' | translate}}</option>
              <option value="lb">{{'pounds' | translate}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contract Dates -->
        <div class="form-group date_inputs col-lg-9 ">
          <label for="contractStart">{{'contractStart' | translate}}</label>
          <input type="number" id="contractStart" class="start_bate mobile-input" name="contractStart"
            [(ngModel)]="contractStart" required>
          <input type="number" id="contractEnd" class="end_bate mobile-input" name="contractEnd"
            [(ngModel)]="contractEnd" required>
        </div>
      </div>

      <div class="row">
        <!-- League Level -->
        <div class="form-group col-lg-6">
          <label for="leagueLevel">{{'leagueLevel' | translate}}:</label>
          <input type="text" id="leagueLevel" name="leagueLevel" [(ngModel)]="leagueLevel" required>
        </div>

        <!-- Dominant Foot -->
        <div class="form-group col-lg-6">
          <label for="dominantFoot">{{'dominantFoot' | translate}}:</label>
          <select id="dominantFoot" name="dominantFoot" [(ngModel)]="dominantFoot" required>
            <option value="Right">{{'right' | translate}}</option>
            <option value="Left">{{'left' | translate}}</option>
            <option value="Both">{{'both' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="dialog-actions align-items-center d-flex justify-content-between">
      <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
      <button class="save-btn" type="submit">{{'save' | translate}}</button>
    </div>
  </form>

</div>