<div class="gallery-parent">
    <div class="d-flex justify-content-between ">
      <p class="gallery-photo">{{'Photos' | translate }} </p>
    </div>
    
    <div class="row mt-3">
      <div class="col-md-2 position-relative w-20 my-2" *ngFor="let image of userImages">
        <img src="{{imageBaseUrl}}{{image.file_name}}" alt="" srcset="" class="img-fluid">
      </div>
    </div>
  
    <div class="d-flex justify-content-between mt-4">
      <p class="gallery-photo">{{'Videos' | translate }} </p>
    </div>
    
    <div class="row mt-3">
      <div class="col-md-2 position-relative w-20" *ngFor="let image of userVideos">
        <video class="img-fluid" controls>
          <source src="{{imageBaseUrl}}{{image.file_name}}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
      </div>
    </div>
  
  </div>
  