/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
h4{
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
}
p{
  font-size: 18px;
  color: white;
  font-weight: 400;
}
li{
  font-size: 18px;
  color: white;
  font-weight: 400;
  margin-top: 20px;
}

.py_0 {
padding-top: 50px;
padding-bottom: 50px;
}

body {
background-color: #fff;
}


.main-bnr {
position: relative;
z-index: 1;
}

.bnr-media {
position: relative;
}

.bnr-media img {
width: 100%;
}

.form-select:focus {
border-color: none;
outline: 0;
box-shadow: none;
}

.overlay {
position: absolute;
height: auto;
// background-color: #000;
}

.overlay {
position: absolute;
height: 100%;
right: 0;
left: 0;
top: 0;
}

.main{
background-image: url("../../../../assets/images/Contact-Us-banner.png");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 375px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.header-transparent {
position: absolute;
z-index: 2;
width: 100%;
}
.cookie-text{
  font-size: 45px;
  font-weight: 700;
  color: white;
  text-align: center;
  filter: brightness(0) invert(1);
  text-transform: uppercase;

}

/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/


label{
  font-size: 20px;
  color: white;
  font-weight: 400;
}
input#name, input#email,input#phone {
width: 691px;
height: 46px;
border-radius: 5px;
color: white;
margin-top: 20px;
padding-left: 20px;
}
.error {
color: red;
}
textarea#message {
width: 691px;
height: 182px;
border-radius: 5px;
padding-left: 20px;
padding-top: 10px;
margin-top: 20px;
color: white;
}

input#name:focus-visible {
outline: none;
}
input#email:focus-visible {
outline: none;
}
input#phone:focus-visible {
outline: none;
}
textarea#message:focus-visible {
outline: none;
}
form.ng-untouched.ng-pristine.ng-invalid {
margin-right: 50px;
}
form button {
// background-color: #E05263;
// color: white;
width: 278px;
height: 41px;
border-radius: 20px;
font-weight: 700;
margin-top: 20px;
border: none;
}
// .recaptcha {
//   background-color: white;
//   height: 73px;
//   width: 284px;
//   border-radius: 5px;
//   margin-top: 20px;
// }
.recapthe-code{
margin-top: 10px;
}
input.ng-untouched.ng-pristine.ng-valid {
height: 19px;
width: 30px;
}
input.ng-valid.ng-dirty.ng-touched {
height: 19px;
width: 30px;
}
.form-options label{
margin-right: 20px;
margin-bottom: 20px;
}
.form-heading{
font-size: 35px;
color: white;
font-weight: 600;
margin-bottom: 50px;
}
.radio-group {
display: flex;
}


/* Hide default radio button */
.custom-radio input[type="radio"] {
display: none;
}

/* Style for the custom radio button */
.custom-radio {
display: flex;
align-items: center;
cursor: pointer;
margin-bottom: 10px;
position: relative;
margin-left: 20px;
}

.custom-radio .radio-button {
width: 24px;
height: 24px;
border-radius: 50%;
// border: 2px solid #ccc; /* Default border color */
background-color: white; /* Default background color */
margin-right: 8px;
position: relative;
}

/* Style for the radio button when selected */
// .custom-radio input[type="radio"]:checked + .radio-button {
//   border-color: pink; /* Border color when selected */
// }

/* Inner circle for checked radio button */
.custom-radio input[type="radio"]:checked + .radio-button::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: 14px; /* Adjust size of inner circle as needed */
height: 14px; /* Adjust size of inner circle as needed */
border-radius: 50%;
// background-color: #E05263; /* Inner color when selected */
transform: translate(-50%, -50%);
}
.location {
display: flex;
}
.location-image{
margin-right: 10px;
}
.mail{
display: flex;
margin-top: 30px;
}
.location-text{
font-size: 20px;
color: white;
}

// advertisement

.skyscraper-left{
height: 600px;
width: 120px;
content: "";
z-index: 1;
position: absolute;
left: 0;
top: 43%;
}
.skyscraper-left img{
height: 600px;
width: 120px;
}
.skyscraper-right{
height: 600px;
width: 120px;
content: "";
z-index: 1;
position: absolute;
right: 0;
top: 43%;
}
.skyscraper-right img{
height: 600px;
width: 120px;
}
.leaderboard-image img {
height: 90px;
width: 728px;
}

.leaderboard-image{
position: absolute;
height: 90px;
width: 728px;
left: 0;
bottom: 0;
}


.advertisement {
position: relative;
height: 300px; /* Set a fixed height for the container to maintain alignment */
}

.small-square-image img{
width: 200px;
height: 200px;
}
.small-square-image {
position: absolute;
width: 200px;
height: 200px;
right: 0;
bottom: 0;
}

// advertisement
@media (max-width: 1441px) {

  .skyscraper-left,
  .skyscraper-right {
      display: none
  }
}

@media (max-width: 1199px){
input#name, input#email, input#phone, textarea#message {
width: 570px;
}
// button {
//   width: 250px;
//   height: 41px;
//   margin-left: 30px;
//   margin-top: 35px;
// }
.py_0 {
padding-top: 20px;
padding-bottom: 20px;
}
form button {
width: 260px;
height: 41px;
border-radius: 20px;
font-weight: 700;
margin-top: 20px;
margin-left: 20px;
}

}

@media (max-width: 991px){
form.ng-untouched.ng-pristine.ng-invalid {
  margin-right: 0;
}
input#name, input#email, input#phone, textarea#message {
width: 100%;
}
.location{
display: flex;
margin-top: 30px;
}
// .contact-text{
//   display: flex;
// }
.leaderboard-club-image img,
.small-sqaure-image img,
.skyscraper-image img,
.skyscraper-image img,
.wide-skyscraper-image img,
.leaderboard-image img,
.banner-image img,
.advertisement,
.advertisement1, 
.skyscraper-left img,
.skyscraper-right img{
display: none;
}

}
@media (max-width: 676px){
form button {
  margin-left: 0;
}
}

@media (max-width: 575px){

.cookie-text {
font-size: 35px;
}
.form-heading {
font-size: 30px;
margin-bottom: 30px;
}
button {
width: 100%;
height: 41px;
margin-left: 0;
margin-top: 35px;
}
.recaptcha-image img{
width: 100%;
}
.main {
height: 320px;
}
form button {
margin-left: 0;
}
}

@media (max-width: 376px){
.form-heading {
  font-size: 28px;
}
input#name, input#email, input#phone, textarea#message{
padding-left: 10px;
}
}

@media (max-width: 321px){
label{
  font-size: 16px;
}
.custom-radio{
margin-left: 15px;
}
.custom-radio .radio-button {
width: 18px;
height: 18px;
}
input#name, input#email, input#phone {
padding-left: 5px;
height: 35px;
}
.textarea#message{
padding-left: 5px;
height: 140px;
}
}