<div class="main">
    <div class="main-bnr py_0">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <h2 class="banner-text-h2">this page could unfortunately notfound</h2>
                        <a class="btn btn-register" [routerLink]="''">Back To Home</a>
                    </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="banner-image">
                        <img class="check-image-light" src="./assets/images/cross-light.svg">
                        <img class="check-image-dark" src="./assets/images/cross-dark.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>