<div class="main">
    <div class="banner py-0">
        <div class="overlay"></div>
        <div class="container">
            <div class="banner-data">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-12">
                        <div class="banner-left">
                            <h1 class="banner-heading">Showcase your profile</h1>
                            <h4 class="banner-heading5">Get discovered by Clubs and Scouts from all around the world.
                            </h4>
                            <a class="btn btn-register" data-bs-toggle="modal" data-bs-target="#exampleModal1">Register
                                Now
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-12">
                        <div class="banner-images">
                            <div class="row">
                                <div class="col-6">
                                    <div class="banner-image1">
                                        <img src="./assets/images/Frame 3863.png">
                                    </div>
                                    <div class="banner-image2">
                                        <img src="./assets/images/Gallery-Highlight.png">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="banner-image3">
                                        <img src="./assets/images/talent-banner-image.png">
                                    </div>
                                    <div class="banner-image4">
                                        <img src="./assets/images/talent-main-content (3).png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="adVisible[0]" class="skyscraper-image">
                    <img src="./assets/images/skyscraper - 120x600.png">
                    <button (click)="closeAd(0)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                </div>

                <div *ngIf="adVisible[1]" class="leaderboard-image">
                    <img src="./assets/images/leaderboard - 728x90.png">
                    <button (click)="closeAd(1)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="club-scout py_0">
    <div class="container">
        <h3 class="club-heading4">I’m a Talent</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="club_text">
                    <img src="./assets/images/talent-icon1.svg">
                    <p class="club-text1">Engages with other users, follows football clubs, and connects with
                        scouts, managers, and coaches.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="club_text">
                    <img src="./assets/images/talent-icon2.svg">
                    <p class="club-text1">Receive notifications about opportunities for trials with clubs.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="club_text">
                    <img src="./assets/images/talent-icon3.svg">
                    <p class="club-text1">Impresses a club during a trial and receives an offer for a professional
                        contract.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features py_0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="left-accordion">
                    <h3 class="feature-heading3">Features</h3>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <div class="accordion-flex" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <img class="light-feature1" src="./assets/images/talent-feature-icon.svg">
                                <img class="dark-feature1" src="./assets/images/talent-dark-f1.svg">
                                <h2 class="accordion-header">
                                    Profile Creation
                                </h2>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="feature-text">Create a detailed personal profile showcasing your
                                        skills, performance data, photos, videos, and statistics.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-flex" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <img class="light-feature2" src="./assets/images/talent-feature-icon2.svg">
                                <img class="dark-feature2" src="./assets/images/talent-dark-f2.svg">
                                <h2 class="accordion-header">Highlight Photos and Videos</h2>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="feature-text">Browse a comprehensive database of football talents with
                                        detailed profiles and filtering options.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-flex" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                <img class="light-feature3" src="./assets/images/talent-feature-icon3.svg">
                                <img class="dark-feature3" src="./assets/images/talent-dark-f3.svg">
                                <h2 class="accordion-header">
                                    Networking and Communication
                                </h2>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="feature-text">Connect and communicate with other football talents to
                                        build your network and opportunities.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <div class="accordion-flex" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <img class="light-feature4" src="./assets/images/talent-feature-icon4.svg">
                                <img class="dark-feature4" src="./assets/images/talent-dark-f4.svg">
                                <h2 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    Premium Membership
                                </h2>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                </button>
                            </div>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="feature-text">Enjoy additional features and benefits with our premium
                                        membership, including exclusive content and advanced filtering options.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 club-scouts">
                <div class="club-offer">
                    <div class="club-offers1">
                        <img src="./assets/images/club-scouts5.png">
                    </div>
                    <div class="club-offers2">
                        <img src="./assets/images/club-scouts6.png">
                    </div>
                    <div class="club-offers3">
                        <img src="./assets/images/club-scouts7.png">
                    </div>
                </div>

            </div>
        </div>

        <div class="advertisement1" [ngClass]="{'hidden': !adVisible[2] && !adVisible[3]}">

            <div *ngIf="adVisible[2]" class="small-sqaure-image">
                <img src="./assets/images/small sqaure - 200x200.png" alt="small sqaure">
                <button (click)="closeAd(2)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div *ngIf="adVisible[3]" class="banner-image">
                <img src="./assets/images/banner - 468x60.png">
                <button (click)="closeAd(3)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="pricing py_0">
    <div class="container">
        <h3 class="price-heading3">Pricing</h3>

        <!-- Toggle for Premium Plan -->
        <div>
            <div class="billed">
                <p [ngClass]="{ 'active-text': isActive1, 'inactive-text': !isActive1 }" class="billed-monthly">
                    Billed Monthly</p>
                <div class="toggle-button" [ngClass]="{ 'active': isActive1, 'inactive': !isActive1 }"
                    (click)="toggle1()"></div>
                <p [ngClass]="{ 'active-text': !isActive1, 'inactive-text': isActive1 }">Billed Yearly</p>
            </div>

            <div class="premium">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="premium-img">
                            <h2 class="premium-heading2">Premium</h2>
                            <h3 class="premium-heading3">
                                {{ isActive1 ? '470' : '47' }}<span>.- CHF / {{ isActive1 ? 'Year' : 'Month'
                                    }}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="premium-col-right">
                            <h5 class="premium-heading5">Premium Includes</h5>
                            <div class="premium-text" *ngFor="let feature of premiumFeatures">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>{{ feature }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Toggle for Multi-Country Plan -->
        <div>
            <div class="billed">
                <p [ngClass]="{ 'active-text': isActive2, 'inactive-text': !isActive2 }">Billed Monthly</p>
                <div class="toggle-button" [ngClass]="{ 'active': isActive2, 'inactive': !isActive2 }"
                    (click)="toggle2()"></div>
                <p [ngClass]="{ 'active-text': !isActive2, 'inactive-text': isActive2 }">Billed Yearly</p>
            </div>

            <div class="premium">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="premium-img">
                            <h2 class="premium-heading2">Multi-Country</h2>
                            <h3 class="premium-heading3">
                                {{ isActive2 ? '110' : '11' }}<span>.- CHF / {{ isActive2 ? 'Year' : 'Month'
                                    }}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="premium-col-right">
                            <h5 class="premium-heading5">Multi-Country</h5>
                            <div class="premium-text" *ngFor="let feature of multiCountryFeatures">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>{{ feature }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="billed">
                <p [ngClass]="{ 'active-text': isActive3, 'inactive-text': !isActive3 }">Billed Monthly</p>
                <div class="toggle-button" [ngClass]="{ 'active': isActive3, 'inactive': !isActive3 }"
                    (click)="toggle3()"></div>
                <p [ngClass]="{ 'active-text': !isActive3, 'inactive-text': isActive3 }">Billed Yearly</p>
            </div>

            <div class="premium">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="premium-img">
                            <h2 class="premium-heading2">Booster</h2>
                            <h3 class="premium-heading3">
                                {{ isActive3 ? '110' : '11' }}<span>.- CHF / {{ isActive3 ? 'Year' : 'Month'
                                    }}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="premium-col-right">
                            <h5 class="premium-heading5">Booster Includes</h5>
                            <div class="premium-text" *ngFor="let feature of boosterFeatures">
                                <img src="./assets/images/mdi_tick.svg" alt="Checkmark">
                                <p>{{ feature }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="advertisement">

            <div *ngIf="adVisible[4]" class="large-rectangle">
                <img src="./assets/images/large rectangle - 336x280 .png">
                <button (click)="closeAd(4)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
            </div>

            <div *ngIf="adVisible[5]" class="inline-rectangle">
                <img src="./assets/images/inline rectangle - 300x250.png">
                <button (click)="closeAd(5)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
            </div>

            <div *ngIf="adVisible[6]" class="square">
                <img src="./assets/images/sqaure - 250x250.png">
                <button (click)="closeAd(6)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
            </div>

        </div>

    </div>
</div>