<div class="main">
    <div class="banner py-0">
        <div class="overlay"></div>
        <div class="container">
            <div class="banner-data">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-12">
                        <div class="banner-left">
                            <h1 class="banner-heading">Showcase your profile</h1>
                            <h4 class="banner-heading5">Get discovered by Clubs and Scouts from all around the world.</h4>
                            <a class="btn btn-register" data-bs-toggle="modal" data-bs-target="#exampleModal1">Register
                                Now
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8 col-12">
                        <div class="banner-images">
                        <div class="row">
                            <div class="col-6">
                                <div class="banner-image1">
                                <img src="./assets/images/Frame 3863.svg">
                                </div>
                                <div class="banner-image2">
                                    <img src="./assets/images/Gallery-Highlight.png">
                                </div>
                                </div>
                            <div class="col-6">
                                <div class="banner-image3">
                                <img src="./assets/images/talent-banner-image.svg">
                                </div>
                                <div class="banner-image4">
                                <img src="./assets/images/talent-main-content (3).png">
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="club-scout py_0">
        <div class="container">
            <h3 class="club-heading4">I’m a Talent</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="club_text">
                        <img src="./assets/images/talent-icon1.svg">
                        <p class="club-text1">Engages with other users, follows football clubs, and connects with scouts, managers, and coaches.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="club_text">
                        <img src="./assets/images/talent-icon2.svg">
                        <p class="club-text1">Receive notifications about opportunities for trials with clubs.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="club_text">
                        <img src="./assets/images/talent-icon3.svg">
                        <p class="club-text1">Impresses a club during a trial and receives an offer for a professional contract.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features py_0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="left-accodian">
                        <h3 class="feature-heading3">Features</h3>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/talent-feature-icon.svg">
                                    <h2 class="accordion-header">
                                        Profile Creation
                                    </h2>
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Create a detailed personal profile showcasing your skills, performance data, photos, videos, and statistics.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/talent-feature-icon2.svg">
                                    <h2 class="accordion-header">Highlight Photos and Videos</h2>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Browse a comprehensive database of football talents with
                                            detailed profiles and filtering options.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/talent-feature-icon3.svg">
                                    <h2 class="accordion-header">
                                        Networking and Communication
                                    </h2>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Browse a comprehensive database of football talents with
                                            detailed profiles and filtering options.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/talent-feature-icon4.svg">
                                    <h2 class="accordion-header">
                                        Premium Membership
                                    </h2>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Browse a comprehensive database of football talents with
                                            detailed profiles and filtering options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" [routerLink]="'/feature'" class="btn btn-danger">Check all features</button>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="club-scouts">
                        <div class="club-offers1">
                          <img src="./assets/images/club-scouts5.svg">
                        </div>
                        <div class="club-offers2">
                          <img src="./assets/images/club-scouts6.svg">
                        </div>
                        <div class="club-offers3">
                          <img src="./assets/images/club-scouts7.svg">
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>

    <div class="pricing py_0">
        <div class="container">
            <h3 class="price-heading3">pricing</h3>
            <div>
                <div class="billed">
                    <p [ngClass]="{ 'active-text': isActive1, 'inactive-text': !isActive1 }" class="billed-monthly">Billed Monthly</p>
                    <div class="toggle-button" [ngClass]="{ 'active': isActive1, 'inactive': !isActive1 }" (click)="toggle1()"></div>
                    <p [ngClass]="{ 'active-text': !isActive1, 'inactive-text': isActive1 }">Billed Yearly</p>
                </div>

                <div class="premium">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="premium-img">
                            <h2 class="premium-heading2">Premium</h2>
                            <h3 class="premium-heading3">740<span>.- CHF / Year</span></h3>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="premium-col-right">
                            <h5 class="premium-heading5">Premium Includes</h5>
                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>The complete talent profile with all stages of his career and performance data.</p>
                            </div>

                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>Export data in excel and pdf formats.</p>
                            </div>

                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>Chat with Talents, Clubs and Scouts.</p>
                            </div>

                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>Create your favorite list.</p>
                            </div>

                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>Highlight your best photos and videos on your profile.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="billed">
                    <p [ngClass]="{ 'active-text': isActive2, 'inactive-text': !isActive2 }" >Billed Monthly</p>
                    <div class="toggle-button" [ngClass]="{ 'active': isActive2, 'inactive': !isActive2 }"
                        (click)="toggle2()">
                    </div>
                    <p [ngClass]="{ 'active-text': !isActive2, 'inactive-text': isActive2 }" >Billed Yearly</p>
                </div>

                <div class="premium">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="premium-img">
                            <h2 class="premium-heading2">Multi-Country</h2>
                            <h3 class="premium-heading3">22<span>.- CHF / Year</span></h3>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="premium-col-right">
                            <h5 class="premium-heading5">Premium Includes</h5>
                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>Present your profile to clubs and leagues in other countries.</p>
                            </div>

                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>Higher chances to get hired globally.</p>
                            </div>

                            <div class="premium-text">
                                <img src="./assets/images/mdi_tick.svg">
                                <p>Build you global portfolio.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
