.add-perfomance .overflow-card{
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding:30px 30px 0px 30px;
  }
  .mat-mdc-dialog-surface{
    overflow: hidden !important;
  }
  .add-perfomance .overflow-card::-webkit-scrollbar {
    width: 6px;
  }
 .add-perfomance .overflow-card::-webkit-scrollbar-thumb {
    background: rgb(228, 228, 228); 
    border-radius: 10px;
  }
  .add-perfomance .dialog-actions {
    padding: 0px 30px 40px 30px;
  }
.personal_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px;
}
.close-btn {
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
    padding: 2px 9px;
    color: #849aa2;
    border: 4px solid #849aa2;
    border-radius: 50%;
}
.dialog-header h2 {
    font-size: 18px;
    font-weight: 600;
}
.choose-file{
    border: 1px dashed #EBEBEB;
    border-radius: 10px;
    padding: 30px 16px 16px 16px;
    text-align: center;
}
.choose-file h2{
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom:4px;
    color: #A9AAAB;
   
}
.choose-file p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 14px;
    color: #A9AAAB;
}
.choose-btn{
    border: 1px solid #D9D9D9;
    font-size: 14px;
    color: #787878;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 14px;
}
.perfomance-report{
    padding: 26px 26px 35px 26px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 14px;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
}
.document-title_box .choose-file-name{
    padding: 11px;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
    margin-top: 25px;
}
.document-title_box{
    margin-top: 35px;
}
.explore-chip_cut svg {
  margin-left: 8px;
}
.explore-chip_cut {
  background: inherit;
  border: none;
}
.cancel-btn {
  background: none;
  color: #f44336;
  font-weight: 700;
  width: 45%;
}
.upload-btn {
  background: #58bc5c;
  color: white;
  font-weight: 700;
  width: 45%;
}
.perfomance-report-btn .cancel-btn, .upload-btn {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.perfomance-report-btn{
  margin-top: 100px;
}
// .choose-file-name::after{
//   content: "";
//   background: #6FB95D;
//   border-radius: 5px;
//   height: 5px;
//   display: block;
//   margin-top: 2px;
// }

.progress {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 5px;
  height: 10px;  /* Reduced the height to 10px */
}

.progress-bar {
  height: 10px;  /* Reduced the height to 10px */
  background-color: #4caf50;
  text-align: center;
  color: white;
  line-height: 10px;  /* Adjusted the line height to match the smaller bar */
  border-radius: 5px;
}
