<div class="page-content">
    <div class="main-wrapper">
        <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <h2 class="card-title mb-0 me-3">User Management / <span style="font-weight: 400;">Elton Prince</span>  <span style="margin-left: 10px;" class="bg_pending">Talent</span></h2>
                </div>
               
              </div>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <div class="d-flex align-items-center">
                 
                  <a class="btn btn-outline-white">
                    <svg
                      width="18"
                      height="19"
                      viewBox="0 0 18 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9 1L2 3.55V8.7265C2 13.019 4.98375 17.0225 9 18C13.0163 17.0225 16 13.019 16 8.7265V3.55L9 1Z"
                        fill="#787878"
                      />
                      <path
                        d="M13.1749 7.80954L13.3574 7.63087L13.1749 7.45221L12.5303 6.82133L12.3555 6.65026L12.1806 6.82125L7.51415 11.3843L5.81922 9.7294L5.64436 9.55867L5.4697 9.72961L4.82513 10.3605L4.64259 10.5391L4.82513 10.7178L7.33942 13.1787L7.51429 13.3498L7.68915 13.1787L13.1749 7.80954Z"
                        fill="white"
                        stroke="white"
                        stroke-width="0.5"
                      />
                    </svg>
      
                    Verify Users</a
                  >
                  <a class="btn btn-outline-white"
                    ><svg
                      width="22"
                      height="23"
                      viewBox="0 0 22 23"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-1"
                    >
                      <path
                        d="M5.49967 17.5589C5.49967 18.5112 6.32467 19.2904 7.33301 19.2904H14.6663C15.6747 19.2904 16.4997 18.5112 16.4997 17.5589V7.16999H5.49967V17.5589ZM17.4163 4.57277H14.208L13.2913 3.70703H8.70801L7.79134 4.57277H4.58301V6.30425H17.4163V4.57277Z"
                        fill="#787878"
                      ></path>
                    </svg>
                    Delete Users</a
                  >
                  <a class="btn btn-outline-white">
                    <svg
                      width="23"
                      height="23"
                      viewBox="0 0 23 23"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-1"
                    >
                      <path
                        d="M3.83203 7.3737V3.2487C3.83203 3.00558 3.933 2.77243 4.11272 2.60052C4.29244 2.42861 4.5362 2.33203 4.79036 2.33203H18.207C18.4612 2.33203 18.705 2.42861 18.8847 2.60052C19.0644 2.77243 19.1654 3.00558 19.1654 3.2487V19.7487C19.1654 19.9918 19.0644 20.225 18.8847 20.3969C18.705 20.5688 18.4612 20.6654 18.207 20.6654H4.79036C4.5362 20.6654 4.29244 20.5688 4.11272 20.3969C3.933 20.225 3.83203 19.9918 3.83203 19.7487V15.6237"
                        stroke="#787878"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M14.8535 7.375H16.291M13.416 11.0417H16.291M13.416 14.7083H16.291"
                        stroke="#787878"
                        stroke-width="2"
                        stroke-linecap="round"
                      />
                      <path
                        d="M4.79102 10.125L7.66602 12.875M7.66602 10.125L4.79102 12.875M1.91602 7.375H10.541V15.625H1.91602V7.375Z"
                        stroke="#787878"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
      
                    Export XLS</a
                  >
                </div>
                <div class="d-flex align-items-center">
                  <div style="color: #787878; margin-right: 10px; font-weight: 500">
                    1-12 of 1600
                  </div>
                  <a class="left-slide"
                    ><svg
                      width="33"
                      height="33"
                      viewBox="0 0 33 33"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        x="33"
                        y="33"
                        width="33"
                        height="33"
                        rx="16.5"
                        transform="rotate(-180 33 33)"
                        fill="#F3F3F3"
                      ></rect>
                      <path
                        d="M18 21L13 16.5L18 12"
                        stroke="#C2C2C2"
                        stroke-width="2"
                        stroke-linecap="round"
                      ></path></svg></a
                  ><a class="right-slide ms-1"
                    ><svg
                      width="33"
                      height="33"
                      viewBox="0 0 33 33"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="33" height="33" rx="16.5" fill="#F3F3F3"></rect>
                      <path
                        d="M14 12L19 16.5L14 21"
                        stroke="#787878"
                        stroke-width="2"
                        stroke-linecap="round"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            
            <div>
              <div>

              </div>
              <div></div>
            </div>
          </div>
    
          <app-footer></app-footer>
    </div>
</div>