<div class="dialog-container">
  <div class="personal_edit">
    <div class="dialog-header m-auto">
      <h2>{{'editUserPersonalDetails' | translate}}</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn" (click)="onCancel()">X</button>
    </div>
  </div>
  <hr>

  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="overflow-card">
      <div class="row">
        <!-- First Name -->
        <div class="form-group col-lg-6">
          <label for="first_name">{{'firstName' | translate}}:</label>
          <input type="text" id="first_name" name="first_name" [(ngModel)]="firstName" #firstNameField="ngModel"/>
        </div>

        <!-- Last Name -->
        <div class="form-group col-lg-6">
          <label for="last_name">{{'lastName' | translate}}:</label>
          <input type="text" id="last_name" name="last_name" [(ngModel)]="lastName" #lastNameField="ngModel" />
        </div>
      </div>

      <div class="row">

        <!-- Current Club -->
        <div class="form-group col-lg-6 position_inputs">
          <label for="currentClub">{{'currentClub' | translate}}:</label>

          <mat-select [(ngModel)]="currentClubId" class="form-select" id="currentClub" name="currentClub"
            #currentClubField="ngModel">
            <mat-option *ngFor="let club of playerClubsListing" [value]="club.id">
              {{ club.club_name }}
            </mat-option>
          </mat-select>


        </div>

        <!-- Nationality (Updated for multiple selection) -->
        <div class="form-group col-lg-6 position_inputs">
          <label for="nationality" class="form-label">{{'nationality' | translate}}:</label>
          <mat-select [(ngModel)]="nationality" class="form-select" id="nationality" name="nationality"
            multiple #nationalityField="ngModel" required >
            <mat-option *ngFor="let country of countries" [value]="country.id">
              {{ country.country_name }}
            </mat-option>
          </mat-select>
          <!-- Validation message -->
          <div *ngIf="nationalityField.invalid && (nationalityField.touched || myForm.submitted)" class="alert text-danger my-0 px-0">
            {{'nationalityRequired' | translate}}
          </div>
        </div>

      </div>


      <div class="row">
        <!-- Date of Birth -->
        <div class="form-group col-lg-6">
          <label for="dateOfBirth">{{ 'dateOfBirth' | translate }}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="dateOfBirth" name="dateOfBirth" [matDatepicker]="dp" [formControl]="dateOfBirth" placeholder="DD.MM.YYYY" required />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp panelClass="custom-datepicker"></mat-datepicker>
          </div>

          <!-- Validation message -->
          <div *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || myForm.submitted)" class="alert text-danger my-0 px-0">
            {{'dobRequired' | translate}}
          </div>

        </div>

        <!-- Place of Birth -->
        <div class="form-group col-lg-6">
          <label for="placeOfBirth">{{'placeOfBirth' | translate}}:</label>
          <input type="text" id="placeOfBirth" name="placeOfBirth" [(ngModel)]="placeOfBirth" />
        </div>
      </div>

      <div class="row">
        <!-- Height -->
        <div class="form-group col-lg-6">
          <label for="height">{{'height' | translate}}(cm):</label>
          <input type="number" id="height" name="height" [(ngModel)]="height" #heightField="ngModel" placeholder="Enter value" />
        </div>

        <!-- Weight -->
        <div class="form-group col-lg-6">
          <label for="weight">{{'weight' | translate}}(kgs):</label>
          <input type="number" id="weight" name="weight" [(ngModel)]="weight" #weightField="ngModel" placeholder="Enter value" />
        </div>
      </div>

      <div class="row">
        <!-- Contract Start Date -->
        <div class="form-group col-lg-6">
          <label for="contractStart">{{'contractStartDate' | translate}}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="contractStart" name="contractStart" [matDatepicker]="contractStartPicker"
              [(ngModel)]="contractStart" placeholder="DD.MM.YYYY" />
            <mat-datepicker-toggle matSuffix [for]="contractStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #contractStartPicker></mat-datepicker>
          </div>
        </div>

        <!-- Contract End Date -->
        <div class="form-group col-lg-6">
          <label for="contractEnd">{{'contractEndDate' | translate}}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="contractEnd" name="contractEnd" [matDatepicker]="contractEndPicker"
              [(ngModel)]="contractEnd" placeholder="DD.MM.YYYY" />
            <mat-datepicker-toggle matSuffix [for]="contractEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #contractEndPicker></mat-datepicker>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- League Level -->
        <div class="form-group col-lg-6">
          <label for="leagueLevel">{{'leagueLevel' | translate}}:</label>
          <input type="text" id="leagueLevel" name="leagueLevel" [(ngModel)]="leagueLevel" />
        </div>

        <!-- Dominant Foot -->
        <div class="form-group col-lg-6">
          <label for="dominantFoot">{{'dominantFoot' | translate}}:</label>
          <select id="dominantFoot" name="dominantFoot" [(ngModel)]="dominantFoot" #dominantFootField="ngModel"
            required >
            <option value="Right">{{'right' | translate}}</option>
            <option value="Left">{{'left' | translate}}</option>
            <option value="Both">{{'both' | translate}}</option>
          </select>
          <!-- Validation message -->
          <div *ngIf="dominantFootField.invalid && (dominantFootField.touched || myForm.submitted)" class="alert text-danger my-0 px-0">
            {{'dominantFootRequired' | translate}}.
          </div>
        </div>
      </div>

    </div>
    <div class="dialog-actions align-items-center d-flex justify-content-between">
      <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
      <button class="save-btn" type="submit">{{'save' | translate}}</button>
    </div>
  </form>
</div>