<!-- <div class="container mt-5">
    <form (ngSubmit)="submitForm()" #aboutForm="ngForm" enctype="multipart/form-data">
      <h2>About Page Form</h2>
  
      <div class="mb-3">
        <label for="about_banner_title" class="form-label">About Banner Title</label>
        <input type="text" id="about_banner_title" class="form-control" name="about_banner_title" ngModel required />
      </div>
  
      <div class="mb-3">
        <label for="about_banner_bg_img" class="form-label">About Banner Background Image</label>
        <input type="file" id="about_banner_bg_img" class="form-control" (change)="onFileChange($event, 'about_banner_bg_img')" required />
      </div>
  
      <div class="mb-3">
        <label for="about_banner_img" class="form-label">About Banner Image</label>
        <input type="file" id="about_banner_img" class="form-control" (change)="onFileChange($event, 'about_banner_img')" required />
      </div>
  
      <div class="mb-3">
        <label for="about_banner_desc" class="form-label">About Banner Description</label>
        <textarea id="about_banner_desc" class="form-control" name="about_banner_desc" ngModel required></textarea>
      </div>
  
      <div class="mb-3">
        <label for="country_section_title" class="form-label">Countries Section Title</label>
        <input type="text" id="country_section_title" class="form-control" name="country_section_title" ngModel required />
      </div>
  
      <div class="mb-3">
        <label for="about_country_names" class="form-label">Country Names</label>
        <select multiple id="about_country_names" class="form-control" name="about_country_names" ngModel required>
          <option>Switzerland</option>
          <option>France</option>
          <option>Germany</option>
          <option>Italy</option>
          <option>Portugal</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="country_section_banner_img" class="form-label">Country Section Banner Image</label>
        <input type="file" id="country_section_banner_img" class="form-control" (change)="onFileChange($event, 'country_section_banner_img')" required />
      </div>
  
      <div class="mb-3">
        <label for="lang" class="form-label">Language</label>
        <input type="text" id="lang" class="form-control" name="lang" ngModel required />
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
   -->