<div appClickOutside (clickOutside)="onClickOutside()" class="p-3 parent-popup">
    <h4 class="text-center mb-3 title-text">Create New Pop Up</h4>

    <div class="close-img" (click)="close()">
    </div>
    <div>

    </div>

    <div class="d-flex align-items-baseline pb-2 ">
        <h4 class="text-size">Name:</h4>
        <p class="text-size">Black Friday Offer</p>
    </div>

    <div class="d-flex  main-popup-div ">
        <div class="d-flex align-items-baseline mb-3">
          <h4 class="text-size">For:</h4>
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle button-text" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                Talent-Paid
            </button>

          </div>
        </div>
        <div  class="d-flex align-items-baseline" >
         <h4 class="text-size">Language</h4>
         <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle button-text" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                English
            </button>

          </div>
        </div>
          <div  class="d-flex align-items-baseline">
            <h4 class="text-size">Location</h4>
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle button-text" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    Location
                </button>

            </div>
          </div>
        </div>


    <div class="main-popup-div">
        <div>
           <p class="text-size">01-04-2024  to  30-04-2024</p>


        </div>
        <div class="d-flex align-items-baseline">
            <h4 class="text-size"> Display Freq: </h4>
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle button-text " type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    Location
                </button>
            </div>
        </div>



        </div>
        <div class="marketing-button">
            <!-- <div class="marketing-button-child"> -->
           <div>
            <a class="btn btn-delete">Delete</a>
           </div>
            <div>
            <a class="btn Launch" >Create and Launch</a>
        </div>
        <!-- </div> -->
</div>
