
.dark-theme app-player-list nav.navbar.navbar-expand-lg.navbar-light.sticky {
  background: #072944 !important;
}
.dark-theme .custom-list-item.country-name:hover {
  color: #BDE34E !important;
}
// .dark-theme .dropdown-item:focus, .dropdown-item:hover {
//   color: #072944;
//   background-color: var(--bs-dropdown-link-hover-bg);
// }


// a.dropdown-item.ai-icon.selected {
//   background: var(--bs-dropdown-link-hover-bg) !important;
// }



.dark-theme .website-code {
  position: relative;
  background: #072944;
  font-family: "Libre Franklin", sans-serif !important;
}

.dark-theme .website-code .navbar-nav .nav-link.active::after {
  background-color: #BDE34E;
}

.dark-theme .register .form-select {
  filter: brightness(0) invert(1) !important;
}

.dark-theme .website-code #footer .footer-top .footer-links ul li a:hover {
  color: #bde34f !important;
  background: transparent !important;
}
.dark-theme .register .form-select {
  filter: brightness(0) invert(1) !important;
}
.dark-theme form button {
  background: transparent;
  color: black;
}

.dark-theme .website-code h2.coming-heading {
  color: #BDE34E;
}

.dark-theme .website-code h2.coming-heading {
  color: #E05263;
}

.dark-theme .feature-players i.fa-solid.fa-xmark {
  color: #072944;
}

.dark-theme .button4 .mat-icon,
.dark-theme .button1 .mat-icon,
.dark-theme .button2 .mat-icon,
.dark-theme .button3 .mat-icon {
  color: #072944;
}

.dark-theme .button1,
.dark-theme .button2,
.dark-theme .button3,
.dark-theme .button4 {
  background: #BDE34E;
  border-radius: 20px;
}

.dark-theme .website-code .player-image {
  background: #072944;
}

.dark-theme .website-code .player-image1 {
  background: #072944;
}

.dark-theme .website-code .dark-images {
  display: block;
}

.dark-theme .website-code button.accordion-button:hover {
  background: transparent;
}

.dark-theme .website-code button.faq-club-button:hover {
  background: transparent;
}

.dark-theme .website-code button.faq-talent-button:hover {
  background: transparent;
}

.dark-theme .website-code .member1-image img,
.dark-theme .website-code .member2-image,
.dark-theme .website-code .member3-image img,
.dark-theme .website-code .member5-image img,
.dark-theme .website-code .member7-image img {
  background-color: #072944;
}

.dark-theme .website-code .light-images {
  display: none;
}

.dark-theme .website-code li.insta-icon i:hover,
.dark-theme .website-code li.linkedin-icon i:hover {
  color: #bde34f;
}

.dark-theme .website-code .form-control {
  background-color: transparent;
}

.dark-theme .website-code .register .form-select {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.dark-theme .website-code .form-control:focus {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.dark-theme .website-code .form-control:disabled {
  background-color: #072944;
  opacity: 1;
}

.dark-theme .website-code input:-webkit-autofill,
.dark-theme .website-code input:-webkit-autofill:hover,
.dark-theme .website-code input:-webkit-autofill:focus,
.dark-theme .website-code input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #072944 inset !important;
  -webkit-text-fill-color: white;
  background: transparent !important;
}

.dark-theme .website-code .player-img img {
  background: #072944;
}

.dark-theme .website-code .join-text {
  background: linear-gradient(0deg, #BDE34F, #EFFFC1);
}

.dark-theme .website-code .join-text p {
  color: #072944;
}

.dark-theme .website-code .accordion-item::after {
  background-color: #1F4360;
}

.dark-theme .website-code .button-border {
  background: linear-gradient(45deg, #C2A64A, #A77A2E);
}

.dark-theme .website-code .join-text:hover {
  background: #BDE34E;
}


.dark-theme .website-code .light-button {
  display: none;
}

.dark-theme .website-code .club-overlay {
  background: linear-gradient(to top, transparent 80%, #072944 100%), linear-gradient(to bottom, transparent 80%, #072944 100%);

}

.dark-theme .website-code .form-select {
  border: 2px solid #BDE34F;
}
.dark-theme .website-code  .mdc-list-item__primary-text:hover {
  color: #bde34f !important;
  font-size: 18px;
}
.dark-theme .billed-text .dark-theme .premium-text-data{
  color: #bde34f;
  }


.dark-theme .website-code button.page-active.active {
  background-color: #BDE34F;
}

.dark-theme .website-code .login-btn {
  background-color: #BDE34E;
}


.dark-theme .website-code .mb-0 {
  color: #072944;
  font-weight: 400;
}

.dark-theme .website-code .navbar-nav .nav-link:hover::after {
  background-color: #bde34f;
}

.dark-theme .website-code .navbar-nav .nav-link.active {
  color: #bde34f;
}

.dark-theme .website-code .navbar-nav .nav-link::after {
  background-color: #BDE34E;
  /* Matches the text color */
}

.footer-links a {
  color: white;
}

.dark-theme .website-code nav.navbar.navbar-expand-lg.navbar-light.sticky.scrolled {
  background-color: #072944;
}

.dark-theme .website-code .recently-joined {
  background-color: #072944;
}

.dark-theme .website-code .works {
  background-color: #072944;
}

.dark-theme .website-code .works-1 {
  background-color: #072944;
}

.dark-theme .website-code .player-img3 img {
  background-color: #072944;
}


.dark-theme .website-code .club {
  background-image: url("/assets/images/dark-club.svg");
}

// .dark-theme .website-code .overlay {
//   // background-color: #072944;
//   background: linear-gradient(0deg, #072944, transparent);
// }
.dark-theme .website-code .overlay {
  background: linear-gradient(to top, #072944 10%, transparent 100%);
}

.dark-theme .overlay {
  opacity: unset !important;
}
.dark-theme option {
  color: white !important;
  font-size: 18px;
  background: #072944;
}
// .dark-theme option:hover {
//   color: black !important;
//   background: #bde34f !important;
// }

.dark-theme .website-code a.btn-primary {
  background: #bde34f !important;
  border: #bde34f !important;
}

.dark-theme .main-bnr {
  background-image: url("/assets/images/error-dark.jpg");
}

.dark-theme .website-code .overlay1 {
  background: linear-gradient(to top, #072944 0%, transparent 100%);
}

.dark-theme .website-code .banner {
  background: url(/assets/images/club-banner.png);
}

.dark-theme .website-code .joined-btn button.btn {
  color: #072944;
  border: 1px solid #BDE34F;
  background-color: white;
}
.dark-theme .website-code a.dropdown-item.ai-icon.selected {
  background: linear-gradient(45deg, #EFFFC1, #BDE34F) !important;  /* Set the background color to pink */
  color: #072944 !important;  /* Optional: Change the text color to white for better contrast */
}

.dark-theme .website-code .advertisement,
.dark-theme .website-code .py_1 {
  background: #072944;
}
// .dark-theme .dropdown-menu {
//  background: linear-gradient(45deg, #EFFFC1, #BDE34F);
// }

.dark-theme .website-code .club button {
  background-image: linear-gradient(45deg, #EFFFC1, #BDE34F);
  color: #072944;
}

.dark-theme .website-code .tabs button.active {
  color: #072944;
  border: 1px solid #BDE34F;
  background-image: linear-gradient(45deg, #EFFFC1, #BDE34F);
}

.dark-theme .website-code .faq-club-button,
button.faq-talent-button,
button.faq-scout-button {
  color: #86AA7D;
}

.dark-theme .website-code .news-slider {
  background-color: #072944;
}

.dark-theme .website-code .learn-more {
  border: 1px solid #BDE34F;
  background-image: linear-gradient(45deg, #EFFFC1, #BDE34F);
  color: #072944;
}

.dark-theme .website-code .latest-news {
  background-color: #072944;
}

.dark-theme .website-code .mat-mdc-list-base {
  background-color: #0C3453;
}

.dark-theme .website-code .custom-list-item::before {
  color: #bde34f;
  /* Set dot color */
}

.dark-theme .website-code .image-wrapper::before {
  background: linear-gradient(to right, #072944e8 0, transparent 100%);
}

.dark-theme .website-code .learn {
  background-color: #072944;
}

.dark-theme .website-code .vector-img {
  display: none;
}

.dark-theme .website-code nav.navbar.navbar-expand-lg.navbar-light.sticky {
  background: linear-gradient(to bottom, #000000, transparent);
}

.dark-vector-img {
  margin-top: 7px;
  margin-left: 15px;
}

// .dark-theme .website-code a.login-btn:hover,
// .dark-theme .website-code .banner-btn a.btn-primary:hover,
// .dark-theme .website-code .btn.btn-register:hover {
//   background: linear-gradient(45deg, #EFFFC1, #BDE34F);
// }

.dark-theme .website-code a.login-btn:hover,
.dark-theme .website-code .banner-btn a.btn-primary:hover,
.dark-theme .website-code .btn.btn-register:hover {
  background: linear-gradient(45deg, #EFFFC1, #BDE34F) !important;
}

.dark-theme .website-code button.btn.btn-success.active-btn {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(180deg, #EFFFC1, #BDE34F);
}

.dark-theme .website-code .work-text {
  color: white;
  opacity: 30%;
}

.dark-theme .website-code .work-text.active {
  color: white;
  opacity: 1;
}

.dark-theme .website-code .banner-btn .btn {
  color: #072944;
  font-weight: 700;
  background-color: #BDE34F;
}

.dark-theme .website-code .login-btn {
  color: #072944;
}

.dark-theme .website-code .ms-2 {
  margin-left: .5rem !important;
  filter: brightness(0);
}

.dark-theme .website-code input:checked+.slider {
  background-color: #BDE34F;
  border: 1px solid #BDE34E;
}

.dark-theme .website-code .personalization-box.ng-star-inserted .accept,
.dark-theme .website-code .choice,
.dark-theme .website-code .accept {
  color: #0C3453;
}

.dark-theme .website-code :checked+.slider:before {
  transform: translateX(26px);
  background-color: white;
}

.dark-theme .website-code .btn.btn-primary.d-block {
  color: #072944;
  font-weight: 700;
  font-size: 18px;
}

.dark-theme .website-code .form-check-input:checked {
  background-color: #bde34f;
  border-color: #bde34f;
}

.dark-theme .website-code .slider {
  background-color: #bde34f;
  border: 1px solid #bde34f;
}

.dark-theme .website-code .slider:before {
  background-color: white;
}

.dark-theme .website-code .check-resister.active input#ManualInput {
  /* border-color: pink; */
  border: 5px solid #BDE34F;
}

.dark-theme .website-code .check-resister.active input#AutomaticInput {
  /* border-color: pink; */
  border: 5px solid #BDE34F;
}

.dark-theme .website-code .check-resister.active input#scoutRole {
  /* border-color: pink; */
  border: 5px solid #BDE34F;
}

.dark-theme .website-code .border-btn {
  background-image: linear-gradient(45deg, #C2A64A, #A77A2E);
}

.dark-theme .website-code .club-scout {
  background-color: #072944;
}

.dark-theme .website-code .features {
  background-color: #072944;
}

.dark-theme .website-code .pricing {
  background-color: #072944;
}

.dark-theme .website-code .about-content {
  background-color: #072944;
}

.dark-theme .website-code .countries {
  background-color: #072944;
}

.dark-theme .website-code .country-list {
  background-color: #0C3453;
}

.dark-theme .website-code ::marker {
  color: #BDE34E;
}

.dark-theme .website-code .light-map {
  display: none;
}

.dark-theme .website-code .imprint {
  background-color: #072944;
}

.dark-theme .website-code::marker {
  color: #bde34f;
}

.dark-theme .website-code .cookie-popup {
  background: #072944;
}

.dark-theme .website-code .personalization-box {
  background: #072944;
}

.dark-theme .website-code .choice {
  background: linear-gradient(180deg, #EFFFC1, #BDE34F);
  border: 1px solid #0C3453;
}

.dark-theme .website-code .learn-more:hover {
  background: #BDE34F;
}

.dark-theme .website-code #footer a.login-btn {
  background-color: transparent;
}

.dark-theme .website-code .accept {
  background: linear-gradient(180deg, #EFFFC1, #BDE34F);
  border: 1px solid #0C3453;
}

.dark-theme .website-code .decline {
  background: linear-gradient(180deg, #FF93A0, #E05263);
  border: 1px solid #DB4343;
}

.dark-theme .website-code .privacy {
  background-color: #072944;
  color: white;
}

.dark-theme .website-code .terms {
  background-color: #072944;
  color: white;
}

.dark-theme .website-code .cookie-policy {
  background-color: #072944;
  color: white;
}

.dark-theme .website-code a.btn.btn-register {
  color: #072944;
  background-color: #BDE34F;

}

.dark-theme .website-code .club_text {
  background: radial-gradient(circle at 13% 0%, transparent, #0c3453);
}

.dark-theme .website-code .accordion-item:first-of-type {
  background-color: #072944;
}

.dark-theme .website-code .accordion-body,
.accordion-item {
  background-color: #072944;
}

.dark-theme .website-code .accordion-button {
  background-color: #072944;
}

.light-theme .website-code .accordion-button {
  background-color: #092E01;
}

.dark-theme .all-page-content .footer_main {
  background-color: #0C3453 !important;
}

.light-theme .all-page-content .footer_main {
  background-color: #f0f0f0 !important;
}

.dark-theme .website-code .accordion-item {
  background-color: #072944;
}

// .dark-theme .website-code .accordion-item::after {
//   background-color: #072944;
// }

.dark-theme .website-code .accordion-button:not(.collapsed) {
  background-color: #072944;
}

.dark-theme .website-code .btn.btn-danger {
  background-color: #BDE34F;
  color: #072944;
  border: 1px solid #BDE34F;
}

.dark-theme .website-code .premium {
  background: radial-gradient(circle at 18% 0%, transparent, #0c3453);
}

.dark-theme .website-code .premium-text img {
  background-color: #bde34f;
}

.dark-theme .website-code .toggle-button.active {
  background-color: #bde34f;
}

.dark-theme .website-code .light-feature1 {
  display: none;
}

.dark-theme .website-code .light-feature2 {
  display: none;
}

.dark-theme .website-code .light-feature3 {
  display: none;
}

.dark-theme .website-code .light-feature4 {
  display: none;
}

.dark-theme .website-code .main .main1 {
  background-color: #072944;
}

.dark-theme .website-code li::before {
  color: #bde34f;
  /* Customize marker color */
}

.dark-theme .website-code .feature-box {
  background: radial-gradient(circle at 1% 0%, transparent, #0c3453);
  /* background: radial-gradient(circle at 100% 0%, #2B4A25, transparent); */
}

.dark-theme .website-code .feature-heading {
  color: #BDE34E;
}

.dark-theme .website-code .btn-join {
  color: #0C3453;
  background-color: #BDE34E;
}


.dark-theme .website-code .contact-form {
  background-color: #072944;
}

.dark-theme .website-code .light-location {
  display: none;
}

.dark-theme .website-code .light-mail {
  display: none;
}

.dark-theme .website-code input#name {
  border: 1px solid #2B4A24;
  background-color: #0C3453;
}

.dark-theme .website-code input#email {
  border: 1px solid #2B4A24;
  background-color: #0C3453;
}

.dark-theme .website-code input#phone {
  border: 1px solid #2B4A24;
  background-color: #0C3453;
}

.dark-theme .website-code .custom-radio input[type="radio"]:checked+.radio-button::before {
  background-color: #bde34f;
  /* Inner color when selected */
}

.dark-theme .website-code .ad-close-button {
  background-color: #bde34f;
  color: #072944;
}

.dark-theme .website-code .faq {
  background-color: #072944;
}

.dark-theme .website-code .page-sidebar {
  border-radius: 20px;
  background: linear-gradient(#072944);
  width: 210px;
  margin: 20px 0px 20px 20px;
  position: fixed;
  height: 95%;
  transition: all 0.4s;
  background-color: #072944;
}

.dark-theme .website-code .page-header {
  position: fixed;
  width: calc(100% - 100px);
  z-index: 9;
  padding: 20px 25px;
  background: #0C3453 !important;
  transition: all 0.4s;

}

//   .page-container {
//     margin-left: 245px;
//     width: 100%;
//     position: relative;
//     transition: all 0.4s;
//   }

//   .page-content {
//     padding: 0px 25px 50px 25px;
//   }

//   .main-wrapper {
//     position: relative;
//     top: 115px;
//     z-index: 1;
//   }

.dark-theme .website-code .compact-sidebar .page-header {
  position: fixed;
  width: calc(100% - 100px);
  z-index: 9;
  padding: 20px 25px;
  background: #f0f0f0;
  transition: all 0.4s;
}

.compact-sidebar .dash_header {
  width: calc(100% - 430px);
  padding: 20px 0px;

}

.dash_header {
  width: calc(100% - 560px);
  padding: 20px 0px;
}

.compact-sidebar .page-container {
  margin-left: 115px;
  transition: all 0.4s;
}

.dark-theme .website-code #theme-text {
  margin-right: 8px;
  color: #FFFFFF
}

.compact-sidebar .page-sidebar {
  width: 80px;
  position: fixed;
  box-shadow: none;
  transition: all 0.4s;
  height: 95%;
  z-index: 2;
}

.compact-sidebar .page-sidebar:before {
  position: fixed;
  height: 95%;
  width: 80px;
  display: block;
  content: "";
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04);
  z-index: -1;
}
.dark-theme .page-sidebar {
  border-radius: 20px;
  width: 210px;
  margin: 20px 0px 20px 20px;
  position: static !important;
  height: 95%;
  transition: all 0.4s;
}

.compact-sidebar .sidebar_menu_span {
  display: none;
}

.compact-sidebar .logo_img {
  display: none !important;
}

.table> :not(caption)>*>* {
  border-bottom-width: 0px !important;
  padding: 0.938rem .3rem;
  vertical-align: middle;
}

#basic-addon1 {
  background-color: transparent;
  border-left: 0;

  .input-group-text {
    border-left: 0;


  }
}

.message-send {
  .input-group {
    border: 2px solid #E2E8F0;
    border-radius: 12px;
    padding: 13px 18px;
  }

  .form-control,
  .input-group-text {
    border: 0;
    border-radius: 12px;
  }
}

.dark-theme .website-code .search-area {
  width: 16.063rem;
  border-radius: 30px;
  padding: 8px 13px;
  background-color: #072944;

  .input-group-text,
  .form-control {
    background-color: transparent;
    color: #fff !important;
    border-radius: 0;
    border: 0;
    padding-bottom: 0;

  }

  .input-group-text {
    padding-right: 0;
    padding-left: 0;

  }

  .dark-theme .website-code .search-area .form-control {
    color: #ffffff !important;
  }

  .form-control {
    font-size: 14px;
    font-weight: 400;
    color: #202224;
    opacity: 0.5;

    &:focus {
      box-shadow: unset;
    }

  }
}

.dark-theme .website-code .table th {
  color: white;

}

.dark-theme .website-code .table td span {
  color: white !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.dark-theme .website-code .table td {
  color: white !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.table td,
.table td span {
  color: #111418;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.dark-theme .website-code .title-text {
  color: #FFFFFF !important;
}

.dark-theme .website-code .title-text:hover {
  color: #000 !important;
}

.dark-theme .website-code .bg_success {
  background: #00B69B;
  padding: 5px 15px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 15px;
}

.dark-theme .website-code .bg_pending {
  background: #FCBE2D;
  padding: 5px 15px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 15px;
}

.dark-theme .website-code .bg_reject {
  background: #FD5454;
  padding: 5px 15px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 15px;
}

.dark-theme .website-code .table_img {
  color: #111418 !important;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.dark-theme .website-code .modal-footer a.btn-primary {
  background: linear-gradient(to bottom, #EFFFC1, #BDE34F);
  color: black;
}



.form-check-input[type="checkbox"] {
  border-radius: 0px;
}

.form-check-input:focus {
  box-shadow: none;
}

.c_pointer {
  cursor: pointer;
}

.dark-theme .website-code .table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-bg-type: #072944 !important;
}

.dark-theme .website-code.card-title {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

.dark-theme .website-code .navbar-nav .sidebar-menu a svg {
  fill: white;
}

// .dark-theme .website-code.users-icon svg path {
//   fill: white;
// }

.dark-theme .website-code #users-icon svg path {
  fill: white;
}

.dark-theme .website-code #users-icon path {
  fill: white;
}

.dark-theme .website-code .card {
  padding: 15px 0px;
  background-color: #072944 !important;
  color: white;

  .dark-theme .website-code .card-header {
    background: #4F7A9D;
  }
}

.dark-theme .website-code .form-control:focus {
  // border: none !important;
  box-shadow: none !important;
}

.card-search {
  width: 344px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;

  .input-group-text,
  .form-control {
    background-color: transparent;

    border-radius: 0;
    padding: 5px 10px;
    border: 0;
  }

  .form-control {
    border-left: 0;
  }
}

.dark-theme .website-code .form-label {
  color: #ffffff !important
}

.form-control {
  font-size: 14px;
  font-weight: 400;
}

.form-control ::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.card-header .dropdown {
  margin-right: 7px;
}

.btn-outline-white {
  padding: 5px 10px 5px 10px;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  color: #787878;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 5px !important;
  margin-right: 7px;

  &:hover {
    border: 1px solid #D9D9D9;
  }

  &:active {
    border-color: #D9D9D9 !important;
  }
}



// ------------------------- sidebar start ------------------
.logo-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-bottom: 1px solid #fff;
  height: 11%;
  min-height: 80px;
}

.bottom_box {
  height: 9%;
  min-height: 65px;
  // display: flex;

  // align-items: center;
  // color: #fff;
  border-top: 1px solid #fff;
  // padding: 0px 20px 0px 40px;
}

// .bottom_box > h5 > img {
//   margin-right: 10px;
// }
.page-sidebar-inner {
  height: 77% !important;
}

.sidebar_state {
  position: absolute;
  background-color: #fff;
  right: -15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar_menu {
  list-style-type: none;
  padding: 0;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  top: 30%;
  margin-bottom: 0px;
}

.sidebar_menu li {
  margin: 3px 10px;
}

// .sidebar_menu a {
//   width: 100%;
//   position: relative;
//   display: flex;
//   align-items: center;
//   padding: 10px 11px;
//   font-size: 14px;
//   color: #fff !important;
//   line-height: 20px;
//   transition: all 0.4s ease-in-out;
//   margin-bottom: 8px;
//   font-weight: 600;
//   border-radius: 10px;
//   cursor: pointer;
//   z-index: 1;
//   white-space: nowrap;
// }

// .dark-theme .website-code .sidebar_menu a:hover {
//   background: #111418;
//   width: 180px;
// }

.dark-theme .website-code .sidebar_menu a {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px !important;
  font-size: 14px;
  color: #fff !important;
  line-height: 20px;
  transition: none !important;
  margin-bottom: 8px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  white-space: nowrap;
}

// .sidebar_menu a:hover {
//   background: #023A4A;
//   width: 180px;
// }

.dark-theme .website-code .sidebar_menu a:hover p {
  background: #111418;
  // padding: 10px 10px 10px 0px !important;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  // transition: all 0.4s ease-in-out !important;

}


.dark-theme .website-code .sidebar_menu a:hover {
  // padding: 0 10px !important;
  background: #111418;
}

.dark-theme .website-code .sidebar_menu a.active p {
  background: #BDE34F;
  // padding: 5px;
}

.dark-theme .website-code .sidebar_menu a.active {
  background: #BDE34F;
  // padding: 5px;
}

.sidebar_menu a svg {
  margin-right: 10px;
  min-width: 32px;
}

.sidebar-close {
  position: absolute;
  top: -10px;
  right: 0px;
  font-size: 25px;
  color: #fff;
  display: none;
}

.sidebar_menu a:hover {
  .sidebar_menu_span {
    display: block;
  }
}

.mobile-sidebar-active .page-sidebar {
  transform: translateX(0);
}

.logo_img1 {
  display: none;
}

.logo_img {
  width: 110px;
  display: block;
}

// ------------------------- sidebar end ------------------

// ------------------------- header start------------------
.sidebar-menu {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dark-theme .website-code .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// .dark-theme .website-code .slider.round {
//   border-radius: 34px;
// }

// .dark-theme .website-code .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   // background-color: #ccc;
//   -webkit-transition: 0.4s;
//   transition: 0.4s;
// }

// .dark-theme .website-code .slider.round:before {
//   border-radius: 50%;
// }

// input:checked+.slider:before {
//   -webkit-transform: translateX(26px);
//   -ms-transform: translateX(26px);
//   transform: translateX(26px);
// }

/* Rounded sliders */
// .slider.round {
//   border-radius: 34px;
// }

.dark-theme .website-code .dashboard-title {
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
  margin-right: 18px;
  color: #FFFFFF;
}

.dashboard-title h6 {
  font-size: 14px;
  font-weight: 400;
}

.dashboard-title h6 strong {
  font-weight: 600;
}

.badgeinfo {
  background-color: #7EC9FF;
  padding: 5px;
  font-size: 10px;
  border-radius: 20px;
  margin: 0px 5px;
}

.badge-info {
  background-color: var(--info);
  border-color: var(--info);
  color: black;
}

.avatar {
  width: 20px;
  height: 20px;
  min-width: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.header-left-content .search-area {
  width: 15.625rem;
  height: 3rem;
  overflow: hidden;
}

.nav-action {
  position: relative;
}

.nav-action .badge {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-danger {
  background-color: #f93c65 !important;
}

.nav-action svg {
  stroke-width: 2px;
  stroke: #000;
}

.dark-theme .website-code .nav-action svg path {
  fill: #f0f0f0;
  stroke: white;
}


.dark-theme .website-code .card-tabs .nav-tabs .nav-link svg path {
  fill: #f0f0f0 !important;
  stroke: #ffffff;

}

.dark-theme .website-code #search-icon path {
  stroke: white;

}

.dark-theme .website-code .token-chek {
  color: #ffffff;
}

.profile img {
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  width: 40px;
}


// .notification_dropdown .dropdown-menu {
//   padding: 20px 0px;
//   width: 350px;
// }

// .notification_dropdown .dropdown-menu h6 {
//   font-size: 16px;
//   font-weight: 600;
// }

// .notification_dropdown .dropdown-menu p {
//   font-size: 14px;
//   font-weight: 400;
//   padding-bottom: 3px;
// }

// .small {
//   font-size: 12px;
//   color: #959595;
// }

// .load_more {
//   font-size: 14px;
//   font-weight: 500;
//   text-align: center;
//   padding: 10px 0px;
//   color: #000;
// }

// .profile .dropdown-menu {
//   padding: 20px 15px;
//   width: 200px;
// }

// .profile .dropdown-menu h6 {
//   font-size: 16px;
//   font-weight: 600;
//   margin-bottom: 0px;
// }

// .profile .dropdown-menu p {
//   font-size: 12px;
//   font-weight: 500;
//   color: #9D9EA0;
//   padding-bottom: 10px;
//   border-bottom: 1px solid #DFE3E8;
// }

// .badgewarning {
//   background: #FBC107;
//   padding: 0px 10px;
//   font-size: 10px;
//   border-radius: 20px;
// }

// .page-header .navbarcollapse {
//   display: flex;
//   flex-grow: 1;
//   align-items: center;
//   flex-basis: auto;
// }

// .page-header .navbarcollapse .navbar-nav {
//   margin-left: auto;
//   padding-right: 30px;
// }

.dark-theme .website-code .page-header #nav-search {
  border-radius: 20px;
  border: 0;
  padding: 10px 22px;
  font-size: 13px;
  width: 230px;
  background: #072944;
  color: #A5AFBA;
  font-weight: 700;
  display: block;
  margin: 6px 0 6px;
}

// .page-header .navbar-search #nav-search:focus {
//   outline: 0;
// }




.dark-theme .website-code .form-control::placeholder {
  color: #A5AFBA !important;
}

// ------------------------- header end ------------------

// ------------------------- dashboard start ------------------
.dark-theme .website-code .dashboard_table {
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  position: relative;
  background-color: #072944;
}

// .table {
//   --bs-table-bg: transparent;
// }

.dark-theme .website-code .table_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dark-theme .website-code .table_title p {
  color: black;
}

.dark-theme .website-code .table_title select {
  border-radius: 20px;
  margin-left: 15px;
  padding: 5px 15px;
  border: 0.7px solid #e5e5e5;
  background-color: #0C3453;
  color: #ffffff;
}

// .table_title span {
//   font-size: 14px;
//   font-weight: 700;
//   color: #4379EE;
// }

// .dashboard_table .table {
//   border: none;
//   background: transparent;
//   padding: 0px 5px;
// }


// .canvas {
//   max-width: 100%;
//   max-height: 300px;
//   margin-bottom: 15px;
// }

.dark-theme .website-code .right-sidebar {
  background-color: #072944;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 300px;
  z-index: 9;

  .dark-theme .website-code .card {
    border: 0;
    height: 100vh;
    border-radius: 0px;

    .card-header {
      background-color: transparent;
    }
  }
}

.dark-theme .website-code .card-header a {
  color: #ffffff !important;
}

.dark-theme .website-code .card-header h4 {
  color: #ffffff !important;
}

.dark-theme .website-code .setting-title {
  color: #ffffff !important;
}

.dark-theme .website-code .Addmember {
  color: #FFFFFF !important;
}

.dark-theme .website-code .card-tabs {
  .nav-tabs {
    border-radius: 20px;
    background-color: white;
    padding: 15px 17px;
    border: 1px solid #0C3453;
    white-space: nowrap;
    background-color: #072944;

    .nav-item {
      flex: 1;

      .nav-link {
        border: 0;
        font-size: 12px;
        border-radius: 10px;
        margin: 0;
        padding: 0.5rem 1.125rem;
        font-weight: 500;
        color: #ffffff !important;
        font-weight: 700;
        text-align: center;
        background-color: #072944 !important;

        &.active {
          background: #072944 !important;
          color: #fff;

          // &:hover {
          //   color: #fff;
          // }
        }

        &:hover {
          color: #fff;
        }
      }
    }

    .nav-link {
      border-top: none !important;
    }

  }


  .dark-theme .website-code .card-tabs .nav-link.active {
    background-color: #072944;
  }
}

.dark-theme .website-code .mesaage-content h6 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
}

.dark-theme .website-code .mesaage-content small {
  color: #A5AFBA;
  font-size: 12px;
  font-weight: 400;
}

.dark-theme .website-code .navtabs_button p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #A5AFBA;
}

.dark-theme .website-code .navtabs_button h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: #A5AFBA;
}

.dark-theme .website-code .nav-link.active .navtabs_button h6 {
  color: #FFFFFF !important;
}

// ------------------------- dashboard end ------------------
// ------------------------- users start ------------------

.offcanvas {
  width: 300px;
}

.edit-bx {
  margin-bottom: 30px;
}

.dark-theme .website-code .text-light {
  color: #ffffff !important;
}

.font-w400 {
  font-weight: 400;
}

.dark-theme .website-code .edit-canvas {
  .offcanvas-title {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }

  .close {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
  }

  .edit-canvas-media {
    position: relative;

    img {
      width: 49px;
      object-fit: cover;
      border-radius: 50%;
      height: 49px;
      margin-right: 25px;
    }

    .shield {
      position: absolute;
      right: 14px;
      bottom: 0;

    }

  }

  .edit-canvas-content {
    h6 {
      color: #FFFFFF;
      opacity: 0.8;
      font-weight: 500;
    }
  }
}

.dark-theme .website-code .list-view-title {
  font-size: 14px;
  font-weight: 700;
  color: #E7E7E7;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E7E7E7;
}

.dark-theme .website-code .list-view {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #E7E7E7;

  h6 {
    color: #E7E7E7;
    font-weight: 500;
    font-size: 16px;
  }

}

.dark-theme .website-code label.form-check-label {
  color: #ffffff;
}

.modal-avtar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
}

.dark-theme .website-code .dropdown-toggle {
  display: flex;
  align-items: center;
  background-color: #023A4A;
  // border-color: #D9D9D9;
  padding: 3px 10px 3px 10px;

  border-radius: 4px;

  &:after {
    border-top-color: #646464;

  }

  .form-check {
    margin-bottom: 0;
  }
}

.dark-theme .website-code .dashboard_table .nav-tabs .nav-link {
  margin-bottom: 0px;
  border-top: 2px solid #1F4360 !important;
  border-right: 0;
  border-left: 0;

  &.active {
    border: 2px solid #1F4360 !important;
    border-top: 0 white !important;
    background: rgba(11, 149, 100, 0.08);
  }
}


// .dark-theme .website-code.table tbody tr:hover {
//   border: 1px solid #236115 !important;
//   border-collapse: separate;
//   // background: #edffe9;

// }


.dark-theme .website-code :checked+.slider {
  background-color: #BDE34F !important;
}

.dark-theme .website-code .table tbody tr {

  color: #ffffff;

}


.dark-theme .website-code .table tbody tr:hover {
  border: 1px solid #072944;
  // border-collapse: separate;
  background: #072944;
  color: #ffffff;

}

.dark-theme .website-code td:hover {
  // border-top: 1px solid #072944;
  // border-bottom: 1px solid #072944;
  //  border: 1px solid #072944;

  &:first-child {
    border-right: 0;
  }

  &:last-child {
    border-left: 0;
  }

  // &:nth-child(2),
  // &:nth-child(3),
  // &:nth-child(4),
  // &:nth-child(5){
  //   border-top: 1px solid #072944;
  //   border-bottom: 1px solid #072944 ;
  //   border: 0;
  // }

}

.dark-theme .website-code .table tbody tr:hover {
  border: none !important;
}

.dark-theme .website-code .table tbody tr:hover td {
  border: none !important;
}

.dark-theme .website-code .card .card-header {
  background-color: #072944;
}


.dark-theme .website-code .btn-primary {
  background-color: #BDE34F;
  border-color: #BDE34F;
}



// ---------------login popup---------------


.dark-theme .website-code .modal-content {
  background: #072944;
  color: #fff;
}

.dark-theme .website-code .modal-btn .socail_btn {
  border: 1px solid #BDE34F !important;

}

.dark-theme .website-code .register {
  color: #BDE34F !important;
}

.dark-theme .website-code .forgot_btn {
  color: #BDE34F !important;
}

.dark-theme .website-code svg.login-logo path {
  fill: #BDE34F !important;
  // color: #BDE34F !important;
}

.dark-theme .website-code .check-resister {
  border-color: #85b1d3;
  border: 1px solid;
}

.dark-theme .website-code .check-resister .form-check-label span {
  color: #85b1d3;
}

.dark-theme .website-code .create-account.d-block {
  background: linear-gradient(to bottom, #EFFFC1, #BDE34F);
  color: #072944;
  font-weight: 700;
}

// .dark-theme .website-code button:hover {
//   background: linear-gradient(to bottom, #EFFFC1, #BDE34F);
//   // color: #072944;
// }

.dark-theme .website-code .check-resister.active {
  border-color: #BDE34F !important;
}

.dark-theme .website-code .check-resister.active .form-check-label span {
  color: #BDE34F !important;
}

// .dark-theme .website-code .form-check-input:checked {
//   background-color: #BDE34F !important;
//   border-color: #BDE34F !important;
// }
.dark-theme .website-code .forget-password svg path {
  fill: #BDE34F !important;
}


// ----------------setting ---------------

.dark-theme .website-code .card-tabs .nav-tabs .nav-link {
  border-bottom: none !important;
}

.dark-theme .website-code .card-tabs {
  background-color: #072944 !important;
}



// ---------------------Footer --------------------


.dark-theme .website-code #footer {
  background-color: #072944;
  color: #ffffff;
}

.dark-theme .website-code .footer-text {
  color: #ffffff !important;
}

.dark-theme .website-code .footer_main_inner {
  color: #ffffff !important;

}

.dark-theme .website-code #footer .footer-top h4 {
  color: #ffffff !important;

}

.dark-theme .website-code .social-link li a svg path {
  fill: #fff;
}

.dark-theme .website-code .footer-contact svg path {
  fill: #BDE34F;
}

.dark-theme .website-code .bgprimary {
  background-color: #BDE34F !important;
}

// .dark-theme .website-code .overlay{
//   opacity: 40% !important;
// }
.dark-theme .website-code #eye-icon path {
  fill: white;
}

.dark-theme .website-code .delete-text {
  color: #ffffff;
}


.dark-theme .website-code .mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: #072944;
}

.dark-theme .website-code .parent-popup {
  background-color: #072944;
}

.dark-theme .website-code .text-size {
  color: #ffffff;
}

.dark-theme .website-code .button-text {
  color: #ffffff !important;
}

.dark-theme .website-code .main-template {
  color: #ffffff !important;
}


// ------------------



.dark-theme .website-code .custom-size-calendar .mdc-text-field--filled {
  background: white !important;
}

.dark-theme .website-code .Delete-cover {
  color: white;
  background-color: #072944 !important;
}




// --------


.dark-theme .website-code .custom-button {
  color: #ffffff !important;
}

.dark-theme .website-code .cupen-btn {
  color: #ffffff !important;
}

.dark-theme .website-code .cupen-btn-1 {
  color: #ffffff !important;
}

.dark-theme .website-code .code-text {
  color: #ffffff !important;
}








// ------------------------- users end ------------------

// -------- popup

.dark-theme .website-code .offcanvas.offcanvas-end.edit-canvas.show {
  background-color: #072944;
}


//--- fiter  ---


.dark-theme .website-code .bg-body {
  background-color: #072944 !important;
  color: white;
}

.dark-theme .website-code .input-filter-text {
  color: #000 !important;
}


// ---------------Manage User ---------------

.dark-theme .website-code .nav-tabs {
  &.user-tabs {
    border: 0;
    border-bottom: 1px solid #E7E7E7;

    .nav-item {
      position: relative;

      .nav-link {
        border: 0;
        color: #FFFFFF !important;
        font-size: 14px;
        font-weight: 600;
        padding: 16px 20px 10px 20px;

        svg {
          margin-right: 10px;
        }

        &:after {
          content: "";
          position: absolute;
          height: 1px;
          background: #023A4A;
          width: 0px;
          left: 50%;
          bottom: 0px;
          border-radius: 5px;
          transform: translateX(-50%);
          -webkit-transition: all 0.2s;
          -ms-transition: all 0.2s;
          transition: all 0.5;
        }

        &.active {
          &:after {
            width: 100%;
          }
        }
      }
    }

  }
}

.dark-theme .website-code #manage-button {
  background-color: #072944;
}

.dark-theme .website-code .transfer {
  background-color: #072944 !important;
  border-bottom: 1px solid #fff !important;

}


.dark-theme .website-code .user-right-content .team-details p {
  color: #ffffff !important;
}

.dark-theme .website-code .user-right-content .team-details h6 {
  color: #ffffff !important;

}

.dark-theme .website-code .user-info {
  h6 {
    color: #ffffff !important;
  }

  small {
    color: #ffffff !important;
  }
}

.dark-theme .website-code .approv {
  background-color: #0C3453;
}

.dark-theme .website-code .user-text {
  color: #ffffff !important;
}


.dark-theme .website-code .dashboard_table-2 {
  background-color: #072944;
}

.dark-theme .website-code .dashboard_table-2 p {
  color: #dfe8ee;
}

.dark-theme .website-code .table_title p {
  color: #dfe8ee;
}


.dark-theme .website-code .table-users tr {
  background: #072944 !important;
}

.dark-theme .website-code .nav-link.active {
  color: white;
}


.dark-theme .website-code .mat-mdc-paginator-range-label {
  color: white !important;
}

.dark-theme .website-code .paginator-components .mat-mdc-paginator-container {
  background: #072944 !important;
}

// .dark-theme .website-code #footer a.login-btn:hover, .dark-theme .website-code .banner-btn a.btn-primary:hover, .dark-theme .website-code .btn.btn-register:hover {
//   background: transparent;
// }


.dark-theme .website-code .paginator-components .mat-mdc-paginator-range-actions button {
  background-color: white;
  --mdc-icon-button-state-layer-size: 32px !important;
  margin-right: 10px !important;
  padding: 2px !important;
}

.dark-theme .website-code .main-popup-div mat-select {
  color: white !important;
}

.dark-theme .website-code .main-popup-div .mat-mdc-select-trigger {
  border: 1px solid white !important;
}

.dark-theme .website-code .main-popup-div .mat-mdc-select-arrow-wrapper svg {
  color: white !important;
}

.dark-theme .website-code .template-name-inputField {
  background-color: #0C3453;
  color: white;
}

.dark-theme .website-code .NgxEditor__MenuBar {
  background-color: #0C3453 !important;
  color: white;

}

.dark-theme .website-code .NgxEditor__Content {
  background-color: #072944;
  color: white;

}

.dark-theme .website-code .marketing-calender-field .mat-mdc-text-field-wrapper {
  background-color: #0C3453 !important;
}

.dark-theme .website-code .label-enter-date-range {
  color: white;
}

.dark-theme .website-code .marketing-calender-field .mdc-icon-button svg {
  color: white;
}

.dark-theme .website-code .marketing-calender-field .mat-date-range-input-inner {
  color: white;
}

.dark-theme .website-code .NgxEditor__MenuItem .NgxEditor__MenuItem--Icon:hover {
  background-color: #f1f1f114 !important;
}

.dark-theme .website-code .NgxEditor__Dropdown:hover {
  background-color: #f1f1f114 !important;

}

.dark-theme .website-code .light-theme .website-code {
  background-color: #0c3453 !important;
}


// ------------------------- respone------------------
@media (max-width: 1199px) {
  .dashboard-title {
    margin-right: 3%;
  }

  .switch {
    width: 50px;
    height: 25px;
  }

  // .slider:before {
  //   height: 23px;
  //   width: 23px;
  // }

  // .dark-theme .website-code .slider:before {
  //   height: 27px;
  //   width: 27px;
  //   left: -6px;
  //   bottom: 0;
  // }

  // .notification_dropdown a svg {
  //   width: 20px;
  // }

  // .country_dropdown a img {
  //   width: 33px;
  //   height: 35px;
  // }

  .profile img {
    height: 35px;
    width: 35px;
  }

  .page-header .navbarcollapse .navbar-nav {
    padding-right: 10px;
  }

  .page-header #nav-search {
    padding: 10px 22px;
    font-size: 12px;
    width: 200px;
  }

  .dark-vector-img {
    margin-top: 9px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .page-sidebar {
    width: 100%;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(0);
    z-index: 100;
  }

  .dark-theme .website-code .login-btn {
    background-color: transparent;
  }

  .dark-theme .website-code .login-btn {
    color: white;
  }

  // .dark-theme .website-code .slider:before {
  //   height: 27px;
  //   width: 27px;
  //   bottom: 0;
  //   left: -6px;
  // }

  .dark-theme .website-code .ms-2 {
    margin-left: 0.5rem !important;
    filter: brightness(0) invert(1);
  }

  .dark-vector-img {
    margin-top: 9px;
    margin-left: 15px;
  }

  .page-container {
    width: 100% !important;
    margin: 0 !important;
  }

  .page-header .navbarcollapse .navbar-nav {
    padding-right: 0px !important;
  }

  .page-header {
    width: 100% !important;
    padding: 0px 30px 0px 30px !important;
  }

  .page-content {
    padding: 0px 20px;
    width: 100%;
  }

  .right-sidebar {
    display: none;
  }

  .dark-theme .website-code .work-text {
    color: white;
    opacity: 1;
  }

  .dark-theme .footer-links a:hover {
    color: #bde34f;
  }

  .dark-theme ul.social-links i:hover {
    color: #bde34f !important;
  }

  .dark-theme a:not([href]):not([class]):hover {
    color: #BDE34E !important;

  }

  .dark-theme a.nav-link:hover {
    color: #bde34f;
  }
  .dark-vector-img {
    margin-top: 9px;
    margin-left: 10px;
  }

  .sidebar-menu {
    display: block !important;
  }

  .sidebar-close {
    display: block !important;
  }

  .mobile-sidebar-active .page-sidebar {
    opacity: 1;
    visibility: visible;
    margin: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;

    .sidebar_menu_span {
      display: block;
    }

    .sidebar_state {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  app-sidebar {
    margin-top: 60px;
  }

  .page-sidebar {
    overflow: auto;
  }

  .page-sidebar-inner {
    height: 67% !important;
  }

  .bottom_box {
    min-height: 45px !important;
  }
}


@media (max-width: 767px) {

  // .theme_dropdown,
  // .notification_dropdown,
  // .country_dropdown {
  //   display: flex;
  // }

  .navbar-search {
    display: none;
  }

  // .dark-theme .website-code .slider:before {
  //   height: 27px;
  //   width: 27px;
  //   left: 0;
  //   bottom: 0;
  // }

  .dashboard-title h6 {
    font-size: 14px;
  }

  .dashboard-title {
    margin: 0px;
  }

  .page-header {
    width: 100% !important;
    padding: 0px 10px !important;
  }

  .sidebar_menu {
    position: relative;
    top: 15px;
  }

  .main-wrapper {
    top: 75px;
  }

  .page-content {
    padding: 0px 10px;
  }
}

@media (max-width: 575px) {

  // .dark-theme .website-code .slider:before {
  //   height: 27px;
  //   width: 27px;
  //   bottom: 0;
  // }


  .dark-vector-img {
    margin-top: 11px;
    margin-left: 6px;
  }

  .dark-vector-img img {
    height: 18px;
    width: 20px;
  }
}

@media(max-width: 425px) {


  // .dark-theme .website-code .slider:before {
  //   height: 27px;
  //   width: 27px;
  //   bottom: 0;
  // }

  .dark-theme .website-code .bg_pending {
    background: #fcbe2d;
    padding: 3px 10px;
    color: #fff !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 15px;
  }

  .dark-theme .website-code .bg_sucess {
    background: #236115;
    padding: 3px 10px;
    color: #fff !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 15px;
  }

  .dark-theme .website-code .bg_reject {
    background: #fd5454;
    padding: 3px 10px;
    color: #fff !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 15px;
  }

  .dark-theme .website-code .marketing-main-checkbox {
    padding: 3px !important;
    font-size: 12px !important;
    border-radius: 4px !important;
  }

  .compact-sidebar .logo_img1 {
    width: 110px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .page-sidebar-inner {
    height: 65% !important;
  }

  .compact-sidebar .page-sidebar {
    top: 50px;
  }

  .sidebar_menu a {
    padding: 6px 10px;
  }

  .navbar-expand .navbar-nav .notification-box {
    position: absolute !important;
    top: 54px !important;
    right: -77px !important;
  }
}

@media(max-width: 450px) {
  .page-header {

    padding: 0px !important;
  }

}

@media(max-width: 391px) {
  // .dark-theme .website-code .slider:before {
  //   height: 25.5px;
  //   width: 26.5px;
  //   bottom: 0;
  // }
}

@media(max-width: 376px) {

  .navbar-expand .navbar-nav .notification-box {
    position: absolute !important;
    top: 54px !important;
    right: -104px !important;
  }

  // .notification_dropdown .notification-box {
  //   padding: 20px 0px !important;
  //   width: 360px !important;
  // }
}

@media(max-width: 321px) {


  .navbar-expand .navbar-nav .notification-box {
    position: absolute !important;
    top: 54px !important;
    right: -100px !important;
  }

  // .notification_dropdown .notification-box {
  //   padding: 20px 0px !important;
  //   width: 300px !important;
  // }

  .dark-vector-img img {
    height: 16px;
    width: 16px;
  }

  .dark-vector-img {
    margin-top: 10px;
    margin-left: 6px;
  }

  // .dark-theme .website-code .slider:before {
  //   height: 26px;
  //   bottom: 0;
  // }

  .dark-theme .website-code .check-resister.active input#ManualInput {
    /* border-color: pink; */
    border: 4px solid #BDE34F;
  }

  .dark-theme .website-code .check-resister.active input#AutomaticInput {
    /* border-color: pink; */
    border: 4px solid #BDE34F;
  }

  .dark-theme .website-code .check-resister.active input#scoutRole {
    /* border-color: pink; */
    border: 4px solid #BDE34F;
  }

  .dark-theme .website-code .navbar-nav .nav-link.active:hover {
    color: #bde34f;
    /* Change color to white on hover */
  }



}
