.user-pending-icon{
    max-width: 22px;
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
  }
  
  .user-approved-icon{
    max-width: 26px;
    position: absolute;
    margin-top: 23px;
    margin-left: -15px;
  }
  
  .user-rejected-icon{
    max-width: 22px;
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
  }