.boosted-profile-preview {
    padding: 20px;
  }
  
  h2, h3 {
    text-align: center;
  }
  
  .target-audience, .stats, .default-profile-preview {
    margin-bottom: 20px;
  }
  
  .actions button {
    margin-right: 10px;
  }
  .dialog-header h2 {
    font-size: 18px;
    font-weight: 600;
}
.personal_edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-btn {
  background: none;
  font-size: 19px;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 9px;
  color: #849aa2;
  border: 4px solid #849aa2;
  border-radius: 50%;
}
.profile_preview {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  height: 280px;
}
.player-image-bg-2{
  background: #CACACA;
}
.player-image-bg{
  background: rgb(35,97,21);
  background: linear-gradient(90deg, rgba(35,97,21,1) 0%, rgba(111,185,93,1) 100%);;
}
.player_img img {
  width: 100%;
  padding: 30px;
  padding-bottom: 0;
  // width: 260px;
  height: 260px;
  object-fit: cover;
}
.player-names {
  background: #429130;
  padding: 8px 8px 10px 8px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.player-names a {
  text-decoration-line: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.image_box {
  border-radius: 16px !important;
}

.team-logo-bg {
  background: #E2001A;
  width: 180px;
  height: 160px;
  position: absolute;
  top: -84px;
  right: -87px;
  transform: rotate(43deg);
}
.flag_box {
  background: #fff;
  width: fit-content;
  border-radius: 4px;
  position: absolute;
  bottom: 42px;
  left: 18px;
  padding: 6px 10px;
  text-align: center;
}
.boosted-box {
  background: #023A4A;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  padding: 16px 20px;
  border-radius: 0px 0px 10px 0px;
  position: absolute;
  top: 0;
}
.flag_box img{
  margin-bottom: 4px;
}
.flag_box hr {
  margin: 2px;
}
.player-age{
  font-size: 12px;
  margin-left: 4px    ;
  color: #559B44;
  font-weight: 600;
}
.player-team-logo img {
  width: 36px;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
}
.image-right-border{
  border-right: 1px solid #EBEBEB;
  padding: 0px 50px 0px 40px;
}
.boosted-profile{
  color: #111418;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 8px;
}
.form-group input,.form-group mat-select {
  width: 100%;
  padding: 14px;
  line-height: normal;
  border: 1px solid #bbb7b7;
  border-radius: 10px;
}
.form-group mat-select{
  margin-top: 10px;
}
.boost-plan_profile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.target-audience  label{
  font: 16px;
  font-weight: 700;
}
.explore-chip {
  flex-wrap: wrap;
  row-gap: 10px;
}
.explore-chip .chip {
  background: #023A4A;
  color: #fff;
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 20px;
  margin: 0px 5px;
}
.explore-chip_cut svg {
  fill: #fff;
  margin-left: 8px;
}
.explore-chip_cut {
  background: inherit;
  border: none;
}
.stats h3{
  font-size: 16px;
  font-weight: 700;
  text-align: justify;
}
.total-bg{
  background: #F3FFF1;
  padding: 20px 30px;
}
.totle-view svg path{
  fill: #6FB95D;
}
.total-bg p{
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.total-bg span.bold-text{
  font-weight: 800;
}
.main-template{
  font-size: 16px;
  color: #111418;
  margin-left: 20px;
  font-weight: 400;
}
.table-bg td{
  padding: 8px 18px;
  text-align: center;
}
.table-bg-2 td{
  padding: 8px 18px;
  text-align: center;
}
.table-bg{
  background: #FAFAFA;
}

.table-bg-2:hover{
  border: 1px solid #236115 ;
  border-collapse: separate;
  background: #edffe9;
}
.table-bg:hover{
  border: 1px solid #236115 ;
  border-collapse: separate;
  background: #edffe9;
}
.table-bg-2{
  background: inherit;
}
.puse-btn{
  font-size: 18px;
  font-weight: 700;
  color: #FD5454;
  padding: 12px 40px;
  border: none;
}
.save_button{
  background: #6FB95D;
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
}
.stats{
  margin-top: 70px;
}
.audience_box{
  padding: 0px 30px;
}
.overflow-stats{
  max-height: 26vh;
  overflow: auto;
}
.overflow-stats::-webkit-scrollbar-thumb{
  background: none;
}
.overflow-stats::-webkit-scrollbar {
  width: 6px;
}
.boost-profile .overflow-card{
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding:0px 20px 0px 20px;
}
.boost-profile .personal_edit {
  padding: 0px 20px 0px 20px;
}
.mat-mdc-dialog-surface{
  overflow: hidden !important;
}
.boost-profile .overflow-card::-webkit-scrollbar {
  width: 6px;
}
.boost-profile .overflow-card::-webkit-scrollbar-thumb {
  background: rgb(228, 228, 228); 
  border-radius: 10px;
}
@media (max-width:768px) {
  .mobile-table{
    flex-direction: column;
    row-gap: 20px;
  }
  .image-right-border {
    padding: 0px 10px;
}
.audience_box {
  padding: 0px 10px;
}
  .mobile-table .col-5{
    width: 100%;
    border-right: none;
  }
  .mobile-table .col-7{
    width: 100%;
  }
}
@media (max-width:600px) {
  .puse-btn{
    margin-right: 0 !important;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .save_button {
    margin-right: 0 !important;
    width: 100%;
    text-align: center;
    
}
}
