<section class="website-code">
<app-header></app-header>
<div class="main">
  <div class="overlay"></div>
  <div class="banner-inner py_0">
    <div class="container">
      <div class="about">
        <h2 class="privacy-text">{{'privacyTranslate.privacyPolicy' | translate}}</h2>
      </div>
    </div>
  </div>
  <div *ngIf="adVisible[0]" class="skyscraper-left">
    <img src="./assets/images/skyscraper - 120x600.png">
    <button (click)="closeAd(0)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
  </div>

  <div *ngIf="adVisible[1]" class="skyscraper-right">
    <img src="./assets/images/skyscraper - 120x600.png">
    <button (click)="closeAd(1)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
  </div>
</div>

<div class="privacy">
  <div class="container">

    <div class="py_0">
      <h4>{{'privacyTranslate.privacyPolicy' | translate}}</h4>
      <p>{{'privacyTranslate.committedToProtecting' | translate}}</p>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.informationWeCollect' | translate}}</h4>
      <ul>
        <li>{{'privacyTranslate.personalInformation' | translate}}</li>
        <li>{{'privacyTranslate.usageData' | translate}}</li>
      </ul>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.yourInformation' | translate}}</h4>
      <ul>
        <li>{{'privacyTranslate.provideServices' | translate}}</li>
        <li>{{'privacyTranslate.improveOurServices' | translate}}</li>
        <li>{{'privacyTranslate.toCommunicate' | translate}}</li>
      </ul>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.sharingYourInformation' | translate}}</h4>
      <p>{{'privacyTranslate.rentYourPersonalInformation' | translate}}</p>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.dataSecurity' | translate}}</h4>
      <p>{{'privacyTranslate.safetyPersonalInformation' | translate}}</p>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.cookies' | translate}}</h4>
      <p>{{'privacyTranslate.ourWebsiteCookies' | translate}}</p>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.yourRights' | translate}}</h4>
      <p>{{'privacyTranslate.deleteYourPersonalInformation' | translate}}</p>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.changePrivacyPolicy' | translate}}</h4>
      <p>{{'privacyTranslate.updatePrivacyPolicy' | translate}}</p>
    </div>

    <div class="py_0">
      <h4>{{'privacyTranslate.contactUs' | translate}}</h4>
      <p class="contact-text">{{'privacyTranslate.questionsOrConcerns' | translate}}</p>
      <p>{{'privacyTranslate.address' | translate}}</p>
      <p>{{'privacyTranslate.succerYouSportsAG' | translate}}</p>
      <p>{{'privacyTranslate.idaStauliStrasse' | translate}}</p>
      <p>{{'privacyTranslate.winterthur' | translate}}</p>
      <p>{{'privacyTranslate.switzerland' | translate}}</p>
    </div>

    <div class="advertisment" [ngClass]="{'hidden': !adVisible[2]}">
    <div *ngIf="adVisible[2]" class="leaderboard-image">
      <img src="./assets/images/leaderboard - 728x90.png">
      <button (click)="closeAd(2)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
    </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</section>