<section class="website-code">
<div class="main">
  <div class="overlay" *ngIf="showPopup"></div>
  <div class="cookie-popup" *ngIf="showPopup">
    <div class="container cookie-popup1">
          <p class="cookie-text">
            {{ 'cookiepopupText' | translate }} <span style="text-decoration: underline;"> {{ 'cookiepopupText1' | translate }} </span> {{ 'cookiepopupText2' | translate }}
          </p>
  
          <div class="cookie-button" *ngIf="showPopup">
            <div class="choice-btn">
              <button type="button" class="choice" (click)="personalizeChoices()">{{ 'personalizeMyChoices' | translate }}</button>
            </div>
            <div class="accept&decline">
              <button type="button" class="accept" (click)="acceptCookies()">{{ 'iAccept' | translate }}</button>
              <button type="button" class="decline" (click)="declineCookies()">{{ 'idecline' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="overlay" *ngIf="showPersonalizationBox"></div>
      <div class="personalization-box" *ngIf="showPersonalizationBox" [class.show]="showPopup">
        <div>
          <h5 class="model-heading">{{ 'manageConsentPreferences' | translate }}</h5>
          <!-- <button type="button" class="close" (click)="closePersonalizationBox()">&times;</button> -->
        </div>

        <div class="modal-body">
          <div class="model-text" *ngFor="let permission of permissions">
            <div>
              <h6 class="modal-text-h6" 
                  [ngClass]="{'readonly-text': permission.readOnly}">
                {{ permission.name }}
              </h6>
              <p [ngStyle]="{'color': permission.enabled ? '#6FB95D' : (permission.readOnly ? 'grey' : 'white')}">
                {{ permission.description }}
              </p>
            </div>
        
            <div class="slider-toggle">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="permission.enabled" 
                       [disabled]="permission.readOnly === true"
                       [attr.aria-label]="'Toggle consent for ' + permission.name">
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
        

        <div class="modal-footer">
          <button type="button" class="accept" (click)="allowAll()">{{ 'allowAll' | translate }}</button>
          <button type="button" class="accept" (click)="refuseAll()">{{ 'refuseAll' | translate }}</button>
          <button type="button" class="accept" (click)="savePreferences()">{{ 'save' | translate }}</button>
        </div>
      </div>
    </div>
</section>