a.dropdown-item.ai-icon.selected {
  background: red;
}

.notification-box {
  overflow: auto;
  max-height: 80vh;
  overflow-x: hidden;
  transform-origin: top;
  animation: scale-open .3s ease-in-out forwards;
}

.notification-box::-webkit-scrollbar{
  display: none;
}

.header-view-profile {
  font-size: 12px;
  color: grey;
}

.header-view {
  font-size: 12px;
}

.header-peter {
  font-size: 12px;
}

.live-notification-box {
  transform-origin: top;
  animation: scale-open .3s ease-in-out forwards;
}

.my-animate {
  animation: scale-open2 .5s ease forwards;
}

@keyframes scale-open {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes scale-open2 {
  from {
    transform: translateY(-10rem);
  }

  to {
    transform: translateY(0rem);
  }
}

.bell-animate{
  animation: rotate-me .4s ease-in-out infinite alternate;
}

@keyframes rotate-me {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-20deg);
  }
}

.new-bell-animate{
  animation: scale-me .5s ease-in-out infinite alternate;
}

@keyframes scale-me {
  0% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

#notification-box-id {
  scroll-behavior: smooth;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #3d7f2e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 768px) {
  .sidebar-menu a svg {
    width: 35px;
    height: 35px;
  }
}

@media (max-width:600px) {
  .dashboard-title {
    display: none;
  }

  .input-group.search-area {
    display: none;
  }
}

@media(max-width: 425px) {
  .sidebar-menu a svg {
    width: 27px;
    height: 27px;
  }

}

@media(max-width: 450px) {

  .page-heading {
    display: none;
  }

  .align-dashboard-title {
    display: none;
  }

  .search-area {
    display: none;
  }

  #theme-text {
    margin-right: 0;
  }


  .light-theme {
    flex-direction: column;
    background-color: none;
  }

  .light-theme p {
    font-size: 10px;

  }

  .slider:before {
    height: 18px;
    width: 18px;
  }

  // .dark-theme .light-theme{
  //   background-color:#0c3453;
  // }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 5px;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media(max-width: 450px) {
  .navbar-nav svg {
    height: 27px;
    width: 27px;
  }
}


.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-color);
  background-color: transparent;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
  cursor: pointer;
}


.toggle-checkbox:checked~.toggle-slot {
  background-color: #BDE34E;
  // border-color: #404040de;
}


.toggle-button {
  position: absolute;
  height: 86%;
  top: 50%;
  transform: translate(10%, -50%) rotate(0deg);
  width: 46%;
  border-radius: 50%;
  background-color: #ffbb52;
  background-image: url('../../../../assets/images/sun-icon-removebg-preview-34IM7KGZ.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
  background-color: #072944;
  transform: translate(110%, -50%) rotate(360deg);
  background-image:  url('../../../../assets/images/images-moon-removebg-preview-A5CDJ5QQ.png');
  background-size: 80%;
}