<section class="website-code">
    
<div class="main">

    <div class="main-bnr">
        <div class="overlay">
        </div>

        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-content" routerLink="/Admin">
                            <img class="coming-soon-banner" src="./assets/images/coming-soon-banner.png">
                        </div>
                        <div class="coming-soon">
                            <h2 class="coming-heading">Link Expired</h2>
                            <h4 class="comming-heading4"> Sorry, your password reset link has expired. 
                                Please visit the Forgot Password page to receive  a new link.</h4>
                        </div>
                        <div class="coming-email">
                            <!-- <p class="coming-text">We’ll keep you updated on our launch and more!
                            </p> -->
                            <a class="btn btn-register" [routerLink]="''">{{'backToHome' | translate}}</a> 
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bgprimary">
        <div class="text-center text-white">
            <p class="mb-0">{{'copyright' | translate}}</p>
        </div>
    </div>

</div>
</section>