<div class="p-3 overflow-auto bg-0C3453">
  <div class="p-3 ">

    <h4 class="text-center title-text">Sighting</h4>

    <div class="close-img" >
    </div>
  </div>
  
  <hr class="m-0">

  <div class="d-flex  align-items-end mb-3 mt-3">
    <div>
      <p  class="code-text">
        Upload Banner
      </p>
      <div class="cupen-btn  code-text" style=" min-width: 216px; padding: 5px;">
       <input type="file" class="upload-input">
      </div>
    </div>
  
    <div class="ms-3">
      
        <button type="button" class="btn btn-outline-white code-text">Upload</button>
    </div>
    <div class="ms-3" >
      
      <small class="form-text text-muted code-text">Files supported: JPG, PNG. <br> Maximum Size: 5MB</small>
    </div>
  </div>

  <div class="d-flex mb-3">
    <div>
      <p  class="code-text">
        Event Name
      </p>
      <div class="cupen-btn  code-text" style="min-width: 170px;">
        U19 Sighting
      </div>
    </div>
    <div class="ms-3">
      <p  class="code-text">
        Manager name
      </p>
      <div class="cupen-btn" style="min-width: 170px;">
        WIN25
      </div>
    </div>
    <div class="ms-3">
      <p  class="code-text">
        Date
      </p>
      <div class="cupen-btn" style="min-width: 170px;">
        <input type="date" class="custom-date-input code-text" >
      </div>
    </div>
  
  </div>

  <div class="d-flex mb-3">
    <div>
    <p  class="code-text">
      Address
    </p>
    <div class="cupen-btn  code-text" style="min-width: 170px;">
      234 Star Road
    </div>
  </div>
  
   </div>

  <div class="d-flex mb-3">

    <div class="form-group col-md-9">
      <p  class="code-text">
         Invite Talent
        </p>
      <div class="cupen-btn d-flex justify-content-between code-text" style="min-width: 170px;">
       <span> Select from your favorites</span> <span><i class="fas fa-angle-down"></i></span>
      </div>
    </div>

  </div>

  <div class="d-flex mb-3">
    <div>
      <p  class="code-text">
        Zipcode
      </p>
      <div class="cupen-btn  code-text" style="min-width: 170px;">
        CH-3604
      </div>
    </div>
    <div class="ms-3">
      <p  class="code-text">
        City
      </p>
      <div class="cupen-btn" style="min-width: 170px;">
        Zunich
      </div>
    </div>  
  </div>

  <div class="upload-img mb-3">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.0007 29.3347H6.66732C5.93094 29.3347 5.33398 28.7377 5.33398 28.0013V4.0013C5.33398 3.26492 5.93094 2.66797 6.66732 2.66797H25.334C26.0704 2.66797 26.6673 3.26492 26.6673 4.0013V16.0013" stroke="#787878" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M23.668 29.3346V20.668" stroke="#787878" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M20.668 23L21.668 22L23.668 20L25.668 22L26.668 23" stroke="#787878" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10.668 10.668H21.3346" stroke="#787878" stroke-width="2" stroke-linecap="round"/>
      <path d="M10.668 16H16.0013" stroke="#787878" stroke-width="2" stroke-linecap="round"/>
  </svg>
    
    <h5 class="heading-text mb-1 mt-2">
      Drag and Drop files here
    </h5>
    <p class="main-upload-text mb-2">
    Files supported: JPG, PNG, PDF
    </p>
    <button type="button" class="btn btn-secondary upload-btn mb-2 mt-2">Choose File</button>
    <p class="main-upload-text mb-1">
      Maximum Size: 5MB
    </p>
  </div>
</div>