.form-group input, .form-group select {
    width: 100%;
    padding: 14px !important;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
}
.card-shape {
    background: rgb(111, 185, 93);
    background: linear-gradient(90deg, rgba(111, 185, 93, 1) 0%, rgba(35, 97, 21, 1) 100%);
    height: 60px;
    transform: rotate(43deg);
    position: absolute;
    bottom: 8px;
    width: 72px;
    left: -30px;
    
}
.explore-inputs th{
    padding-top: 0 ;
    padding-bottom: 0 ;
}
.explore-table {
    width: 94%;
    margin-top: 4px;
}
.explore-chip{
    flex-wrap: wrap;
    row-gap: 10px;
}
.explore-chip .chip {
    background: #023A4A;
    color: #fff;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 0px 5px;
}
.explore-chip_cut{
    background: inherit;
    border: none;   
}
.explore-chip_cut svg{
    fill: #fff;
    margin-left: 8px;
}
.image_box{
    background: #CACACA;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    height: 300px;
}

.booster_box{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    height: 300px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.player-image-list .col-lg-2{
    width: 20% !important;
    padding: 0px 5px;
}
.result-page-slider{
    text-align: end;
}

.player-image-list{
    row-gap: 10px;
    padding: 0px 5px;
}
.image_box-2{
    background:#CACACA !important;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.image_box2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.player_img{
    flex-grow: 1;
    overflow: hidden;
}
.image_box .player_img img{
    height: 100%;
    object-fit: cover;
}
.player-names{
    background: #429130;
    padding: 8px 8px 10px 8px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
}
.player-names a{
    text-decoration-line: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.team-logo-bg{
    background: #E2001A;
    width: 180px;
    height: 160px;
    position: absolute;
    top: -84px;
    right: -87px;
    transform: rotate(43deg);
}
.player-team-logo img {
    width: 36px;
    padding: 0;
    position: absolute;
    top: 14px;
    right: 14px;
}
.flag_box {
    background: #fff;
    width: fit-content;
    border-radius: 4px;
    position: absolute;
    bottom: 42px;
    left: 18px;
    padding: 6px 10px;
    text-align: center;
}
.flag_box hr {
    margin: 2px;
}
.player-age{
    font-size: 12px;
    margin-left: 4px    ;
    color: #559B44;
    font-weight: 600;
}
.image_box {
    border-radius: 16px !important;
}
.boosted-box {
    background: #023A4A;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    padding: 14px 20px;
    border-radius: 0px 0px 10px 0px;
    position: absolute;
    top: 0;
}
.mat-mdc-paginator-page-size {
    display: flex !important;
}
.explore-all_input mat-form-field .mat-mdc-form-field-infix{
    width: 100% !important;
}
.explore-all_input mat-form-field{
    width: 100%;
}
.explore-all_input .mat-mdc-form-field-infix{
    width: 100% !important;
  }
  .explore-all_input mat-label{
    color: #111418;
}
.explore-all_input mat-select{
    color: #111418;
}
@media (max-width:1024px) {
    .explore-table{
        width: 100%;
    }
    .explore-box_images .player-image-list .col-lg-2 {
        width: 25% !important;
    }
    
}
@media (max-width:768px) {
    
    .form-group input, .form-group select{
        margin-bottom: 12px;
    }
    .table-striped th, .table-striped td {
        display: block;
        width: 100%;
        text-align: left;
       
    }
    .player-image-list .col-lg-2 {
        width: 100% !important;
    }
    .player-image-list {
        row-gap: 20px;
    }
    
}

