<div class="main">
    <div class="thanku-bnr">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <h2 class="banner-text-h2">thank you very much</h2>
                        <h3 class="banner-text-h3">We will get in touch with you.</h3>
                        <a class="btn btn-register" [routerLink]="''">Back To Home</a>
                    </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="banner-image-error">
                        <!-- <img class="check-image-light" src="./assets/images/check-light.svg"> -->
                        <img class="check-image-dark" src="./assets/images/check-dark.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>