.table tbody tr:hover td.main-table-2 {
     border-right:none !important;
}

.main-template{
     color: black;
 }
.Favorite-parent{
     padding: 15px 20px ;
}

@media(max-width: 425px){
  .btn-outline-white {
    padding: 5px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .paging-data{
    font-size:12px;
    font-weight: 500;
    margin-left: 5px;
  }
  .left-slide svg, .right-slide svg{
    height: 20px;
    width: 20px;
  }

}

@media(max-width: 360px){
  .btn-outline-white {
    padding: 3px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .paging-data{
    font-size:10px;
    font-weight: 500;
    margin-left: 5px;
  }
  .left-slide svg, .right-slide svg{
    height: 20px;
    width: 20px;
  }

  .form-check-input{
    margin-top: 6px;
  }

  .toggle-padding {
    padding: 4px  !important;
    font-size: 12px;
  }

  .card-title {
    font-size: 14px;
  }

  .input-filter-text{
    font-size: 10px;
  }
  .filter-svg svg{
      height: 12px;
      width: 12px;
  }
  .card-search .input-group .input-group-text svg{
    height: 12px;
    width: 12px;
  }
}



.pointer{
  cursor: pointer;
}
.user-pending-icon{
  max-width: 22px;
  position: absolute;
  margin-top: 25px;
  margin-left: -15px;
}

.user-approved-icon{
  max-width: 26px;
  position: absolute;
  margin-top: 23px;
  margin-left: -15px;
}

.user-rejected-icon{
  max-width: 22px;
  position: absolute;
  margin-top: 25px;
  margin-left: -15px;
}

input:focus {
  outline: none ;
  box-shadow: inherit;
}

.favourites-main-checkbox{
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;

}

.dropdown-favourites .dropdown-toggle::after{
 
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-favourites .btn:hover{
  border-color: #D9D9D9 !important;
}