<div class="p-1">
  <div class="shadow-sm p-1 mb-1 bg-body rounded">
    <h5 class="filter-text mb-1">Alphabetically</h5>
    <div class="d-flex gap-3">
      <label class="btn btn-light filter-button">
        <input type="radio" name="alphabetically" value="A-Z" hidden> A-Z
      </label>
      <label class="btn btn-light filter-button">
        <input type="radio" name="alphabetically" value="Z-A" hidden> Z-A
      </label>
    </div>
  </div>
  <div class="shadow-sm p-1 mb-1 bg-body rounded">
    <h5 class="filter-text mb-1">Membership</h5>
    <div class="d-flex gap-3">
      <label class="btn btn-light filter-button">
        <input type="radio" name="membership" value="Free" hidden> Free
      </label>
      <label class="btn btn-light filter-button">
        <input type="radio" name="membership" value="Premium" hidden> Premium
      </label>


    </div>
  </div>
  <div class="shadow-sm p-1 mb-1 bg-body rounded">
    <h5 class="filter-text mb-1">Activity</h5>
    <div>
      <label class="btn btn-light filter-button">
        <input type="radio" name="activity" value="Recent Login" hidden> Recent Login
      </label>
    </div>
  </div>
  <div class="shadow-sm p-1 mb-1 bg-body rounded">
    <h5 class="filter-text mb-1">User Type</h5>
    <div class="d-flex gap-3">
      <label class="btn btn-light filter-button-2">
        <input type="radio" name="userType" value="Talent" hidden> Talent
      </label>
      <label class="btn btn-light filter-button-2">
        <input type="radio" name="userType" value="Club" hidden> Club
      </label>
      <label class="btn btn-light filter-button-2">
        <input type="radio" name="userType" value="Scout" hidden> Scout
      </label>
    </div>
  </div>
  <div class="shadow-sm p-1 mb-1 bg-body rounded">
    <h5 class="filter-text mb-1">Newsletter Subscription</h5>
    <div class="d-flex gap-3">
      <label class="btn btn-light filter-button-2">
        <input type="radio" name="newsletterSubscription" value="Yes" hidden> Yes
      </label>
      <label class="btn btn-light filter-button-2">
        <input type="radio" name="newsletterSubscription" value="No" hidden> No
      </label>
    </div>
  </div>
  <div class="shadow-sm p-1 mb-1 bg-body rounded">
    <h5 class="filter-text mb-1">Location</h5>
    <label class="btn btn-light filter-button">
      <input type="radio" name="location" value="Type to search" hidden> Type to search
    </label>
  </div>
  <div class="shadow-sm p-1 mb-1 bg-body rounded">
    <h5 class="filter-text mb-1">User Status</h5>
    <div class="d-flex gap-3">
      <label class="btn btn-light filter-button">
        <input type="radio" name="userStatus" value="Approved" hidden> Approved
      </label>
      <label class="btn btn-light filter-button">
        <input type="radio" name="userStatus" value="Pending" hidden> Pending
      </label>
      <label class="btn btn-light filter-button">
        <input type="radio" name="userStatus" value="Rejected" hidden> Rejected
      </label>
    </div>
  </div>
  <div class="filter-bottom-button">
    <div class="filetr-child-button">
      <button type="button" class="btn btn-delete">Reset</button>
      <button type="button" class="btn Launch">Show Results</button>
    </div>
  </div>
</div>
