

  a.dropdown-item.ai-icon.selected {
    background: red;
}
.notification-box
{
  overflow:auto;
  max-height: 600px;
}

.header-view-profile{
  font-size : 12px ;
  color: grey;
}
.header-view{
  font-size: 12px;
}
.header-peter{
  font-size: 12px;
}
.search-area{
  width: 66%;
}
@media (max-width:1440px) {
  .search-area{
    width: 58%;
  }
}
@media (max-width: 1200px) {
  .search-area {
      width: 52%;
  }
}
@media (max-width: 1024px) {
  .search-area {
      width: 42%;
  }
}
@media(max-width: 768px){
  .sidebar-menu a svg{
    width: 35px;
    height: 35px;
  }
}

@media(max-width: 425px){
.sidebar-menu a svg{
  width: 27px;
  height: 27px;
}

}

@media(max-width: 450px){

  .page-heading{
    display: none;
   }

   .align-dashboard-title{
     display:none ;
   }
   .search-area{
    display: none ;
   }

   #theme-text{
    margin-right:0;
  }


  .light-theme{
    flex-direction: column;
    background-color: none;
  }

  .light-theme p{
    font-size: 10px;

  }
 .slider:before {
    height: 18px;
    width: 18px;
  }

  // .dark-theme .light-theme{
  //   background-color:#0c3453;
  // }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 5px;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
}

@media(max-width: 450px){
  .navbar-nav svg{
    height: 27px;
    width: 27px;
  }
}
.suggestion-box {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.suggestion-box li {
  padding: 10px;
  cursor: pointer;
}

.suggestion-box li:hover {
  background-color: #f0f0f0;
}
