<div class="msg-popup-dialog">
    <div class="msg-popup-close">
        <img src="../../../assets/images/close-icon-circle.png" alt="" class="" (click)="close()" />
    </div>

    <div class="msg-popup-content">
        <div class="display-message" *ngIf="data.action == 'display'">{{data.message}}</div>
        <div class="display-message" *ngIf="data.action == 'delete-confirmation'">
            Once user is deleted, it can’t be undone. <br> Do you want to delete?

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Delete Account</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-favorite-confirmation'">
            Are to sure to remove?
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Remove</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-scout-player-confirmation'">
            Do you want to delete “{{data.name}}” from portfolio?
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Delete</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'popup-delete-confirmation'">
            Once popup is deleted, it can’t be undone. <br> Do you want to delete?

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Delete</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'template-delete-confirmation'">
            Once template is deleted, it can’t be undone. <br> Do you want to delete?

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Delete</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-coupon-confirmation'">
            Are to sure to remove?
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Remove</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-advertisement-confirmation'">
            Are to sure to remove?
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Remove</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-activity-confirmation'">
            Are to sure to remove?
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">Remove</span>
            </div>
        </div>
    </div>
</div>