/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
h4 {
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

h3.text-heading {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    /* position: relative; */
}

p {
    font-size: 20px;
    color: white;
    font-weight: 400;
}

p.p-text {
    color: #7A7A7A;
    font-size: 20px;
    margin-bottom: 10px;
}

.news-box p {
    margin-top: 10px;
}

li {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.py_0 {
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    background-color: #fff;
}

.tabs {
    margin-bottom: 20px;
    padding-top: 20px;
}

.main-bnr {
    position: relative;
    z-index: 1;
}

.bnr-media {
    position: relative;
}

.bnr-media img {
    width: 100%;
}

.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.overlay {
    position: absolute;
    height: auto;
    // background-color: #000;
}

.overlay {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
}

.main-bnr {
    background-image: url("../../../../assets/images/News\ &\ media-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-transparent {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.cookie-text {
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    filter: brightness(0) invert(1);
    text-transform: uppercase;

}

/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/
.slider-image {
    display: flex;
    position: absolute;
    left: 5%;
    z-index: 1;
    bottom: 15%;
}

.thumbnail {
    width: 60px;
    height: 3px;
    cursor: pointer;
    margin: 5px;
    /* Adjust margin for spacing */
    border: 2px solid white;
    transition: border-color 0.3s;
    // position: relative;
    opacity: 50%;
}

.thumbnail.active {
    border-color: white;
    opacity: 1;
}

.image-text {
    position: absolute;
    content: "";
    z-index: 1;
    left: 5%;
    top: 18%;
}

.image-wrapper img {
    height: 542px;
    width: 100%;
    border-radius: 10px;
}

.image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: linear-gradient(to right, #092E01 0, transparent 100%);
    z-index: 1;
    /* Ensure the gradient is above the background but below the text */
}

button.learn-more {
    width: 209px;
    height: 42px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.news-box {
    width: 100%;
    height: 490px;
    cursor: pointer;
}

.news-box img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 5px;
}

.news-slider.py_0 {
    padding-top: 0;
}

.image-slider {
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 545px;
    bottom: 0;
}


// advertisement

.skyscraper-left {
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    left: 1%;
    top: 43%;
}

.skyscraper-left img {
    height: 600px;
    width: 120px;
}

.skyscraper-right {
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    right: 1%;
    top: 43%;
}

.skyscraper-right img {
    height: 600px;
    width: 120px;
}

.large-rectangle img {
    height: 280px;
    width: 336px;
}

.inline-rectangle img {
    width: 300px;
    height: 250px;
}

.square img {
    width: 250px;
    height: 250px;
}

.large-rectangle {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 280px;
    width: 336px;
}

.large-rectangle img {
    height: 280px;
    width: 336px;
}

.inline-rectangle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";
    width: 300px;
    height: 250px;
}

.inline-rectangle img {
    width: 300px;
    height: 250px;
}

.square {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 250px;
    height: 250px;
    display: flex;
}

.square img {
    width: 250px;
    height: 250px;
}


// advertisement


@media (min-width: 1441px) {
    .news-box img {
        width: 380px;
        height: 320px;
    }

    .news-box {
        width: 380px;
        height: 480px;
    }

    .thumbnail-scroll {
        left: 8%;
        top: 36%;
    }
}

@media (min-width: 1536px) {
    .image-slider {
        width: 95%;
    }

    .thumbnail-scroll {
        left: 13%;
        top: 28%;
    }
}

@media (min-width: 1920px) {
    .thumbnail-scroll {
        left: 19%;
        top: 36%;
    }
}


@media (max-width: 1281px) {
    .news-box img {
        width: 330px;
        height: 280px;
    }

    .news-box {
        width: 330px;
        height: 440px;
    }
}
@media (max-width: 1200px){
    .news-box img {
        width: 320px;
        height: 270px;
    }
    .news-box {
        width: 330px;
        height: 430px;
    }

}

@media (max-width: 1024px) {
    .news-box {
        width: 310px;
        height: 395px;
    }

    .news-box img {
        width: 300px;
        height: 250px;
    }

    p {
        font-size: 18px;
    }

    .image-wrapper img {
        height: 460px;
    }

    .slider-image {
        bottom: 26%;
    }

    h3.text-heading {
        margin-bottom: 5px;
        font-size: 35px;
    }

    .thumbnail {
        width: 50px;
        height: 3px;
    }

    .thumbnail-scroll {
        left: 8%;
        top: 36%;
    }

    .py_0 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .cookie-text {
        font-size: 40px;
    }

    .about {
        margin-top: 50px;
    }



}

@media (max-width: 991px) {

    .leaderboard-club-image img,
    .small-sqaure-image img,
    .skyscraper-image img,
    .skyscraper-image img,
    .wide-skyscraper-image img,
    .leaderboard-image img,
    .banner-image img,
    .advertisement,
    .advertisement1,
    .skyscraper-left img,
    .skyscraper-right img {
        display: none;
    }

    .slider-image {
        bottom: 37%;
        left: 2%;
    }

    .image-text {
        left: 2%;
        top: 14%;
    }

    h3.text-heading {
        margin-bottom: 5px;
        font-size: 30px;
    }

    button.learn-more {
        width: 195px;
    }

    .image-wrapper img {
        height: 370px;
    }

    .news-box {
        width: 316px;
        height: 420px;
    }

    .news-box img {
        width: 310px;
        height: 255px;
    }

    .thumbnail-scroll {
        left: 6%;
        top: 14%;
    }

    .skyscraper-left,
    .skyscraper-right {
        display: none;
    }

    .image-slider {
        height: 460px;
    }
}

@media (max-width: 913px) {
    .image-slider {
        height: 370px;
    }

    .slider-image {
        bottom: 10%;
        left: 2%;
    }
}

@media (max-width: 767px) {
    .thumbnail-scroll {
        left: 12%;
        top: 14.5%;
    }

    .news-box {
        width: 100%;
        height: 470px;
    }

    .news-box img {
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 575px) {
    .cookie-text {
        font-size: 35px;
    }

    .image-wrapper img {
        height: 280px;
        margin-bottom: 20px;
    }

    .news-box {
        width: 100%;
        height: 400px;
    }

    h3.text-heading {
        font-size: 25px;
    }

    p.p-text {
        font-size: 15px;
        margin-bottom: 10px;
    }

    button.learn-more {
        width: 165px;
        height: 38px;
        font-size: 16px;
        margin-top: 10px
    }

    .news-box img {
        width: 100%;
        height: 255px;
    }

    .thumbnail-scroll {
        left: 2%;
        top: 15%;
    }

    .thumbnail {
        width: 40px;
        height: 2px;
    }

    .slider-image {
        bottom: 14%;
        left: 2%;
    }

}

@media (max-width: 541px) {
    .image-slider {
        height: 280px;
    }

    .slider-image {
        bottom: 8%;
        left: 2%;
    }
}

@media (max-width: 431px) {
    .image-slider {
        height: 280px;
    }

    .image-text {
        left: 2%;
        top: 6%;
    }

    .slider-image {
        bottom: 14%;
        left: 2%;
    }
}

@media (max-width: 415px) {
    .image-slider {
        height: 300px;
    }

    .slider-image {
        bottom: 14%;
        left: 2%;
    }
}

@media (max-width: 391px) {
    h3.text-heading {
        font-size: 20px;
    }

    button.learn-more {
        width: 140px;
        height: 34px;
        font-size: 14px;
        margin-top: 10px;
    }

    .image-text {
        left: 2%;
        top: 6%;
    }

    .slider-image {
        bottom: 14%;
        left: 2%;
    }

    .image-slider {
        height: 280px;
    }
}

@media (max-width: 321px) {
    .cookie-text {
        font-size: 28px;
    }

    .main-bnr {
        height: 320px;
    }

    .image-slider {
        height: 240px;
    }

    .image-wrapper img {
        height: 240px;
        margin-bottom: 0;
    }

    h3.text-heading {
        font-size: 20px;
    }

    button.learn-more {
        width: 120px;
        height: 30px;
        font-size: 12px;
        margin-top: 5px;
    }

    .thumbnail-scroll {
        left: 2%;
        top: 550px;
    }

    h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .news-box img {
        width: 100%;
        height: 220px;
    }

    .news-box {
        width: 100%;
        height: 340px;
    }

    .thumbnail {
        width: 28px;
    }

}