
<section class="website-code">
<app-header></app-header>
<div class="main">
    <div class="main-bnr">
        <div class="overlay"></div>
        <div class="banner-inner py_0">
            <div class="container">
                <div class="about">
                    <h2 class="cookie-text">Your Guide to</h2>
                    <h2 class="cookie-text">SoccerYou</h2>
                </div>
            </div>
        </div>

        <div *ngIf="adVisible[0]" class="skyscraper-left">
            <img src="./assets/images/skyscraper - 120x600.png">
            <button (click)="closeAd(0)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <div *ngIf="adVisible[1]" class="skyscraper-right">
            <img src="./assets/images/skyscraper - 120x600.png">
            <button (click)="closeAd(1)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
        </div>

    </div>

    <div class="news-slider py_0">
        <div class="container">
            <div class="image-slider">
                <div class="image-wrapper" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
                    (touchend)="onTouchEnd($event)">
                    <img [src]="currentImage" [alt]="images[currentImageIndex].title" />
                    <div class="image-text">
                        <p class="p-text">{{slider_date}}</p>
                        <h3 class="text-heading">{{slider_title}}</h3>
                        <button class="learn-more" [routerLink]="'/learn-more'">{{slider_btn_txt}}</button>
                    </div>
                </div>

                <div class="container">
                <div class="thumbnail-scroll">
                    <div class="slider-image">
                        <img *ngFor="let image of images" [src]="image?.featured_image" [alt]="image?.title"
                            (click)="changeImage(image.featured_image)" [class.active]="image.featured_image === currentImage"
                            class="thumbnail" />
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </div>


    <div class="latest-news py_0">
        <div class="container">
            <h4>{{news_title}}</h4>
            <div class="row">
                <div  *ngFor="let newsData of latestNewsData; let i=index;" class="col-lg-4 col-md-6 col-12">
                    <div  [routerLink]="'/learn-more'" class="news-box">
                        <img src="{{news_img_path + newsData.featured_image}}">
                        <p class="p-text">{{newsData.created_at}}</p>
                        <p>{{newsData.title}}</p>
                    </div>
                </div>
            </div>

                <div class="advertisement1" [ngClass]="{'hidden': !adVisible[2] && !adVisible[3]  && !adVisible[4]}">

                <div *ngIf="adVisible[2]" class="large-rectangle">
                    <img src="./assets/images/large rectangle - 336x280 .png">
                    <button (click)="closeAd(2)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                </div>

                <div *ngIf="adVisible[3]" class="inline-rectangle">
                    <img src="./assets/images/inline rectangle - 300x250.png">
                    <button (click)="closeAd(3)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                </div>

                <div *ngIf="adVisible[4]" class="square">
                    <img src="./assets/images/sqaure - 250x250.png">
                    <button (click)="closeAd(4)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                </div>

            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
</section>