.close-btn {
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
    padding: 2px 9px;
    color: #849aa2;
    border: 4px solid #849aa2;
    border-radius: 50%;
}
.personal_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.dialog-header h2 {
    font-size: 20px;
    font-weight: 600;
}
.rechnung-headdings .table-light tr,th,td {
    background: none ;
    border: none;
    padding: 6px;
}
.membership-data th,td{
    padding: 15px 8px;
}
.membership-data th{
font-size: 16px;
font-weight: 500;
}
h2.rechnung-titel {
    font-size: 30px;
    font-weight: 400;
}
.rechnung-headdings th {
    font-size: 20px;
    font-weight: 400;
}
.view-membership .table-responsive{
    overflow: hidden;
}
.bottom-details {
    text-align: end;
    padding-right: 8px;
}
.bottom-details strong {
    font-size: 16px;
    margin-right: 50px;
}
.bottom-details p{
    margin-bottom: 10px;
}
a.pdf-download_btn {
    color: #000;
    font-size: 19px;
    font-weight: 300;
    margin-top: 30px;
}
.bordered-bottom{
    border-bottom: none;
}
.pdf-download_btn span {
    border-radius: 50%;
    background: #7ac557;
    padding: 12px 11px;
    margin-right: 10px;
}
.pdf-download_btn span svg path{
    stroke: #fff;
}