.table_img {
  margin-right: 10px;
}
.page-content {
  width: calc(100% - 310px);
}



.tab-content {
  margin-top: 30px;
}
.card-tabs-content {
  margin: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}



.message-media {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.dashboard_table .nav-tabs {
  border: none;
}
.dashboard_table .nav-tabs .nav-link {
  margin-bottom: 0px;

  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.dashboard_table .nav-tabs .nav-link {
  margin-bottom: 0px;
  border-top: 2px solid #236115;
  border-right: 0;
    border-left: 0;
  &.active {
    border: 2px solid #236115;
    border-top: 0;
    background: rgba(11, 149, 100, 0.08);
  }
}



.dashboard_table .nav-tabs .nav-item {
  width: 33.3%;
}




table {
  border-collapse: separate;
  border-spacing: 0;
}

tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
 tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Hide notifications beyond the first two */
#notification-list .notification-item {
  display: none;
}

#notification-list .notification-item:first-of-type,
#notification-list .notification-item:nth-of-type(2) {
  display: flex;
}

/* Show hidden notifications */
#notification-list.show-all .notification-item {
  display: flex;
}



@media (max-width: 1024px) {
  // .page-content {
  //   width: 100%;
  // }
  @media (max-width: 767px) {
    .page-header {
      padding: 0px !important;
    }
    .page-content {
      padding: 0px 0px;
    }
    .main-wrapper {
      padding: 0px 10px;
    }
  }
}


.load_more a {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.dash-view-profile
{
  font-size : 12px ;
  color: grey;
}

.user-dash-table tbody tr:hover{
  border: none !important;
  outline: 2px solid transparent ;
  border-radius: 10px;
}


.user-dash-table tbody tr:hover{
  border: none !important;
  outline: 2px solid #236115 ;
  border-radius: 10px;
}
.header-view{
  font-size: 12px;
}
.header-peter{
  font-size: 12px;
}
.input-group.search-area input{
  color: #000 !important;
}
@media (max-width: 1024px) {
  .table_title{
    min-width: 100%;
  }
  .search-area {
    width: 9.063rem;
}
.table-main-header{
  min-width:560px;
}
}
@media (max-width: 600px) {
  .table-main-header{
    min-width: 800px;
  }
  .dashboard_table-2 .table.user-dash-table{
    min-width: 800px;
  }
}
@media(max-width: 480px){
  .page-header {
    padding: 0px 30px 0px 30px !important;
  }

  .dashboard_table .user-dash-table{
    overflow-x: auto;
    width: 100%;
    min-width: 600px;
  }

  .navtabs_button h6 {
    font-size: 17px;
  }

  .navtabs_button p {
    font-size: 10px;
  }

  .page-heading{
    font-size: 14px;
  }


}
@media(max-width: 360px){

  .page-header {
    padding: 0px 30px 0px 30px !important;
  }
  .nav-link{
    padding: 0.3rem 0.3rem;
    }
    .navtabs_button h6 {
      font-size: 15px;
    }

    .navtabs_button p {
      font-size: 9px;
    }

    .header-view{
      font-size:7px;
    }
    .header-peter{
      font-size:7px;
    }

    .badgeinfo{
      font-size:7px;
      padding:3px;
    }
}

@media(max-width: 425px){

   .page-header {
    padding: 0px 30px 0px 30px !important;
  }
  .navbar-nav svg{
    height: 42px;
    width: 42px;

  }
  .page-heading{
    display: none;
   }

   .align-dashboard-title{

     display:none ;
     align-items:center;
   }
}

@media(max-width: 450px){
  #theme-text{
    margin-right:0;
  }

  .page-header {
    padding: 0px 30px 0px 30px !important;
  }

  .nav-action .badge{
    position: absolute;
    top: -4px;
    right: -1px;
  }

  .light-theme{
    flex-direction: column;
    background-color: none;
  }

  .light-theme p{
    font-size: 10px;

  }
 .slider:before {
    height: 18px;
    width: 18px;
  }

  .dark-theme .light-theme{
    background-color:#0c3453;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 0;
    right: 5px;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
// .mobile-nav{
//   margin-left: 0 !important;
//   justify-content: space-between !important;
// }
.navbar-nav svg{
  height: 27px;
  width: 27px;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  left: -150px;
}
.notification_dropdown .dropdown-menu {
    padding: 20px 0px;
    width: 280px;
}
}
@media(width: 768px){
  .sidebar-menu a svg{
    width: 35px;
    height: 35px;
  }
}
@media(width: 768px){
  .page-header {
    padding: 0px 30px 0px 0px !important;
  }
}
.view-all {
  color: #023A4A !important;
  font-weight: 700;
}

.registered-content::-webkit-scrollbar {
  display: none;
}

.pointer{
  cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active{
  color: var(--bs-dropdown-link-color);
  background-color: transparent;
}