<div class="page-sidebar">
  <div class="logo-box">
    <a class="logo_img">
      <img
        src="../../../assets/images/sidebar/logo.png"
        alt=""
        class="img-fluid"
      />
    </a>
    <a class="logo_img1">
      <img
        src="../../../assets/images/sidebar/logo_icon.png"
        alt=""
        class="img-fluid"
      />
    </a>

    <a class="sidebar-close" (click)="closeSidebar()">X</a>
    <a (click)="toggleState()" class="sidebar_state">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="page-sidebar-inner">
    <ul class="sidebar_menu">
      <li>
        <a routerLink="/">
          <img src="../../../assets/images/sidebar/dashboard_icon.png" alt="" />
          <span class="sidebar_menu_span"> Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/Users"
          ><img
            src="../../../assets/images/sidebar/users_icon.png"
            alt=""
          /><span class="sidebar_menu_span">Manager Users</span></a
        >
      </li>
      <li>
        <a routerLink="/Inbox"
          ><img
            src="../../../assets/images/sidebar/inbox_icon.png"
            alt=""
          /><span class="sidebar_menu_span">Inbox</span></a
        >
      </li>
      <li>
        <a>
          <img
            src="../../../assets/images/sidebar/marketing_icon.png"
            alt=""
          /><span class="sidebar_menu_span">Marketing</span></a
        >
      </li>
      <li>
        <a>
          <img
            src="../../../assets/images/sidebar/template_icon.png"
            alt=""
          /><span class="sidebar_menu_span">Template</span></a
        >
      </li>
      <li>
        <a>
          <img
            src="../../../assets/images/sidebar/website_icon.png"
            alt=""
          /><span class="sidebar_menu_span">Website</span></a
        >
      </li>
    </ul>
  </div>
  <div class="bottom_box" routerLink="/Setting">
    <h5 class="d-flex">
      <img src="../../../assets/images/sidebar/setting_icon.png" alt="" />
      <span class="sidebar_menu_span">Setting</span>
    </h5>
  </div>
</div>
