<div class="page-sidebar">
  <div class="logo-box">
    <a class="logo_img"
      ><img
        src="../../../assets/images/avatars/profile-image-1.png"
        alt=""
        class="img-fluid"
    /></a>
    <!-- <a id="sidebar-close" (click)="closeSidebar()"><i class="material-icons">close</i></a> -->
    <a (click)="toggleState()" class="sidebar_state">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="page-sidebar-inner">
    <ul class="sidebar_menu">
      <li>
        <a>
          <i class="material-icons">cloud_queue</i>
          <span class="sidebar_menu_span"> Dashboard</span>
        </a>
      </li>
      <li>
        <a><i class="fa fa-users"></i><span class="sidebar_menu_span">Manager Users</span></a>
      </li>
      <li>
        <a><i class="fa fa-comments"></i><span class="sidebar_menu_span">Inbox</span></a>
      </li>
      <li>
        <a><i class="material-icons">cloud_queue</i><span class="sidebar_menu_span">Marketing</span></a>
      </li>
      <li>
        <a><i class="material-icons-outlined">calendar_today</i><span class="sidebar_menu_span">Template</span></a>
      </li>
      <li>
        <a><i class="material-icons">done</i> <span class="sidebar_menu_span">Website</span></a>
      </li>
    </ul>
  </div>
  <div class="bottom_box">
    <h5><i class="fa fa-cog"></i> <span class="sidebar_menu_span">Setting</span></h5>
  </div>
</div>
