:root{
  --primary:#236115;
}

.table_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.dashboard_table {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.table_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table_title p {
  font-size: 18px;
  font-weight: 700;
}
.table_title select {
  border-radius: 20px;
  margin-left: 15px;
  padding: 5px 15px;
  border: 0.7px solid #e5e5e5;
}
.table_title span {
  font-size: 14px;
  font-weight: 700;
}
.dashboard_table .table {
  border: none;
  background: transparent;
  padding: 0px 5px;
}
.dashboard_table .table > :not(caption) > * > * {
  background-color: transparent !important;
  border-bottom-width: 0px !important;
  vertical-align: middle;
}

#canvas1 {
  max-width: 100%;
  max-height: 300px;
}
#canvas2 {
  max-width: 100%;
  max-height: 300px;
}
#canvas3 {
  max-width: 100%;
  max-height: 300px;
}
#canvas4 {
  max-width: 100%;
  max-height: 300px;
}
.right-sidebar{
  .card{
    border:0;
    .card-header{
      background-color: transparent;
      h4{
        font-size:18px;
      }
      a{
        color:#023A4A;
        font-size: 14px;
      }
    }
  }
}


.card-tabs{
	.nav-tabs{
	
		border-radius:20px;
		background-color:white;
		padding: 15px 17px;
    border: 1px solid #236115;
		white-space: nowrap;
		.nav-item{
			flex:1;
			.nav-link{
				border:0;
        font-size: 12px;
				border-radius:10px;
				margin: 0;
				color: var(--text-gray);
				padding: 0.5rem 1.125rem;
				font-weight: 500;
        color: #236115;
        font-weight: 700;
				text-align: center;
				&.active{
					background:#236115;
					color:#fff;
					&:hover{
						color:#fff;
					}
				}	
				&:hover{
					color:#236115;
				}
			
			}	
		}
		
	}	
}
.card-tabs-content{
  margin-bottom: 20px;
  margin-top: 40px;
  display: flex;
}

.message-media{
  width:60px;
  height:60px;
  object-fit: cover;
  border-radius: 50%;
}
.dashboard_table .nav-tabs {
  border-top: 3px solid  #236115 ;

 
  position: relative;
//   &:after{
//     position: absolute;
//     content: "";
//     background-image: url('data:image/svg+xml,<svg width="960" height="208" viewBox="0 0 960 208" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 0C0.500106 38 6.0001 16.4584 6.0001 43.5C6.0001 55.5 6.0001 50.1 6.0001 76.5C6.0001 102.9 6.0001 161.167 6.0001 172C5.16677 183.667 12.7001 207 49.5001 207C86.3001 207 190.833 207 210 207C221.833 206.833 245.5 199.6 245.5 172C245.5 144.4 245.5 86.8333 245.5 76.5C245.333 65.5 251.9 43.5 279.5 43.5C307.1 43.5 661.5 43.5 672.5 43.5H924C940.5 43.5 959.5 36.8 959.5 0" stroke="%23236115" stroke-width="2"/></svg>');
//     top: -100px;
//     left: -7px;
//     width: 100%;
//     height: 100%;
//     z-index: 35;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
}

.dashboard_table .nav-tabs .nav-link {
    margin-bottom: 0px; 
   
    border-top: none;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
   
}
.dashboard_table .nav-tabs .nav-link {
    margin-bottom: 0px; 
    &.active{
      border: 3px solid #236115;
      border-top: 0;
    
     
      
    }
   
    
}

.dashboard_table .nav-tabs .nav-item {
  width: 25%;
}
.dashboard_table .nav-tabs .nav-item button {
  width: 100%;
}
.navtabs_button p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #727477;
}
.navtabs_button h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: #023a4a;
}
