<div class="dialog-container">
  <div class="personal_edit">
    <div class="dialog-header m-auto">
      <h2>Reset Password</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn" (click)="onCancel()">X</button>
    </div>
  </div>
  <hr>
  <div class="reset_box">
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="password"> New Password</label>
        <div class="password-wrapper">
            <input type="password" id="password" required>
            <span class="toggle-password" >👁️</span>
        </div>
    </div>
      <div class="form-group col-lg-6">
        <label for="new-password">Confirm New Password</label>
        <div class="password-wrapper">
            <input type="password" id="new-password" required>
            <span class="toggle-password" >👁️</span>
        </div>
    </div>

    </div>
    <div class="dialog-actions align-items-center d-flex justify-content-between">
      <button class="cancel-btn" (click)="onCancel()">Cancel</button>
      <button class="save-btn" (click)="onSave()">Save</button>
    </div>
  </div>
</div>