<div class="dialog-container">
  <form #resetPasswordForm="ngForm" (ngSubmit)="onSave(resetPasswordForm)">
    <div class="personal_edit">
      <div class="dialog-header m-auto">
        <h2>{{'resetPassword' | translate}}</h2>
      </div>
      <div class="close_buttons">
        <button class="close-btn" type="button" (click)="onCancel()">X</button>
      </div>
    </div>
    <hr>
    <div class="reset_box">
      <div class="row">
        <!-- New Password -->
        <div class="form-group col-lg-6">
          <label for="password">{{'newPassword'|translate}}</label>
          <div class="password-wrapper">
            <input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required />
            <span class="toggle-password" (click)="togglePasswordVisibility('password')">

              @if(!passwordVisible){
                <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.5827 1.33398C15.5827 1.33398 12.7493 5.33398 8.49935 5.33398C4.24935 5.33398 1.41602 1.33398 1.41602 1.33398M10.6243 5.00065L11.6868 6.66732M14.166 3.33398L15.5827 4.66732M1.41602 4.66732L2.83268 3.33398M6.37435 5.00065L5.31185 6.66732" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              }@else{
                👁️
              }
            </span>
          </div>
          <div *ngIf="passwordField.invalid && passwordField.touched" class="text-danger">
            {{'passwordRequiredError' | translate}}
          </div>
        </div>

        <!-- Confirm New Password -->
        <div class="form-group col-lg-6">
          <label for="confirm-password">{{'confirmNewPassword' | translate}}</label>
          <div class="password-wrapper">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirm-password" name="confirmPassword" [(ngModel)]="confirm_password" #confirmPasswordField="ngModel" required />
            <span class="toggle-password" (click)="togglePasswordVisibility('confirm-password')">
              @if(!confirmPasswordVisible){
                <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.5827 1.33398C15.5827 1.33398 12.7493 5.33398 8.49935 5.33398C4.24935 5.33398 1.41602 1.33398 1.41602 1.33398M10.6243 5.00065L11.6868 6.66732M14.166 3.33398L15.5827 4.66732M1.41602 4.66732L2.83268 3.33398M6.37435 5.00065L5.31185 6.66732" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              }@else{
                👁️
              }
            </span>
          </div>
          <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="text-danger">
            {{'confirmingPasswordRequired' | translate}}
          </div>
        </div>
      </div>

      <div class="dialog-actions align-items-center d-flex justify-content-between">
        <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
        <button class="save-btn" type="submit" [disabled]="resetPasswordForm.invalid">{{'save' | translate}}</button>
      </div>
    </div>
  </form>
</div>
