<div class="dialog-container">
  <form #resetPasswordForm="ngForm" (ngSubmit)="onSave(resetPasswordForm)">
    <div class="personal_edit">
      <div class="dialog-header m-auto">
        <h2>{{'Reset Password' | translate}}</h2>
      </div>
      <div class="close_buttons">
        <button class="close-btn" type="button" (click)="onCancel()">X</button>
      </div>
    </div>
    <hr>
    <div class="reset_box">
      <div class="row">
        <!-- New Password -->
        <div class="form-group col-lg-6">
          <label for="password">{{'New Password'|translate}}</label>
          <div class="password-wrapper">
            <input type="password" id="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required />
            <span class="toggle-password" (click)="togglePasswordVisibility('password')">👁️</span>
          </div>
          <div *ngIf="passwordField.invalid && passwordField.touched" class="text-danger">
            {{'Password is required.' | translate}}
          </div>
        </div>

        <!-- Confirm New Password -->
        <div class="form-group col-lg-6">
          <label for="confirm-password">{{'Confirm New Password' | translate}}</label>
          <div class="password-wrapper">
            <input type="password" id="confirm-password" name="confirmPassword" [(ngModel)]="confirm_password" #confirmPasswordField="ngModel" required />
            <span class="toggle-password" (click)="togglePasswordVisibility('confirm-password')">👁️</span>
          </div>
          <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="text-danger">
            {{'Confirming the password is required.' | translate}}
          </div>
        </div>
      </div>

      <div class="dialog-actions align-items-center d-flex justify-content-between">
        <button class="cancel-btn" type="button" (click)="onCancel()">{{'Cancel' | translate}}</button>
        <button class="save-btn" type="submit" [disabled]="resetPasswordForm.invalid">{{'Save' | translate}}</button>
      </div>
    </div>
  </form>
</div>
