.close-img{
  background-image: url(../../../../../assets/images/carbon_close-outline.png);
  background-size: cover;
  width: 35px;
  height: 35px;
  border: none;
  padding: 0px;
  position: absolute;
  right: 17px;
  top: 15px;
  z-index: 2;
  opacity: 1;
  cursor: pointer;
}
.inbox-wrapper{
  width: 545px;
}

.fruit-font{
  font-size: 1.5rem;
  padding: 1rem;
}



.img-list{
  border-radius: 50%;
}
.cancel-icon{
  background-image: url(../../../../../assets/images/cross-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  margin-left: 12px;
  margin-top: 7px;
  z-index: 2;
  opacity: 1;
  cursor: pointer;
}

// .messanger-selector{
//   border-top: 2px solid black;
//   border-bottom: 2px solid black;
// }

.bg-white{
  background-color:white;
  // height: 90% !important;
}

.body-background{
  border-top:  1px solid #D9D9D9 !important;
  border-bottom:  1px solid #D9D9D9 !important;

}

.listBox  ::-webkit-scrollbar {
  width: 0px !important;
}

.position-absolute{
   top: 25rem;
   bottom:0;

}

// .position-absolute .btn{
//   width: 33.2rem !important;
// }