/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
h4{
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
p{
    font-size: 18px;
    color: white;
    font-weight: 400;
}
li{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.py_0 {
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  background-color: #fff;
}


.main-bnr {
  position: relative;
  z-index: 1;
}

.bnr-media {
  position: relative;
}

.bnr-media img {
  width: 100%;
}

.form-select:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.overlay {
  position: absolute;
  height: auto;
  // background-color: #000;
}

.overlay {
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.main{
  background-image: url("../../../../assets/images/cookie.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-transparent {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.cookie-text{
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    filter: brightness(0) invert(1);
    text-transform: uppercase;

}

/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/

ul {
  list-style-type: none; /* Remove default markers */
  padding: 0;
  margin: 0;
  text-align: left; /* Center the list items */
}

li {
  position: relative;
  padding-left: 2rem; /* Space for the custom marker */
}

li::before {
  content: '•'; /* Custom marker */
  position: absolute;
  font-size: 60px;
  // color: #E05263; /* Customize marker color */
  top: 15px;
  left: 0;
  transform: translateY(-50%);
}
.contact-text{
    margin-bottom: 20px;
}

// advertisement

.skyscraper-left{
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 43%;
}
.skyscraper-left img{
    height: 600px;
    width: 120px;
}
.skyscraper-right{
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    right: 0;
    top: 43%;
}
.skyscraper-right img{
    height: 600px;
    width: 120px;
}
.leaderboard-image img {
    height: 90px;
    width: 728px;
  }
  .leaderboard-image{
    position: relative;
    height: 90px;
    width: 728px;
    left: 50%;
    transform: translateX(-50%);
}


  // advertisement



@media (max-width: 1441px) {}
@media (max-width: 1199px) {
    .main-bnr {
        height: 270px;
    }
    .cookie-text {
        font-size: 35px;
    }
    h4{
        font-size: 18px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
    }
    li{
        font-size: 16px;
    }
    .py_0{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 991px) {
    li::before {
        top: 14px;
    }
    .main-bnr {
        height: 200px;
    }
    .cookie-text {
        font-size: 28px;
    }
    li::marker {
        font-size: 18px;
    }
    .leaderboard-club-image img,
    .small-sqaure-image img,
    .skyscraper-image img,
    .skyscraper-image img,
    .wide-skyscraper-image img,
    .leaderboard-image img,
    .banner-image img,
    .advertisement,
    .advertisement1, 
    .skyscraper-left img,
    .skyscraper-right img{
      display: none;
    }

}
@media (max-width: 767px) {}
@media (max-width: 575px) {
    li::before {
        top: 13px;
        font-size: 50px;
    }
    .main-bnr {
        height: 250px;
        background-position: bottom;
    }
    .information{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .address{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .py_0 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h4{
        font-size: 16px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
    }
    .info-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    li::marker {
        font-size: 19px;
    }
}
@media (max-width: 400px) {
    li::before {
        top: 13px;
        font-size: 45px;
    }
    li {
        padding-left: 25px;
    }
    p.list-text {
        padding-left: 25px;
    }
}
@media (max-width: 321px) {
    h4{
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    li {
        font-size: 12px;
        margin-top: 10px;
    }
    li::before {
        top: 11px;
        font-size: 35px;
    }
    li {
        padding-left: 20px;
    }
    p.list-text {
        padding-left: 20px;
    }
}



