<!-- <div class="main">
    <div class="banner py-0">
        <div class="container">
            <div class="banner-data">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="banner-left">
                            <h2 class="banner-heading">Discover Talent</h2>
                            <h5 class="banner-heading5">Browse a comprehensive database of football talents with
                                detailed
                                profiles.</h5>
                            <a class="btn btn-register" data-bs-toggle="modal" data-bs-target="#exampleModal1">Register
                                Now
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8 col-6">
                        <div class="player-cols">
                            <div class="player-col-1">
                                <div class="players">
                                    <div class="player1">
                                        <div class="player-img">
                                            <img src="./assets/images/club-player4.svg">
                                        </div>
                                        <p class="player-name">Ziddane</p>
                                    </div>
                                    <div class="corner-image">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="players2">
                                    <div class="player1">
                                        <div class="player-img">
                                            <img src="./assets/images/cristo-ronaldo.svg">
                                        </div>
                                        <p class="player-name1">Cristiano Ronaldo</p>
                                    </div>
                                    <div class="corner-image2">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image1">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="players3">
                                    <div class="player3">
                                        <div class="player-img3">
                                            <img src="./assets/images/blue-tshirt.svg">
                                        </div>
                                        <p class="player-name1">Cristiano Ronaldo</p>
                                    </div>
                                    <div class="corner-image3">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image1">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="player-col-2">
                                <div class="players">
                                    <div class="player1">
                                        <div class="player-img">
                                            <img src="./assets/images/Ronaldinho Gaúcho.svg">
                                        </div>
                                        <p class="player-name">Ronaldinho Gaúcho
                                        </p>
                                    </div>
                                    <div class="corner-image4">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image4">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="players2">
                                    <div class="player1">
                                        <div class="player-img">
                                            <img src="./assets/images/Jermain Defoe.svg">
                                        </div>
                                        <p class="player-name1">Jermain Defoe</p>
                                    </div>
                                    <div class="corner-image5">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image5">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="players3">
                                    <div class="player1">
                                        <div class="player-img">
                                            <img src="./assets/images/jammie.svg">
                                        </div>
                                        <p class="player-name3">Jamie Vardy</p>
                                    </div>
                                    <div class="corner-image6">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image6">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="player-col-3">
                                <div class="players">
                                    <div class="player1">
                                        <div class="player-img">
                                            <img src="./assets/images/Gabriel Jesus.svg">
                                        </div>
                                        <p class="player-name7">Gabriel Jesus
                                        </p>
                                    </div>
                                    <div class="corner-image7">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image7">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="players2">
                                    <div class="player1">
                                        <div class="player-img">
                                            <img src="./assets/images/mohamad.svg">
                                        </div>
                                        <p class="player-name8">Mohamed Salah</p>
                                    </div>
                                    <div class="corner-image8">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image8">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="players3">
                                    <div class="player2">
                                        <div class="player-img">
                                            <img src="./assets/images/club-player1.svg">
                                        </div>
                                        <p class="player-name9"></p>
                                    </div>
                                    <div class="corner-image9">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image9">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="player-col-4">
                                <div class="players">
                                    <div class="player10">
                                        <div class="player-img">
                                            <img src="./assets/images/club-player2.svg">
                                        </div>
                                        <p class="player-name10">Ronaldinho Gaúcho
                                        </p>
                                    </div>
                                    <div class="corner-image4">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image10">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="players3">
                                    <div class="player10">
                                        <div class="player-img">
                                            <img src="./assets/images/club-player3.svg">
                                        </div>
                                        <p class="player-name11">Jermain Defoe</p>
                                    </div>
                                    <div class="corner-image5">
                                        <img src="./assets/images/FC Thun 1.svg">
                                    </div>
                                    <div class="flag">
                                        <div class="flag-image11">
                                            <img src="./assets/images/flag.svg" class="flag-img">
                                            <div class="bottom-line"></div>
                                            <div class="flag-bottom">
                                                <img src="./assets/images/birthday.svg" class="birthday-img">
                                                <p class="d-o-b">2004</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="club py_0">
        <div class="container">
            <h4 class="club-heading4">I’m a Club/scout</h4>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="club_text">
                        <img src="./assets/images/club-group1.svg">
                        <p class="club-text1">Search player profiles and bookmark for future reference.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="club_text">
                        <img src="./assets/images/club-group2.svg">
                        <p class="club-text1">Download talent profile in pdf format.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="club_text">
                        <img src="./assets/images/club-group3.svg">
                        <p class="club-text1">Manage potential recruits status, save time and stress during your hiring.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features py_0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="left-accodian">
                        <h3 class="feature-heading3">Features</h3>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/feature-img1.svg">
                                    <h2 class="accordion-header">
                                        Access to Talent Database
                                    </h2>
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Browse a comprehensive database of football talents with
                                            detailed profiles and filtering options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/feature-img2.svg">
                                    <h2 class="accordion-header">Detailed Player Profiles</h2>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Browse a comprehensive database of football talents with
                                            detailed profiles and filtering options.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/feature-img3.svg">
                                    <h2 class="accordion-header">
                                        Highlight Videos and Match Reports
                                    </h2>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Browse a comprehensive database of football talents with
                                            detailed profiles and filtering options.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-flex">
                                    <img src="./assets/images/feature-img4.svg">
                                    <h2 class="accordion-header">
                                        Global Networking Opportunities
                                    </h2>
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="feature-text">Browse a comprehensive database of football talents with
                                            detailed profiles and filtering options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">

                </div>
            </div>
        </div>
    </div>

    <div class="pricing py_0">
        <div class="container">
            <h3 class="price-heading3">pricing</h3>

            <div class="billed">
                <p class="billed-monthly">Billed Monthly</p>
                <p>Billed Yearly</p>
            </div>

            <div class="premium">
                <div class="row">
                    <div class="col-6">
                        <h2 class="premium-heading2">Premium</h2>
                        <h3 class="premium-heading3">740<span>.- CHF / Year</span></h3>
                    </div>
                    <div class="col-6">
                        <h5 class="premium-heading5">Premium Includes</h5>
                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>The complete talent profile with all stages of his career and performance data.</p>
                        </div>

                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>Export data in excel and pdf formats.</p>
                        </div>

                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>Chat with Talents, Clubs and Scouts.</p>
                        </div>

                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>Create your favorite list.</p>
                        </div>

                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>Highlight your best photos and videos on your profile.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="billed">
                <p>Billed Monthly</p>
                <p>Billed Yearly</p>
            </div>
            <div class="premium">
                <div class="row">
                    <div class="col-6">
                        <h2 class="premium-heading2">Multi-Country</h2>
                        <h3 class="premium-heading3">22<span>.- CHF / Year</span></h3>
                    </div>
                    <div class="col-6">
                        <h5 class="premium-heading5">Premium Includes</h5>
                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>Present your profile to clubs and leagues in other countries.</p>
                        </div>

                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>Higher chances to get hired globally.</p>
                        </div>

                        <div class="premium-text">
                            <img src="./assets/images/mdi_tick.svg">
                            <p>Build you global portfolio.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->