.personal_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px;
}
.close-btn {
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
    padding: 2px 9px;
    color: #849aa2;
    border: 4px solid #849aa2;
    border-radius: 50%;
}
.dialog-header h2 {
    font-size: 20px;
    font-weight: 600;
}
.moving_select h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.form-group {
    padding: 0px 32px;
}
.transfer_box{
    padding: 0px 20px 20px 20px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 16px;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
}
.cancel-btn {
    background: none;
    color: #f44336;
    font-weight: 700;
    width: 45%;
}
.save-btn {
    background: #58bc5c;
    color: white;
    font-weight: 700;
    width: 45%;
}
.cancel-btn, .save-btn {
    padding: 14px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.dialog-actions {
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
}
@media (max-width:768px) {
    .transfer_box .row {
        row-gap: 20px;
    }
}