<div class="dialog-content">
  <div class="personal_edit">
    <div class="dialog-header m-auto">
      <h2>Edit User Personal Details</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn" (click)="onCancel()">X</button>
    </div>
  </div>
  <hr>
  <form class="transfer_box" (ngSubmit)="onSubmit()">
    <div class="row mb-4">
      <div class="form-group moving_select col-lg-6">
        <h2>Moving To</h2>
        <label for="team-1" class="form-label">Team</label>
        <select id="team-1" class="form-select">
          <option selected="">FC Thun</option>
          <option value="yes">FC Thun</option>
          <option value="no">FC Thun</option>
        </select>
      </div>
      <div class="form-group moving_select col-lg-6">
        <h2>Moving From</h2>
        <label for="team-2" class="form-label">Team</label>
        <select id="team-2"class="form-select">
          <option selected="">FC Thun</option>
          <option value="yes">FC Thun</option>
          <option value="no">FC Thun</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row mt-5">
      <div class="form-group moving_select col-lg-6">
        <label for="saison" class="form-label">Saison</label>
        <select id="saison" class="form-select">
          <option selected="">23/24</option>
          <option value="yes">23/24</option>
          <option value="no">23/24</option>
        </select>
      </div>
      <div class="form-group moving_select col-lg-6">
        <label for="transfer_date" class="form-label">Date</label>
        <input type="date" id="transfer_date">        
      </div>
    </div>
  </form>
  <div class="dialog-actions align-items-center d-flex justify-content-between">
    <button class="cancel-btn" type="button" (click)="onCancel()">Cancel</button>
    <button class="save-btn" type="submit">Save</button>
  </div>
</div>