<div class="container bg-0C3453">
    <div class="add-talent_btn text-end mb-3">
        <a id="talent_button" (click)="inviteTalent()" class="btn btn-success btn-sm web-create-bg">{{ 'addNewTalent' | translate }}</a>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table mat-table [dataSource]="scoutPlayers" class="table table-hover table-striped table-users ">

            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> {{ 'name' | translate }} </th>
              <td mat-cell *matCellDef="let element">

                <div class="d-flex align-items-center pic-with-name">
                  <span class="position-relative">
                    <img src="../../../assets/images/1.jpg" alt="" class="table_img"
                      *ngIf="!element.profile_image_path" />
                    <img src="{{element.profile_image_path}}" alt="" class="table_img"
                      *ngIf="element.profile_image_path" />
                    <span class="position-absolute verified-icon">
                      <img src="../../../assets/images/pending.png" alt="" class="user-pending-icon"
                        *ngIf="element.user_status === '1'" />
                      <img src="../../../assets/images/approved.png" alt="" class="user-approved-icon"
                        *ngIf="element.user_status === '2'" />
                      <img src="../../../assets/images/rejected.png" alt="" class="user-rejected-icon"
                        *ngIf="element.user_status === '3'" />
                    </span>
                  </span>
                  <span class="main-template" style="padding-left: 15px">
                    {{ element.first_name }} {{ element.last_name }}
                  </span>
                </div>

              </td>
            </ng-container>

            <ng-container matColumnDef="Language">
              <th mat-header-cell *matHeaderCellDef>{{ 'language' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{ element.language }}</td>
            </ng-container>

            <ng-container matColumnDef="Club">
              <th mat-header-cell *matHeaderCellDef> {{ 'club' | translate }} </th>
              <td mat-cell *matCellDef="let element">
                <img src="{{element.club_logo_path}}" *ngIf="element.club_logo_path" style="max-width: 50px;">
                {{ element.club_name }}
                <img src="{{element.country_flag_path}}" *ngIf="element.country_flag_path">
              </td>
            </ng-container>

            <ng-container matColumnDef="Contract Starts">
              <th mat-header-cell *matHeaderCellDef> {{ 'contractStarts' | translate }}
                <!-- <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.15341 7.43701H7.84716C8.44903 7.43701 8.74997 8.1958 8.32528 8.63818L4.97841 12.1245C4.71404 12.3999 4.28654 12.3999 4.02497 12.1245L0.675285 8.63818C0.250597 8.1958 0.551535 7.43701 1.15341 7.43701ZM8.32528 4.36084L4.97841 0.874512C4.71404 0.599121 4.28654 0.599121 4.02497 0.874512L0.675285 4.36084C0.250597 4.80322 0.551535 5.56201 1.15341 5.56201H7.84716C8.44903 5.56201 8.74997 4.80322 8.32528 4.36084Z" fill="#111418" class="scout-up-down"/>
                    </svg> -->

              </th>
              <td mat-cell *matCellDef="let element"> 03.04.2023 </td>
            </ng-container>
            <ng-container matColumnDef="Contract Expires">
              <th mat-header-cell *matHeaderCellDef> {{ 'contractExpires' | translate }}</th>
              <td mat-cell *matCellDef="let element"> 03.04.2023 </td>
            </ng-container>

            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'view' | translate }}</th>
              <td mat-cell *matCellDef="let element" class="text-center cursor-pointer">
                <svg (click)=viewScoutPlayer(element.player_id) class="pointer" width="25" height="25"
                  viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.5 15.625C14.2259 15.625 15.625 14.2259 15.625 12.5C15.625 10.7741 14.2259 9.375 12.5 9.375C10.7741 9.375 9.375 10.7741 9.375 12.5C9.375 14.2259 10.7741 15.625 12.5 15.625Z"
                    fill="#787878" class="td-icon-favourites" />
                  <path
                    d="M24.1715 12.2344C23.2527 9.85754 21.6575 7.80204 19.5831 6.32194C17.5087 4.84184 15.0461 4.00201 12.4997 3.90625C9.9532 4.00201 7.4906 4.84184 5.41623 6.32194C3.34187 7.80204 1.74667 9.85754 0.827793 12.2344C0.765736 12.406 0.765736 12.594 0.827793 12.7656C1.74667 15.1425 3.34187 17.198 5.41623 18.6781C7.4906 20.1582 9.9532 20.998 12.4997 21.0938C15.0461 20.998 17.5087 20.1582 19.5831 18.6781C21.6575 17.198 23.2527 15.1425 24.1715 12.7656C24.2336 12.594 24.2336 12.406 24.1715 12.2344ZM12.4997 17.5781C11.4953 17.5781 10.5135 17.2803 9.67841 16.7223C8.84332 16.1643 8.19244 15.3712 7.80809 14.4433C7.42374 13.5154 7.32318 12.4944 7.51912 11.5093C7.71506 10.5242 8.1987 9.61941 8.90889 8.90922C9.61908 8.19903 10.5239 7.71539 11.509 7.51945C12.494 7.32351 13.5151 7.42407 14.443 7.80842C15.3709 8.19278 16.164 8.84365 16.722 9.67875C17.28 10.5138 17.5778 11.4956 17.5778 12.5C17.5757 13.8462 17.04 15.1366 16.0882 16.0885C15.1363 17.0404 13.8458 17.5761 12.4997 17.5781Z"
                    fill="#787878" class="td-icon-favourites" />
                </svg>
              </td>
            </ng-container>

            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef class="text-center"> {{ 'delete' | translate }} </th>
              <td mat-cell *matCellDef="let element" class="text-center cursor-pointer">
                <svg (click)=confirmDeletion(element.id,element.first_name,element.last_name) width="13" height="16"
                  viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.916667 13.8519C0.916667 14.8042 1.74167 15.5833 2.75 15.5833H10.0833C11.0917 15.5833 11.9167 14.8042 11.9167 13.8519V3.46296H0.916667V13.8519ZM12.8333 0.865741H9.625L8.70833 0H4.125L3.20833 0.865741H0V2.59722H12.8333V0.865741Z"
                    fill="#787878" class="scout-delete" />
                </svg>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row user-empty-tr" *matNoDataRow>
              <td [attr.colspan]="displayedColumns.length" class="user-empty-td">
                <app-loader *ngIf="isLoading"></app-loader>
                <div *ngIf="scoutPlayers.length == 0 && !isLoading" style="text-align: center;">{{ 'noRecordFound' | translate }}</div>
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
</div>