.main-template{
    color: black ;
}

@media(max-width: 425px){
  .table-responsive {
    overflow-x: auto;
  }

  .table {
      margin-bottom: 0;
  }

  .c_pointer {
      cursor: pointer;
  }
  .btn-outline-white {
    padding: 5px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .paging-data{
    font-size:12px;
    font-weight: 500;
    margin-left: 5px;
  }
  .left-slide svg, .right-slide svg{
    height: 20px;
    width: 20px;
  }

  .template-main-checkbox{
    padding: 3px  !important;
    font-size: 12px !important;
    border-radius: 4px;
  }
  .heading{
    justify-content: space-between;
  }
  .template-header-bar{
    flex-direction: column;
  }
  .template-header-bar .card-search{
    margin-top: 10px;
    width: 100%;
  }
.marketing-header-bar{
    flex-direction: column;
    gap: 10px;
}
.marketing-header-bar .card-search{
  width: 100%;
}
}

@media(max-width: 360px){
  .btn-outline-white {
    padding: 3px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .form-check-input{
    margin-top: 6px;
  }

  .template-main-checkbox{
    padding: 3px  !important;
    font-size: 12px !important;
    border-radius: 4px;
  }

  .card-title {
    font-size: 14px;
  }

  .input-filter-text{
    font-size: 10px;
  }
  .filter-svg svg{
      height: 12px;
      width: 12px;
  }
  .card-search .input-group .input-group-text svg{
    height: 12px;
    width: 12px;
  }
  .template-header-bar{
    flex-direction: column;
  }
  .template-header-bar .card-search{
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .table td, .table th {
    white-space: nowrap;
  }


}

.template-main-checkbox{
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;

}

.dropdown-template .dropdown-toggle::after{
 
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.pagination-values {
  font-size: 14px;
  font-weight: 500;
  font-family: Libre Franklin, sans-serif !important;
}

.pointer{
  cursor: pointer;
}


.dropdown-toggle:after{
  display: none !important;
}