<div class="edit-multi-country-plan container border rounded p-0">

  <div class="personal_edit ">
    <div class="dialog-header m-auto">
      <h2> {{ 'Edit Multi-Country Plan' | translate}}</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn" aria-label="Close" (click)="cancel()">X</button>
    </div>
  </div>
  <hr>


    <div class="country-plan">
      <div class="country-selection mb-4">
        <div class="form-group col-lg-4">
          <label for="select-contries">{{ 'Select Countries' | translate}}</label>
          <select class="form-select" [(ngModel)]="selectedCountries" id="select-contries">
            <option *ngFor="let country of countries" [value]="country.id"> {{ country.country_name }} </option>
            <option value="2">{{ 'Select-3' | translate}} </option>
          </select>
        </div>
        <div class="explore-chip d-flex align-items-center mt-4">
          <div class="chip"><span>Germany</span><span><button class="explore-chip_cut"><svg width="13px"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
                  </path>
                </svg></button></span></div>
          <div class="chip"><span>France</span><span><button class="explore-chip_cut"><svg width="13px"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
                  </path>
                </svg></button></span></div>
        </div>
      </div>

      <div class="subscription-type mt-5">
        <h2 class="mb-3">{{ 'Subscription Type' | translate }}</h2>
        
        <!-- Monthly Option -->
        <div class="form-check p-0">
          <input id="radio-1" class="form-check-input radio-custom" type="radio" 
                 name="subscriptionType" 
                 [value]="subscriptionTypeOptions.MONTHLY" 
                 [(ngModel)]="subscriptionType">
          <label for="radio-1" class="form-check-label radio-custom-label">Monthly</label>
        </div>
        
        <!-- Yearly Option -->
        <div class="form-check p-0">
          <input id="radio-2" class="form-check-input radio-custom" type="radio" 
                 name="subscriptionType" 
                 [value]="subscriptionTypeOptions.YEARLY" 
                 [(ngModel)]="subscriptionType">
          <label for="radio-2" class="form-check-label radio-custom-label">Yearly</label>
        </div>
      </div>
      
    </div>
  
   <div class="country-plan-2">
    <p class="prorata-explanation mb-4">
      {{ 'You will be charged a percentage of a subscriptions cost to reflect partial use on the basis of Prorata.' |
      translate }}
    </p>

    <div class="actions d-flex justify-content-end">
      <button class="btn action-cancel " (click)="cancel()">Cancel</button>
      <button class="btn buy-btn d-flex align-items-center gap-5" (click)="buy()">
        <div class="buy-button ">
          <h4>110 CHF</h4>
          <p>Total</p>
        </div>Buy Now
      </button>
    </div>
   </div>

</div>
