.msg-popup-close {
    text-align: right;
}
.msg-popup-dialog {
    padding: 10px 15px 35px;
    text-align: center;
}

.msg-popup-close img {
    max-width: 40px;
    cursor:pointer;
}

.popup-delete-btn{
    color: #FD5454;
    margin-top:20px;
    cursor: pointer;
}