<div class="card mb-3">
    <div class="card-header border-0">
      <div>
        <h6 class="card-title">Team Members</h6>
        <p>Invite or manage your organisation’s memebers.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div
      class="card-header d-flex align-items-center justify-content-between"
    >
      <h4 class="card-title">Team</h4>
      <a><small><i class="fa-solid fa-plus plus-color me-1 "></i></small> <span class="Addmember">Add member</span></a
      >
    </div>
    <div class="card-body px-3 py-2" >
      <table class="table">
        <tbody>
          <tr>
            <td>
              <div class="d-flex">
                <img
                  src="../../../assets/images/1.jpg"
                  alt=""
                  class="table_img"
                />
                <div>
                <span class="title-text">Elton Prince</span>
                  <br>
                <span class="title-text">Elton Prince</span>

                </div>
              </div>
                                      
            </td>

            <td>
              <span class="bg_success">Active </span>
            </td>

            <td>
                <select class="custom-select custom-select-wrapper" >
                  <option value="1" >Admin</option>
                  <option value="2">View-Only</option>
                  <option value="3">Editor</option>
                  <option value="4">Transfer Ownership</option>
                </select>

            </td>
            <td class="c_pointer">
              <svg id="users-icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.49967 17.0589C5.49967 18.0112 6.32467 18.7904 7.33301 18.7904H14.6663C15.6747 18.7904 16.4997 18.0112 16.4997 17.0589V6.66999H5.49967V17.0589ZM17.4163 4.07277H14.208L13.2913 3.20703H8.70801L7.79134 4.07277H4.58301V5.80425H17.4163V4.07277Z"
                  fill="#787878"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <img
                  src="../../../assets/images/1.jpg"
                  alt=""
                  class="table_img"
                />
                <div>
                <span class="title-text">Elton Prince</span>
                  <br>
                <span class="title-text">Elton Prince</span>

                </div>
              </div>
            </td>

            <td>
              <span class="bg_secondary">Inactive </span>
            </td>

            <td>

              <select class="custom-select custom-select-wrapper" >
                <option value="1" >Admin</option>
                <option value="2">View-Only</option>
                <option value="3">Editor</option>
                <option value="4">Transfer Ownership</option>
              </select>

          </td>
            <td class="c_pointer">
              <svg id="users-icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.49967 17.0589C5.49967 18.0112 6.32467 18.7904 7.33301 18.7904H14.6663C15.6747 18.7904 16.4997 18.0112 16.4997 17.0589V6.66999H5.49967V17.0589ZM17.4163 4.07277H14.208L13.2913 3.20703H8.70801L7.79134 4.07277H4.58301V5.80425H17.4163V4.07277Z"
                  fill="#787878"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <img
                  src="../../../assets/images/1.jpg"
                  alt=""
                  class="table_img"
                />
                <div>
                <span class="title-text">Elton Prince</span>
                  <br>
                <span class="title-text">Elton Prince</span>

                </div>
              </div>    
            </td>

            <td>
              <span class="bg_pending">Invited </span>
            </td>
            <td>
              <select class="custom-select custom-select-wrapper" >
                <option value="1" >Admin</option>
                <option value="2">View-Only</option>
                <option value="3">Editor</option>
                <option value="4">Transfer Ownership</option>
              </select>
          </td>                    <td class="c_pointer">
              <svg id="users-icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.49967 17.0589C5.49967 18.0112 6.32467 18.7904 7.33301 18.7904H14.6663C15.6747 18.7904 16.4997 18.0112 16.4997 17.0589V6.66999H5.49967V17.0589ZM17.4163 4.07277H14.208L13.2913 3.20703H8.70801L7.79134 4.07277H4.58301V5.80425H17.4163V4.07277Z"
                  fill="#787878"
                />
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>