h1 {
    font-size: 45px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    padding-top: 50px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    margin: 10px;
    width: calc(25% - 20px);
    /* Adjust this for the number of images per row */
    text-align: center;
    /* Center-align the content */
}

button.faq-club-button,
button.faq-talent-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-right: 50px;
    opacity: 75%;
}

button.faq-talent-button.active,
button.faq-club-button.active {
    height: 40px;
    width: 126px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    opacity: 1;
}

//   img {
//     width: 100%;
//     height: auto;
//     border-radius: 8px;
//   }

//   h3 {
//     margin: 10px 0 5px 0;
//     font-size: 1.2em;
//   }

//   p {
//     font-size: 0.9em;
//     color: #555;
//   }

.pagination-controls {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}


label {
    display: inline-block;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

select#numberSelect {
    width: 64px;
    height: 36px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 30px;
    padding-left: 8px;
}

.pages button {
    cursor: pointer;
}
.adv-player-list{
    position: relative;
}

.player-list {
    padding-top: 150px;
    position: relative;
}

.player1 {
    height: 310px;
    object-fit: cover;
    width: 310px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #C2A64A, #A77A2E);
}

.tabs {
    margin-bottom: 40px;
}

.players {
    margin-bottom: 20px;
    width: 309px;
    height: 309px;
    position: relative;
}

.player-img {
    border: 6px solid transparent;
    border-radius: 5px;
    position: relative;
}

.player-img img {
    height: 298px;
    object-fit: cover;
    width: 298px;
    border-radius: 5px;
}

.player-img::before {
    content: "";
    position: absolute;
    border: none;
    z-index: 1;
    top: 0;
    right: -1px;
    border-radius: 0 5px 0;
    width: 80px;
    height: 80px;
    background: #E2001A;
    color: #E2001A;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.player-name7 {
    background: linear-gradient(145deg, #6FB95D, #236115);
    color: white;
    bottom: 5px;
    width: 299px;
    height: 30px;
    font-size: 15px;
    position: absolute;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 0px 0px 5px 5px;
}

.player-img::before {
    content: "";
    position: absolute;
    border: none;
    z-index: 1;
    top: 0;
    right: -1px;
    border-radius: 0 5px 0;
    width: 80px;
    height: 80px;
    background: #E2001A;
    color: #E2001A;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.player-img::after {
    content: "";
    position: absolute;
    border: none;
    z-index: 1;
    bottom: 28px;
    left: -1px;
    width: 90px;
    height: 75px;
    background: linear-gradient(10deg, #6FB95D, #236115);
    clip-path: polygon(0% 100%, 100% 100%, 0% 10%);
}

.corner-image7 img {
    position: absolute;
    height: 50px;
    width: 40px;
    top: 7px;
    right: 7px;
    z-index: 1;
}

.flag-image7 {
    background-color: white;
    width: 65px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 12px;
}

p.d-o-b {
    font-size: 15px;
    color: #559B44;
    font-weight: 700;
}

.flag-bottom {
    display: flex;
}

.bottom-line {
    height: 1px;
    background-color: #E0E0E0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img.flag-img {
    width: 56px;
    height: 45px;
    object-fit: cover;
}

img.birthday-img {
    height: 20px;
    width: 20px;
}

button.prev-page {
    width: 77px;
    height: 36px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #E9E9E9;
    margin-right: 0;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 13px;
}
.pages {
    display: flex;
}

button.next-page {
    width: 77px;
    height: 36px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #E9E9E9;
    margin-left: 10px;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 13px;
}
p{
    font-size: 14px;
}
i.fa-solid.fa-angle-left {
    font-size: 12px;
    margin-right: 4px;
}
i.fa-solid.fa-angle-right {
    margin-left: 4px;
    font-size: 12px;
}

button.page-active.active {
    color: white;
    height: 36px;
    width: 33px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
}

button.page-active {
    width: 33px;
    height: 36px;
    background-color: white;
    color: #313131;
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid #E9E9E9;
}

// advertisement

.skyscraper-left{
    height: 600px;
    width: 120px;
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 10%;
}
.skyscraper-left img{
    height: 600px;
    width: 120px;
}
.skyscraper-right{
    height: 600px;
    width: 120px;
    content: "";
    z-index: 2;
    position: absolute;
    right: 0;
    top: 10%;
}
.skyscraper-right img{
    height: 600px;
    width: 120px;
}

  .large-rectangle {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 280px;
    width: 336px;
}

.large-rectangle img {
    height: 280px;
    width: 336px;
}
.inline-rectangle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";
    width: 300px;
    height: 250px;
}
.inline-rectangle img {
    width: 300px;
    height: 250px;
}
.square {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 250px;
    height: 250px;
    display: flex;
}
.square img {
    width: 250px;
    height: 250px;
}
.advertisement{
   position: relative;
   height: 350px;
}


  // advertisement
 // advertisement
 @media (max-width: 1404px){
    .player1 {
        height: 292px;
        width: 260px;
    }
    .player-img img {
        height: 280px;
        width: 249px;
    }
    .players {
        width: 260px;
        height: 292px;
    }
    .player-name7 {
        bottom: 5px;
        width: 250px;
    }
 }

@media (max-width: 1281px) {
    .player-img img {
        height: 275px;
        width: 250px;
    }
    .player1{
        height: 285px;
        width: 260px;
    }
    .players{
        width: 260px;
        height: 289px;
    }
    .player-name7 {
        bottom: 8px;
        width: 251px;
    }
}

@media (max-width: 1199px) {
    .player-img img {
        height: 230px;
        width: 209px;
    }

    .player1 {
        height: 240px;
        width: 220px;
    }

    .players {
        margin-bottom: 20px;
        width: 220px;
        height: 242px;
    }

    .player-name7 {
        width: 209px;
        bottom: 6px;
    }

    .player-list {
        padding-top: 100px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 30px;
        padding-top: 30px;
    }


}
@media (max-width: 991px){
    .leaderboard-club-image img,
    .small-sqaure-image img,
    .skyscraper-image img,
    .skyscraper-image img,
    .wide-skyscraper-image img,
    .leaderboard-image img,
    .banner-image img,
    .advertisement,
    .advertisement1, 
    .skyscraper-left img,
    .skyscraper-right img{
      display: none;
    }
}

@media (max-width: 767px) {
    .players {
        margin-bottom: 20px;
        width: 160px;
        height: 179px;
    }

    .player1 {
        height: 180px;
        width: 160px;
    }

    .player-img img {
        height: 167px;
        width: 150px;
    }

    .player-name7 {
        width: 150px;
        font-size: 14px;
    }

    .player-img::before {
        width: 50px;
        height: 50px;
    }

    .corner-image7 img {
        position: absolute;
        height: 37px;
        width: 25px;
        top: 4px;
        right: 6px;
        z-index: 1;
    }

    img.flag-img {
        width: 38px;
        height: 30px;
        object-fit: cover;
    }

    img.birthday-img {
        height: 13px;
        width: 15px;
    }

    p.d-o-b {
        font-size: 9px;
    }

    .player-img::after {
        width: 55px;
        height: 45px;
    }

    .flag-image7 {
        width: 46px;
        height: 50px;
        border-radius: 5px;
        z-index: 1;
        bottom: 50px;
        left: 9px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .pagination-controls{
        display: block;
    }
    .pages {
        display: flex;
        justify-content: space-between;
    }

    .tabs {
        display: flex;
        margin-bottom: 25px;
        justify-content: space-evenly;
    }
    .input-number {
        margin-bottom: 20px;
    }

    .player-name7 {
        width: 176px;
    }

    .players {
        margin-bottom: 20px;
        width: 185px;
        height: 202px;
    }

    .player1 {
        height: 200px;
        width: 185px;
    }

    .player-img img {
        height: 190px;
        width: 175px;
    }

    .player-img::before {
        width: 60px;
        height: 60px;
    }

    .corner-image7 img {
        height: 35px;
        width: 30px;
        top: 8px;
    }

    .player-img::after {
        width: 70px;
        height: 55px;
    }

    .flag-image7 {
        width: 50px;
        height: 55px;
        bottom: 48px;
    }

    img.flag-img {
        width: 45px;
        height: 33px;
        object-fit: cover;
    }

    p.d-o-b {
        font-size: 11px;
    }

    img.birthday-img {
        height: 16px;
        width: 17px;
    }
    select#numberSelect{
        width: 60px;
        height: 30px;
        border-radius: 4px;
        margin-left: 10px;
        margin-right: 30px;
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 25px;
    }

    .player-img::after {
        width: 70px;
        height: 55px;
        bottom: 24px;
    }

    .player-img img {
        height: 168px;
        width: 149px;
    }

    .players {
        margin-bottom: 20px;
        width: 160px;
        height: 179px;
    }

    .player1 {
        height: 178px;
        width: 160px;
    }

    .player-name7 {
        width: 150px;
        font-size: 12px;
        height: 25px;
        bottom: 5px;
    }

    .flag-image7 {
        bottom: 40px;
        left: 8px;
    }

    button.faq-talent-button.active,
    button.faq-club-button.active {
        height: 37px;
        width: 110px;
        font-size: 18px;
        line-height: 15px;
    }

    button.faq-club-button,
    button.faq-talent-button {
        font-size: 18px;
    }
}

@media (max-width: 321px) {
    .player-name7 {
        width: 125px;
        font-size: 12px;
        height: 25px;
    }

    .players {
        margin-bottom: 20px;
        width: 130px;
        height: 161px;
    }

    .player-img::before {
        width: 45px;
        height: 45px;
    }

    .player1 {
        height: 160px;
        width: 135px;
    }

    .player-img img {
        height: 150px;
        width: 125px;
    }

    .corner-image7 img {
        height: 27px;
        width: 22px;
        right: 2px;
    }

    .player-img::after {
        width: 50px;
        height: 45px;
        bottom: 24px;
    }

    .flag-image7 {
        width: 45px;
        height: 50px;
    }

    img.flag-img {
        width: 38px;
        height: 33px;
    }

    img.birthday-img {
        height: 13px;
        width: 15px;
    }

    p.d-o-b {
        font-size: 10px;
    }

    button.faq-talent-button.active,
    button.faq-club-button.active {
        height: 35px;
        width: 90px;
        font-size: 15px;
        line-height: 15px;
    }

    button.faq-club-button,
    button.faq-talent-button {
        font-size: 15px;
    }
    button.prev-page {
        width: 60px;
        height: 30px;
        padding: 7px;
    }
    button.next-page {
        width: 60px;
        height: 30px;
        padding: 7px;
        margin-left: 5px;
    }
    button {
        margin: 0;
        padding: 0;
    }
    button.page-active {
        width: 34px;
        height: 30px;
        font-size: 12px;
        margin-left: 5px;
    }
    button.page-active.active{
        height: 30px;
        width: 34px;
        font-size: 12px;
        border-radius: 4px;
        margin-left: 7px;
    }

}