<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{'Season' | translate }}</th>
        <th scope="col">{{'Date' | translate  }}
        </th>
        <th scope="col">
          {{'MovingFrom' | translate }}
        </th>
        <th scope="col">
          {{'MovingTo' | translate  }}
        </th>
        <th scope="col">{{'Edit' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transfer of userTransfers">
        <td>
          <span *ngIf="editableId != transfer.id">{{transfer.session}}</span>
          <select *ngIf="editableId == transfer.id" (change)="onSelectChange($event, 'session')" class="form-select custom-size custom-size-season" aria-label="Default select example">
            <ng-container *ngFor="let season of seasons.reverse()">
              <option *ngIf="transfer.session == season" selected [value]="season">
                {{season}}
              </option>

              <option *ngIf="transfer.session != season" [value]="season">
                {{season}}
              </option>
            </ng-container>
          </select>
        </td>
        <td>
          <span *ngIf="editableId != transfer.id">{{ transfer.date_of_transfer | date:'MM.dd.yyyy' }}</span>
          <mat-form-field  *ngIf="editableId == transfer.id" class="custom-size-calendar" appearance="fill">
            <input matInput [matDatepicker]="picker" placeholder="21/5/2023" (click)="picker.open()" (dateChange)="onDateChange($event)"
                   style="background-color: transparent !important; border: none;" [value]="defaultDate">
            <mat-datepicker #picker [startAt]="defaultDate"></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <span *ngIf="editableId != transfer.id">
            <img src="{{transfer.team_logo_path_from}}" alt="" width="30"> 
            {{transfer.team_name_from}} 
            <img src="{{transfer.country_flag_path_from}}" width="30">
          </span>
          <select *ngIf="editableId == transfer.id" class="form-control" (change)="onSelectChange($event, 'team_from')">
            <ng-container *ngFor="let team of teams">
              <option *ngIf="team.id == transfer.team_from" selected [value]="team.id">
                {{team.team_name}}, {{team.country_name}}
              </option>

              <option *ngIf="team.id != transfer.team_from" [value]="team.id">
                {{team.team_name}}, {{team.country_name}}
              </option>
            </ng-container>
          </select>
        </td>
        <td>
          <span *ngIf="editableId != transfer.id">
            <img src="{{transfer.team_logo_path_to}}" alt="" width="30"> 
            {{transfer.team_name_to}} 
            <img src="{{transfer.country_flag_path_to}}" alt="" width="30">
          </span>
          <select *ngIf="editableId == transfer.id" class="form-control" (change)="onSelectChange($event, 'team_to')">
            <ng-container *ngFor="let team of teams">
              <option *ngIf="team.id == transfer.team_to" selected [value]="team.id">
                {{team.team_name}}, {{team.country_name}}
              </option>

              <option *ngIf="team.id != transfer.team_to" [value]="team.id">
                {{team.team_name}}, {{team.country_name}}
              </option>
            </ng-container>
          </select>
        </td>
        <td class="d-flex justify-content-center">
          <svg  *ngIf="editableId != transfer.id" (click)="editPerformance(transfer.id)" id="users-icon" width="24" height="24" viewBox="0 0 24 24" fill="#787878" xmlns="http://www.w3.org/2000/svg" class="pointer">
            <path d="M3 17.4585V20.4985C3 20.7785 3.22 20.9985 3.5 20.9985H6.54C6.67 20.9985 6.8 20.9485 6.89 20.8485L17.81 9.93854L14.06 6.18854L3.15 17.0985C3.05 17.1985 3 17.3185 3 17.4585ZM20.71 7.03854C20.8027 6.94602 20.8762 6.83614 20.9264 6.71516C20.9766 6.59419 21.0024 6.46451 21.0024 6.33354C21.0024 6.20257 20.9766 6.07289 20.9264 5.95191C20.8762 5.83094 20.8027 5.72105 20.71 5.62854L18.37 3.28854C18.2775 3.19583 18.1676 3.12229 18.0466 3.07211C17.9257 3.02192 17.796 2.99609 17.665 2.99609C17.534 2.99609 17.4043 3.02192 17.2834 3.07211C17.1624 3.12229 17.0525 3.19583 16.96 3.28854L15.13 5.11854L18.88 8.86854L20.71 7.03854Z"/>
          </svg>

          <img *ngIf="editableId == transfer.id" (click)="updateTransfer(transfer.id)" src="../../../../assets/images/save-icon.png" style="width:26px;" class="pointer">
        </td>
      </tr>
    </tbody>
  </table>
</div>
