<div class="page-content">
  <div class="main-wrapper mt-2">
    <h4 class="setting-title  mb-2">{{'Account Settings' | translate}}</h4>
    <div class="row">
      <div class="col-lg-3">
        <div class="card border-0 p-0 card-account-setting">
          <div class="card-body card-tabs settings-tabs">
            <ul class="nav nav-tabs p-0 " id="myTab" role="tablist">

              <li class="nav-item" role="presentation">
                <button
                  class="nav-link d-flex align-items-center active"
                  id="profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="profile-tab-pane"
                  aria-selected="false"
                  (click)="switchTab('activity')"
                >
                  <svg id="users-icon"
                    class="me-1 activity"
                    width="20"
                    height="25"
                    viewBox="0 0 16 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.3333 7H11.6667L9.66667 13L5.66667 1L3.66667 7H1"
                      stroke="#9D9EA0"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  Activity Log
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link d-flex align-items-center"
                  id="profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="profile-tab-pane"
                  aria-selected="false"
                  (click)="switchTab('setting')"
                >
                  <svg id="users-icon"
                    class="me-1 activity"
                    width="20"
                    height="25"
                    viewBox="0 0 16 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.3333 7H11.6667L9.66667 13L5.66667 1L3.66667 7H1"
                      stroke="#9D9EA0"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  {{'App Settings'|translate }}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="tab-content" id="myTabContent">
          <talent-activity-log *ngIf="tab == 'activity'"></talent-activity-log>
          <app-app-setting *ngIf="tab == 'setting'"> </app-app-setting>
        </div>
      </div>
    </div>

  </div>
  <!-- Modal -->
</div>
