.country-card {
    border: 2px solid transparent;
    text-align: center;
    padding: 15px;
    cursor: pointer;
  
    .country-info {
      margin-top: 10px;
    }
  
    img {
      max-width: 100px;
      margin: 10px auto;
    }
  
    &.selected {
      border-color: red;
      background-color: #f8d7da;
    }
    
    .badge {
      margin-top: 5px;
    }
  }
  .contries-flag-image {
    background-image: url('/assets/images/flag-background-image.png'); /* Correct the path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 248px; 
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
  }
  .contries-flag-image img{
    max-width: 100% !important;
  }
  .country-flag-box {
    background: #9F9F9F;
    border-radius: 5px;
  }
  .country-info h4{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  .countries-box-list .col-md-3{
    padding: 0px 29px !important;
  }
 .countries-box-list {
    row-gap: 23px;
  }
  .multi-country-box{
    background: #6FB95D;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
  }
  .card-billing {
    font-size: 18px;
    font-weight: 700;
    color: rgb(126, 126, 126);
  }
  .country-card.selected {
    border-color: #E2001A;
    background-color: #E2001A;
  }
  .premium_button-cousntries {
    background: #fcc704;
    padding: 4px 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 20px;
  }
  .premium_button-cousntries svg {
    width: 16px;
  }
  .premium_button-cousntries span {
    font-size: 12px;
    font-weight: 500;
  }
  .countries-primium{
    position: absolute;
    bottom: 6px;
    left: 16px;
    right: 16px;
  }
  .countries-primium a{
    color: #111418;
    font-size: 12px;
    font-weight: 600;
  }

  @media (max-width:1200px) and (min-width:769px) {
    .countries-box-list .col-md-3 {
      padding: 0px 10px !important;
    }
    .countries-primium {
      left: 10px;
      right: 10px;
    }
  }

  @media (max-width:768px) {
    .countries-box-list .col-md-3 {
      width: 100%;
    }
  }
