mat-datepicker-toggle{
  margin-left: -50px;
}
.dialog-container {
   
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .dialog-content{
    padding: 0px 20px 20px 20px;
  }
  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .personal_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
  }
  .position_inputs mat-select{
    width: 100%;
    padding: 12px 14px;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
  }
  .close-btn {
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
    padding: 2px 9px;
    color: #849aa2;
    border: 4px solid #849aa2;
    border-radius: 50%;
  }
  
  .dialog-content {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 26px;
    padding: 0px 32px;
  }
  .market_input-gap{
    gap: 10px;
    padding-right: 10px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .speed_inputs{
    gap: 10px;
    padding-right: 42px !important;
  }
  .form-group input, .form-group select {
    width:100%;
    padding: 14px;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
  }
  .social_network{
    width:94%;
    padding:16px 14px;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
    margin-bottom: 26px;
  }
  span.note_titles {
    margin-left: 26px;
    font-weight: 500;
    font-size: 16px;
}
.position_inputs{
  margin-bottom: 36px;
}

.social_icon{
  position: absolute;
  top: 10px;
  left: 46px;
}
.social_network input {
border: none;
background: none;
}
.social_network input:focus-visible {
  border: none !important;
  outline: none;
  }
span.social_heading {
  font-size: 16px;
  font-weight: 700;
}
  .dialog-actions {
    margin-top: 20px;
    text-align: right;
    padding: 0px 20px 20px 20px;
  }
  
  .cancel-btn, .save-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background: none;
    color: #f44336;
    font-weight: 700;
    width: 45%;
  }

  .social_form-box{
    margin: 20px 0px;
  }
  .save-btn {
    background: #58bc5c;
    color: white;
    font-weight: 700;
    width: 45%;
  }
  .dialog-header h2 {
    font-size: 18px;
    font-weight: 600;
}
.overflow-card{
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding:0px 20px 0px 20px;
}
.mat-mdc-dialog-surface{
  overflow: hidden !important;
}
.overflow-card::-webkit-scrollbar {
  width: 6px;
}
.overflow-card::-webkit-scrollbar-thumb {
  background: rgb(228, 228, 228); 
  border-radius: 10px;
}
@media (max-width:1440px) {
  .market_input-gap{
    padding: 0 !important;
  }
}
@media (max-width:1024px) {
  .form-group {
    padding: 0px 26px;
}
.social_network{
  width: 100% !important;
}
.social_network input {
  max-width: 180px;
  }
}
@media(max-width:768px){
  .mobile-input{
    width: 50% !important;
  }
  .speed_inputs{
    gap: 10px;
     padding-right: 26px !important; 
}
.social_network input {
  max-width: 100%;
  }
}
