

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
body{
    background-color: #fff;
   
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
ul{
    padding: 0;
    margin:0;
}

.phone,
.email{
    color:#fff;
}

.social-media ul li a{
     color:#fff;
     margin-right:10px;

}

.header-btn{
    margin-left:40px;
    position: relative;
}
.header-btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: -12px;
    width: 21px;
    height: 46px;
    transform: skew(20deg);
    background-color: #E05263;
}

.btn{
    border-radius:10px;
    padding: 10px 20px;
    font-size:16px;
}
.btn-primary{
    
    background-color: #E05263;
    border-color:#E05263;

}
.btn-primary:hover{
    background-color: #E05263;
    border-color:#E05263;
}
.btn-primary:hover:active{
    background-color: #E05263;
    border-color:#E05263;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.nav-link {
    text-transform: uppercase;
    padding: 18px !important;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.main-bnr{
    position: relative;
    z-index: 1;
}
.bnr-media{
    position: relative;
}


.bnr-media img{
    width: 100%;


}
.main-bnr{
    background-image: url('../../../../assets/images/bnr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    display: flex;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-transparent{
    position: absolute;
    z-index: 2;
    width:100%;
}

.site-footer{
    padding-top: 91px;
}
.nav-link.active{
    color:#E05263;
}
.navbar-brand img{
  width: 190px;
}
.banner-content svg{
width: 600px;
}


.banner-inner{
    position: relative;
    z-index: 2;
}
.banner-content{
    color:white;
    display: flex;
    
    justify-content: center;
}

.banner-btn .btn{
    padding: 10px 90px;
    border-radius: 20px;
}
.coustom-select .form-select{
    width: 80px;
    height: 44px;
    background: transparent;
    color: #fff;
    margin-right: 10px;
    padding-right: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right:28px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    border: 2px solid #ccc;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round {
    border-radius: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 0px;
    bottom: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #E05263;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #E05263;
  }
  .navbar-expand .navbar-nav{
    align-items: center;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
   
  .check_box input{
    width: 23.66px;
    height: 24px;
    border-radius: 5px;
    border-color: #85B1D3;
    border: 1px solid #85B1D3
    
  }
  .check_box p{
    font-size: 14px;
    font-weight: 400; 
    color: #A2ACBB;
  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    
  }
  
  #footer .footer-newsletter {
    padding: 50px 0;
  }
  
  
  
  #footer .footer-newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background:#E05263;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #E05263;
  }
  
  #footer .footer-top {
    padding: 70px 0 30px 0;
    
  }
  .footer-contact img{
    margin-bottom: 20px;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
    color:#EBEBED;
    font-family: Urbanist;
    
   
  }
  
  #footer .footer-top h4 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
   
    
    padding-bottom: 20px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 20px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    display: block;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color:#E05263;
    font-size: 18px;
   
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li a{
    color:#000;
    font-size:16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .footer-links p{
    color:#EBEBED;
    line-height: 25px;
    margin-bottom: 12px;
  }
  .social-link{
    display: flex;
    align-items: center;
    
  }
  .social-link li{
    margin-left:35px;
  }
  .bgprimary{
    background-color: #E05263!important;
  }
  .footer-bottom{
    padding: 12px 0;
  }
  .logo h6{
    font-size:26px;
    font-weight: 500;
  }
  .logo p{
    color:#0000;
    font-weight: 400;
    font-size: 18px;
  }

  .modal-backdrop{
    z-index: -1;
  }
  /* .fade{
    display: inline-block !important;
  } */

.form-label{
    font-size:18px;
    font-weight: 400;
}
.form-control{
    height:53px;
    border-color:#85B1D3;
    border-radius: 10px;
    padding: 12px 15px;
}
.modal{
    border-radius: 20px;
}
.modal-body{
    padding: 15px 55px 10px 55px;
    z-index: 1;
}
.modal-footer{
  padding: 15px 55px 10px 55px;
}

.form-control::placeholder{
    color: #85B1D3;
}
.modal-btn .btn{
  width: 100%;
    padding: 10px ;
    border-radius: 20px;
}
.modal-btn .socail_btn{
  color:#000;
    border-color:#E05263;
    padding: 10px 88px;
}

.text-primary{
    color:#E05263!important;
}
.seperat{
    position: relative;
}
.seperat:after{
    content:"";
    position: absolute;
    background-color: #85B1D3;
    width: 100%;
    height: 1px;
    top:0;
    right: 0;
}
.seperat:before{
    content:"";
    position: absolute;
    background-color: #85B1D3;
    width: 100%;
    height: 1px;
    top:0;
    left: 0;
}
.modal-header{
  padding: 0px;
}

.forgot_btn{
  font-size: 16px;
  font-weight: 400;
  color: #449AFF;
}
.dont-account{
  font-size: 16px;
  font-family: 400;
}
.register{
  color: #E05263;
  font-weight: 600;
  font-size: 18px;
}
.btn-close {
  background-image: url('../../../../assets/images/carbon_close-outline.png');
  background-size: cover;
  width: 35px; 
  height: 35px;
  border: none;
  padding: 0px;
  position: absolute;
  right: 17px;
  top: 15px;
  z-index: 2;
}

 .btn-close::after {
  content: none;
}
.navbar-toggler {
  background-color: #fff;
  border: 1px solid #E05263;
}

.cookie_popup{
  background-color: #fff;
  width: 100%;
  padding: 30px 0px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}
.cookie_popup p{
font-size: 16px;
font-weight: 500;
line-height: 26px;
text-align: left;
color: #8D8C8C;
}
.cookie_popup .buttonss{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 20px;
}

.buttonss button{
  border: 1px solid #8D8C8C;
font-size: 18px;
font-weight: 600;
color: #AAA6A6;
text-align: center;
background: transparent;
padding: 5px 10px 5px 10px;
border-radius: 20px;
}
.cookie_popup2{
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 0px;
}
.cookie_popup2 input:checked + .slider {
  background-color: #BDE34F;
}
.cookie_popup2 h5{
font-size: 18px;
font-weight: 600;
color: #000;
text-align: center;
border-bottom: 1px solid #EBEBEB;
margin-bottom: 0px;
padding-bottom: 20px;
}
 .Permissi{
background-color: #FAFAFA;
border-bottom: 1px solid #EBEBEB;
color: #000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px;
}
.Permissi h6{
font-size: 14px;
font-weight: 600;


}

@media (max-width: 1100px) {
  .nav-link {
    padding: 16px !important;
    font-size: 16px;
}
.navbar-brand img {
  width: 150px;
}
.coustom-select .form-select{
  width: 70px;
  height: 40px;
  margin-right: 5px;
}
.btn {
  padding: 10px 15px;
  font-size: 15px;
}
.switch {
  width: 50px;
  height: 30px;
  margin-right: 20px;
}
.slider:before {
  height: 26px;
  width: 25.5px;
  left: 0px;
  bottom: 0px; 
}
.banner-content svg {
  width: 450px;
}
}

@media (max-width: 991px) {
.navbar-collapse {
  background-color: #F2F2F2;
  padding-bottom: 10px;
}
.extra-nav{
  margin: auto;
}
.nav-link{
  color: #000;
}
.coustom-select .form-select {
 color: #000;
}
}
@media (max-width: 767px) {
.navbar-brand img {
  width: 130px;
}

.banner-content svg {
  width: 300px;
}
.banner-btn {
  margin-top: 0px !important;
}
.footer-contact{
  margin-bottom: 30px;
}
.footer-contact h3 img{
  width: 130px;
}
#footer .footer-top .footer-links ul li a {
  margin-bottom: 15px;
}
#footer .footer-top {
  padding: 30px 0 20px 0;
}
.main-bnr {
  height: auto;
  min-height: 500px; 
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.modal-body{
  padding: 15px ;
  z-index: 1;
}
.modal-footer{
padding: 15px 55px 10px 55px;
}

}

@media (max-width: 400px) {
  .banner-content svg {
      width: 200px;
  }

  .buttonss button {
    border: 1px solid #8D8C8C;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    border-radius: 20px;
}

}