

.form-control{
  font-size: 14px;
  font-weight: 400;
}
.form-control ::placeholder{
  font-size: 14px;
  font-weight: 400;
}

.message-media{
  width:60px;
  height:60px;
  object-fit: cover;
  border-radius: 50%;
}
.mesaage-content{
  margin-left: 16px;
  h6{
      font-size: 14px;
      font-weight: 600;
  }
  small{
      color: #000;
      opacity: 0.4;
      font-size: 12px;
      font-weight: 600;

  }

}
.chat-right-bx>div{
  margin-bottom: 20px!important;
}
.time-title{
  font-size: 14px;
  font-weight: 400;
  color: #c2c2c2;
}
.chat-img{
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.message-received p{
  background:#F1F1F1;
  padding: 8px 16px  8px 16px;
  border-radius: 12px;
  color: #000;
  font-size: 14px;
  margin-left: 16px;

}
.message-sent {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.message-sent p {
  background:#6FB95D;
  padding: 8px 16px  8px 16px;
  border-radius: 12px;
  color: white;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}
.message-received,
.message-sent{
  .d-flex{
      margin-bottom: 32px;
  }
}
.chat-bx{
  padding: 24px;
}
.badge{
  padding: 4px 8px 5px 8px;
}
.badge-info{
  background-color:#EDF2F7;
  border-color:#EDF2F7;
  color:#000;
}
.chat-right-bx{
  padding: 20px 16px 20px  0px;
}
.chat-right-bx{
  h6{
      font-size: 14px;
      font-weight: 600;
  }
}
.icon-bx{
  width: 48px;
  height: 48px;
  background: #FFF5F5;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  border-radius: 12px;
}
.font-w600{
  font-weight: 600;
}
.bg-success-light{
  background-color:     #F0FFF4;
}
.bg-info-light{
  background-color: #EBF8FF;
}
.form-check-input[type=checkbox] {
  border-radius: 0px;
}

@media(max-width: 425px){
  .btn-outline-white {
    padding: 5px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .paging-data{
    font-size:12px;
    font-weight: 500;
    margin-left: 5px;
  }
  .left-slide svg, .right-slide svg{
    height: 20px;
    width: 20px;
  }

  .inbox-main-checkbox{
    padding: 3px  !important;
    font-size: 12px !important;
    border-radius: 4px;
  }
  .heading{
    justify-content: space-between;
  }
  .inbox-header-bar{
    flex-direction: column;
  }
  .inbox-header-bar .card-search{
    margin-top: 10px;
    width: 100%;
  }

}

@media(max-width: 360px){
  .btn-outline-white {
    padding: 3px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .form-check-input{
    margin-top: 6px;
  }

  .inbox-main-checkbox{
    padding: 3px  !important;
    font-size: 12px !important;
    border-radius: 4px;
  }

  .card-title {
    font-size: 14px;
  }

  .input-filter-text{
    font-size: 10px;
  }
  .filter-svg svg{
      height: 12px;
      width: 12px;
  }
  .card-search .input-group .input-group-text svg{
    height: 12px;
    width: 12px;
  }
  .inbox-header-bar{
    flex-direction: column;
  }
  .inbox-header-bar .card-search{
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .table td, .table th {
    white-space: nowrap;
  }

  .table td {
    padding: 0.5rem;
  }
}



/* chat.component.css */

// .testing {
//   width: 100%;
//   height: 100%;
// }

// .dark-theme {
//   background-color: #1e1e1e; /* Dark background */
//   color: #ffffff; /* Light text */
// }

// .light-theme {
//   background-color: #ffffff; /* Light background */
//   color: #000000; /* Dark text */
// }

/* Customize additional styles as per TalkJS themes */

