.offcanvas{
    width: 300px;
}
.edit-bx{
    margin-bottom: 30px;
}
.text-light{
    color: #787878!important;
}
.font-w400{
    font-weight: 400;
}
.edit-canvas{
    .offcanvas-title{
        font-size:18px;
        font-weight: 700;
    }
    .close{
        font-size:14px;
        font-weight: 700;
        color:#787878;
    }
    .edit-canvas-media{
        position: relative;
        img{
            width: 49px;
            object-fit: cover;
            border-radius: 50%;
            height: 49px;
            margin-right: 25px;
        }
        .shield{
            position: absolute;
            right: 14px;
            bottom: 0;

        }

    }
    .edit-canvas-content{
        h6{
            color:#111418;
            opacity: 0.8;
            font-weight: 500;
        }
    }
}
.list-view-title{
    font-size: 14px;
    font-weight: 700;
    color: #023A4A;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E7E7E7;
}
.list-view{
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #E7E7E7;
    h6{
        color: #111418;
        opacity: 0.8;
        font-weight: 500;
    }
}
.modal-avtar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}
