.setting-title {
    color: #787878;
    font-size: 18px;
    font-weight: 700;
  }
  .card-tabs {
    padding: 0 !important;
    .nav-tabs {
      flex-direction: column;
      border: 0;
  
      .nav-link {
        font-size: 14px;
        font-weight: 500;
        background-color: #fafafa;
        width: 100%;
        color: #787878;
        text-align: left;
        padding: 16px 23px;
        border-radius: 0px;
        border-top: 1px solid #EBEBEB;
        &.active {
          border: 0px solid transparent;
          color: #000;
          font-weight: 700;
          background-color: #fff;
          svg {
            path {
              fill: #000;
            }
          }
        }
        
      }
    }
  }
  .card-title {
    font-weight: 700;
    font-size: 14px;
  }
  .card {
    background-color: #fff;
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
    }
  }
  .font-w500 {
    font-weight: 500;
  }
  .form-label {
    color: #111418;
    font-weight: 700;
  }
  .form-control,
  .form-select {
    border-color: #111418;
    height: 44px;
    border-radius: 5px;
    color: #111418;
  
    padding: 13px 19px;
    &::placeholder {
      color: #111418;
      font-weight: 500;
    }
  }
  .form-select {
    line-height: 1;
  }
  .btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 15px 68px;
    &.btn-sm {
      padding: 9px 15px;
    }
  }
  .btn-primary {
    background-color: #6fb95d;
    border-color: #6fb95d;
    background-image: unset;
  }
  .setting-btn {
    margin-top: 46px;
  }
  .setting-media {
    position: relative;
    width: 173px;
    height: 173px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  
    &:hover {
      .setting-edit {
        opacity: 1;
      }
    }
    img {
      width: 173px;
      height: 173px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 100%;
    }
    &:after {
      position: absolute;
      background-color: #000;
      top: 0;
      content: "";
      left: 0;
      opacity: 0.6;
      width: 100%;
      border-radius: 100%;
      height: 100%;
    }
    .setting-edit {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 14px;
      transition: all 0.5s;
      white-space: nowrap;
      opacity: 0;
      text-align: center;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: #fff;
    }
  }
  .card-body {
    padding: 40px;
  }
  .card-header {
    padding: 18px 20px;
  }
  .setting-table {
    thead {
      tr {
        border-color: transparent;
      }
    }
    tbody {
      tr {
        background-color: #fafafa;
        border-color: transparent;
      }
    }
  }
  .btn-outline-white {
    padding: 5px 10px 5px 10px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
  }
  

  .table_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .dashboard_table {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
  }
  .table_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .table_title p {
    font-size: 18px;
    font-weight: 700;
  }
  .table_title select {
    border-radius: 20px;
    margin-left: 15px;
    padding: 5px 15px;
    border: 0.7px solid #e5e5e5;
  }
  .table_title span {
    font-size: 14px;
    font-weight: 700;
  }
  .dashboard_table .table {
    border: none;
    background: transparent;
    padding: 0px 5px;
  }
  .dashboard_table .table > :not(caption) > * > * {
    background-color: transparent !important;
    border-bottom-width: 0px !important;
    vertical-align: middle;
  }
  .btn-tranapernt{
    background-color: transparent;
    border-color: transparent;
  }
  .btn-close{
    background-image: url('data:image/svg+xml,<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.9375 3C10.9437 3 3 10.9437 3 20.9375C3 30.9312 10.9437 38.875 20.9375 38.875C30.9312 38.875 38.875 30.9312 38.875 20.9375C38.875 10.9437 30.9312 3 20.9375 3ZM20.9375 36.3125C12.4812 36.3125 5.5625 29.3937 5.5625 20.9375C5.5625 12.4812 12.4812 5.5625 20.9375 5.5625C29.3937 5.5625 36.3125 12.4812 36.3125 20.9375C36.3125 29.3937 29.3937 36.3125 20.9375 36.3125Z" fill="%23627C97"/><path d="M28.0039 30.0977L20.9375 23.0313L13.8711 30.0977L11.7773 28.0039L18.8437 20.9375L11.7773 13.8711L13.8711 11.7773L20.9375 18.8437L28.0039 11.7773L30.0977 13.8711L23.0313 20.9375L30.0977 28.0039L28.0039 30.0977Z" fill="%23627C97"/></svg>');
  }