/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
h4{
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
p{
    font-size: 18px;
    color: white;
    font-weight: 400;
}
li{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.py_0 {
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  background-color: #fff;
}


.main-bnr {
  position: relative;
  z-index: 1;
}

.bnr-media {
  position: relative;
}

.bnr-media img {
  width: 100%;
}

.form-select:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.overlay {
  position: absolute;
  height: auto;
  // background-color: #000;
}

.overlay {
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.main{
  background-image: url("../../../../assets/images/terms-banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-transparent {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.terms-text{
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    filter: brightness(0) invert(1);
    text-transform: uppercase;

}

/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/

.terms{
    background-color: #092E01;
}
li::marker {
    color: #E05263;
    font-size: 22px;
}
ul {
    padding-left: 0;
    margin-left: 20px;
}
.contact-text{
    margin-bottom: 20px;
}
.privacy{
    background-color: #092E01;
}