<section class="website-code">
  <app-header></app-header>
  <div class="main">
    <div class="overlay"></div>
    <div class="banner-inner py_0">
      <div class="container">
        <div class="about">
          <h2 class="terms-text">{{'termsTranslate.termsAndConditions' | translate}}</h2>
        </div>
      </div>
    </div>

    <div *ngIf="adVisible[0]" class="skyscraper-left">
      <img src="./assets/images/skyscraper - 120x600.png">
      <button (click)="closeAd(0)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div *ngIf="adVisible[1]" class="skyscraper-right">
      <img src="./assets/images/skyscraper - 120x600.png">
      <button (click)="closeAd(1)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
    </div>
  </div>

  <div class="terms">
    <div class="container">

      <div class="terms_text py_0">
        <h4>{{'termsTranslate.termsAndConditions' | translate}}</h4>
        <p>{{'termsTranslate.welcome' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.acceptanceOfTerms' | translate}}</h4>
        <p> {{'termsTranslate.accessingOrUsing' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.useOfServices' | translate}}</h4>
        <p> {{'termsTranslate.agreeToUse' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.userAccounts' | translate}}</h4>
        <p> {{'termsTranslate.acessCertainFeatures' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.userContent' | translate}}</h4>
        <p> {{'termsTranslate.solelyResponsible' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.prohibitedActivities' | translate}}</h4>
        <p> {{'termsTranslate.agreeNotTo' | translate}}</p>
        <ul>
          <li> {{'termsTranslate.violateAnyLaws' | translate}}</li>
          <li> {{'termsTranslate.postOrTransmit' | translate}}</li>
          <li> {{'termsTranslate.impersonate' | translate}}</li>
          <li> {{'termsTranslate.interfereWithDisrupt' | translate}}</li>
        </ul>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.intellectualProperty' | translate}}</h4>
        <p> {{'termsTranslate.contentOnSoccerYou' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.termination' | translate}}</h4>
        <p> {{'termsTranslate.reserveTheRight' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.disclaimers' | translate}}8. Disclaimers</h4>
        <p> {{'termsTranslate.soccerYouIsProvided' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.limitationOfLiability' | translate}}</h4>
        <p> {{'termsTranslate.directIndirect' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.governingLaw' | translate}}</h4>
        <p> {{'termsTranslate.conditionsAreGoverned' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.changesToTerms' | translate}}</h4>
        <p> {{'termsTranslate.updateTimeToTime' | translate}}</p>
      </div>

      <div class="py_0">
        <h4> {{'termsTranslate.contactUs' | translate}}</h4>
        <p class="contact-text"> {{'termsTranslate.questionsOrConcerns' | translate}}</p>
        <p>{{'termsTranslate.address' | translate}}</p>
        <p> {{'termsTranslate.succerYouSportsAG' | translate}}</p>
        <p> {{'termsTranslate.idaStauliStrasse' | translate}}</p>
        <p> {{'termsTranslate.winterthur' | translate}}</p>
        <p> {{'termsTranslate.switzerland' | translate}}</p>
      </div>

      <div *ngIf="adVisible[2]" class="leaderboard-image">
        <img src="./assets/images/leaderboard - 728x90.png">
        <button (click)="closeAd(2)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</section>