body {
  position: relative;
  background: #f5f5f5;
}
.page-sidebar {
  width: 210px;
  margin: 20px 0px 20px 20px;
  position: fixed;
  height: 95%;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04);
  transition: background 0.2s ease-in-out;
}

.page-container {
  margin-left: 270px;
  width: 100%;
  position: relative;
  
}

.compact-sidebar .page-sidebar {
  width: 80px;
  position: fixed;
  box-shadow: none;
  height: 95%;
}
.compact-sidebar .page-sidebar:before {
  position: fixed;
  height: 95%;
  width: 80px;
  display: block;
  content: "";
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04);
  z-index: -1;
}
.compact-sidebar .sidebar_menu_span {
  display: none;
}
.compact-sidebar .sidebar_menu a {
  margin: 2px 13px !important;
}
.compact-sidebar .bottom_box {
  padding: 0px 20px 0px 30px !important;
}

.sidebar_menu a:hover {
  .sidebar_menu_span {
    display: block;
  }
}

.small-screen-sidebar-active .page-sidebar {
    transform: translateX(0)
  }

@media (min-width: 1200px) {
  .compact-sidebar .page-container {
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
    .page-sidebar {
        width: 100%;
        padding: 30px;
        visibility: hidden;
        opacity: 0;
        transform: translateX(0);
    }

    .small-screen-sidebar-active .page-sidebar {
        opacity: 1;
        visibility: visible;
        margin: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
        .sidebar_menu_span {
            display: block;
        }
        .sidebar_state{
            display: none;
        }
      }

}