body {
  position: relative;
  background: #F0F0F0;
  font-family: 'Libre Franklin', sans-serif;
}
ul , p {
    margin-bottom: 0px;
}
a{
    text-decoration: none;
}
.page-sidebar {
 border-radius: 20px;
  background: linear-gradient(#236115, #6fb95d) !important;
  width: 210px;
  margin: 20px 0px 20px 20px;
  position: fixed;
  height: 95%;
}

.compact-sidebar .page-header {
    position: fixed;
    width: calc(100% - 100px);
    z-index: 99;
    padding: 20px 25px;
    border-radius: 10px;
    background: #F0F0F0;
  }
  .page-header {
    position: fixed;
    width: calc(100% - 230px);
    z-index: 99;
    padding: 20px 25px;
    border-radius: 10px;
    background: #F0F0F0;
  }
  .new_registrations{
width: 300px;
position: fixed;
right: 0px;
background-color: #fff;
height: 100vh;
  }
.page-container {
  margin-left: 245px;
  width: 100%;
  position: relative;
  
}
.outlet_outer{
    position: relative;
    top: 110px;
    z-index: 1;
}
.compact-sidebar .page-container {
    margin-left: 115px;
  }

.compact-sidebar .page-sidebar {
  width: 80px;
  position: fixed;
  box-shadow: none;
  height: 95%;
}
.compact-sidebar .page-sidebar:before {
  position: fixed;
  height: 95%;
  width: 80px;
  display: block;
  content: "";
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04);
  z-index: -1;
}
.compact-sidebar .sidebar_menu_span {
  display: none;
}
.compact-sidebar .sidebar_menu a {
  margin: 2px 13px !important;
}
.logo_img {
    width: 110px;
    display: block;
  }
  .compact-sidebar .logo_img {
    display: none !important;
  }
.logo_img1 {
  display: none;
}
.compact-sidebar .logo_img1 {
  width: 110px;
  display: block !important;
}
.compact-sidebar .bottom_box {
  padding: 0px 20px 0px 30px !important;
}
.small-screens-sidebar-link {
    display: none;
  }

.sidebar_menu a:hover {
  .sidebar_menu_span {
    display: block;
  }
}

.small-screen-sidebar-active .page-sidebar {
    transform: translateX(0)
  }
.page-content{
    padding: 0px 25px 50px 25px;
}
.table{
    margin-bottom: 0px;
}
.table > :not(caption) > * > * {
    background-color: transparent !important;
    border-bottom-width: 0px !important;
    vertical-align: middle;
  }

  .bg_success {
    background: #236115;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
  }
  .bg_pending {
    background: #fcbe2d;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
  }
  .bg_reject {
    background: #fd5454;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
  }
  .table_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .btn-primary{
    background-color: #6FB95D;
    border-color: #6FB95D;
    background-image: unset;

}
  .form-check-input[type=checkbox] {
    border-radius: 0px;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: #FAFAFA !important;
}

.card-title{
    font-size:18px;
    font-weight: 700;
    color: #787878;
}
.btn{
    font-size:16px;
    font-weight: 700;
    border-radius: 10px;
    &.btn-sm{
        padding: 9px 15px;
    }
}
.card{
    padding: 15px 0px;
    .card-header{
       background: #fff;
    }
 }
 .card-search{
    width: 344px;
    background-color: #F3F3F3;
    display:flex;
    align-items: center;
    .input-group-text,
    .form-control{
        background-color: transparent;
       
        border-radius: 0;
        padding: 5px 10px;
        border: 0;
        
    }
    .form-control{
        border-left: 0;
    }
 }
 .form-control{
    font-size: 14px;
    font-weight: 400;
 }
 .form-control ::placeholder{
    font-size: 14px;
    font-weight: 400;
 }
 .btn-outline-white{
    padding: 5px 10px 5px 10px;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    color: #787878;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin: 5px;
 }
// @media (min-width: 1200px) {
 
// }

@media (max-width: 991px) {
    
    .page-sidebar {
        width: 100%;
        padding: 30px;
        visibility: hidden;
        opacity: 0;
        transform: translateX(0);
        z-index: 100;
    }
    

    .page-container {
        width: 100% !important;
        margin: 0 !important;
    }
    .page-header .navbarcollapse .navbar-nav {
        padding-right: 0px !important;
      }
    .page-header {
        width: 100% !important;
        padding: 0px 30px 0px 30px !important;
    }
    .page-content{
        padding: 0px 30px;
    }
    .small-screens-sidebar-link {
        display: block !important;
      }
      .sidebar-close{
        display: block !important;
      }
    .small-screen-sidebar-active .page-sidebar {
        opacity: 1;
        visibility: visible;
        margin: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
        .sidebar_menu_span {
            display: block;
        }
        .sidebar_state{
            display: none;
        }
      }

}
@media (max-width:767px) {
    .outlet_outer{
        top: 70px;
    }
}