.unlock_page{
  position: relative;
  height: 30vh;
    .unlock_btn{
        background: #6FB95D;
        padding: 10px 24px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        border-radius: 10px;
        border: none;
      }
      .upgrade_unlock{
        height: 100%;
        background: rgb(255 255 255 / 65%);
        position: absolute;
        width: 100%;
        top: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  .user-right-content > div{
    margin-bottom: 24px;
}
.user-right-content{
    padding: 28px 19px;
    h6{
        color: #111418;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 32px;

    }
    .fc-club-img{
        width: 38px;
        height: 36px;
    }
    .fc-img{
        width: 24px;
        height: 26px;
        margin-right: 3px;
        &.style-1{
            margin-right: 0;
            margin-left: 3px;
            
        }
    }
    .team-details{
        &.style-1{
            margin-bottom: 47px;
        }
        p{
            color: #787878;
            opacity: 0.8;
            margin-bottom: 10px;
        }
        h6{
            color: #111418;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0;
        }
        img{
            margin-right: 7px;
        }
    }
}
@media (max-width:1200px) {
  .user-info {
    flex-direction: column !important;
    row-gap: 10px;
  }
  span.active_btn {
    margin: 0px 32px 0px 8px !important;
  }
}
@media (max-width:1024px) {
  .elton-box{
    flex-direction: column;
  }
  .elton-box .col-lg-6{
    width: 100%;
  }
  .boost_profile {
    margin-right: 16px;
}

}
@media(max-width: 425px){
  .btn-outline-white {
    padding: 3px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 5px;
  }

  .btn-outline-white svg{
    height: 17px;
    width: 17px;
  }
  .paging-data{
    font-size:9px;
    font-weight: 500;
    margin-left: 5px;
  }
  .left-slide svg, .right-slide svg{
    height: 20px;
    width: 20px;
  }
  .forms_details .form-boxs{
      flex-direction: column !important;
  }
  .email_box{
    width: 100%;
  }
  .position-boxs{
    border: none !important;
  }
  .details_info{
    flex-direction: column;
    row-gap: 14px;
  }
  .password{
    margin: 0 !important;
  }
}
@media (max-width:375px) {
  .general_titels{
    flex-direction: column;
    row-gap: 14px;
  }
}
.team-details-sub{
    margin-bottom: 19px;
}


.details_2 {
    font-size: 16px;
    color: #a9a9a9;
    font-weight: 400;
  }
  .details-1 {
    font-size: 16px;
    font-weight: 400;
  }
  .position-image{
    width: 100%;
    padding-right: 16px;
    object-fit: cover;
   max-height: 115px;
  }
  .position-boxs {
    gap: 20px;
    border-right: 1px solid #e7e7e7;
  }
  .social_icons .facebook{
    width: 12px;
    margin-right: 14px;
  }
  .social_icons .instagram{
    width: 20px;
    margin-right: 14px;
  }
  .email_box input {
    background: #fff ;
    border: none;
    outline: none;
  }
  .password_box input {
    background: #fff ;
    border: none;
    outline: none;
  }
  input.password {
    border: 1px solid #e7dfdf !important;
    color: #b4b2b2;
    font-weight: 400 !important;
    padding: 4px 8px;
    font-size: 14px !important;
    border-radius: 6px;
    margin-left: 16px;
  }
  .forms_details form{
    gap: 16px;
  }
  .password_box input:-internal-autofill-selected{
    background-color: light-dark(rgb(255, 255, 255), rgba(255, 255, 255, 0.4)) !important;
  }
  .main-wrapper .card{
    background-color: inherit;
    border: none;
  }
  .card_box-1{
    border: none !important;
  }
  .user-media {
    border-radius: 10px 10px 0px 0px;
  }
  .card-bg{
    border-radius: 0px 0px 10px 10px;
    border-top: none;
  }
  
  .dark-theme .card-bg{
    border-color: #1F4360 !important;
  }
  .image-gallery{
    border-radius: 10px;
    border: 1px solid #E7E7E7;
  }
  .nav-tabs_box{
    border-radius: 10px;
    border: 1px solid #E7E7E7;
  
  }
  .general_details{
    border-radius: 10px;
  
  }
  .email_box label {
    color: #9d9b9b;
    font-weight: 400;
    font-size: 16px;
  }
  .password_box label {
    color: #9d9b9b;
    font-weight: 400;
    font-size: 16px;
  }
   
.edit_button button {
    border: 1px solid #918f8f;
    background: no-repeat;
    padding: 5px 8px;
    border-radius: 4px;
}
.edit_button span {
  font-size: 14px;
  color: #918f8f;
  padding-left: 6px;
  font-weight: 400;
}
.edit_icon {
    width: 20px;
    fill: #6d6d6d;
}
.general_titels h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565555;
}
.edit_button {
    margin-left: 14px;
}

}


.user-right-content > div{
    margin-bottom: 24px;
}
.user-right-content{
    padding: 28px 19px;
    h6{
        color: #111418;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 32px;

    }
    .fc-club-img{
        width: 38px;
        height: 36px;
    }
    .fc-img{
        width: 24px;
        height: 26px;
        margin-right: 3px;
        &.style-1{
            margin-right: 0;
            margin-left: 3px;
            
        }
    }
    .team-details{
        &.style-1{
            margin-bottom: 47px;
        }
        p{
            color: #787878;
            opacity: 0.8;
            margin-bottom: 10px;
        }
        h6{
            color: #111418;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0;
        }
        img{
            margin-right: 7px;
        }
    }
}
@media (max-width:1200px) {
  .user-info {
    flex-direction: column !important;
    row-gap: 10px;
  }
  span.active_btn {
    margin: 0px 32px 0px 8px !important;
  }
}
@media (max-width:1024px) {
  .elton-box{
    flex-direction: column;
  }
  .elton-box .col-lg-6{
    width: 100%;
  }
  .boost_profile {
    margin-right: 16px;
}

}
@media(max-width: 425px){
  .btn-outline-white {
    padding: 3px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 5px;
  }

  .btn-outline-white svg{
    height: 17px;
    width: 17px;
  }
  .paging-data{
    font-size:9px;
    font-weight: 500;
    margin-left: 5px;
  }
  .left-slide svg, .right-slide svg{
    height: 20px;
    width: 20px;
  }
  .forms_details .form-boxs{
      flex-direction: column !important;
  }
  .email_box{
    width: 100%;
  }
  .position-boxs{
    border: none !important;
  }
  .details_info{
    flex-direction: column;
    row-gap: 14px;
  }
  .password{
    margin: 0 !important;
  }
}
@media (max-width:375px) {
  .general_titels{
    flex-direction: column;
    row-gap: 14px;
  }
}
.team-details-sub{
    margin-bottom: 19px;
}


.details_2 {
    font-size: 16px;
    color: #a9a9a9;
    font-weight: 400;
  }
  .details-1 {
    font-size: 16px;
    font-weight: 400;
  }
  .position-image{
    width: 100%;
    padding-right: 16px;
    object-fit: cover;
   max-height: 115px;
  }
  .position-boxs {
    gap: 20px;
    border-right: 1px solid #e7e7e7;
  }
  .social_icons .facebook{
    width: 12px;
    margin-right: 14px;
  }
  .social_icons .instagram{
    width: 20px;
    margin-right: 14px;
  }
  .email_box input {
    background: #fff ;
    border: none;
    outline: none;
  }
  .password_box input {
    background: #fff ;
    border: none;
    outline: none;
  }
  input.password {
    border: 1px solid #e7dfdf !important;
    color: #b4b2b2;
    font-weight: 400 !important;
    padding: 4px 8px;
    font-size: 14px !important;
    border-radius: 6px;
    margin-left: 16px;
  }
  .forms_details form{
    gap: 16px;
  }
  .password_box input:-internal-autofill-selected{
    background-color: light-dark(rgb(255, 255, 255), rgba(255, 255, 255, 0.4)) !important;
  }
  .main-wrapper .card{
    background-color: inherit;
    border: none;
  }
  .card_box-1{
    border: none !important;
  }
  .user-media {
    border-radius: 10px 10px 0px 0px;
  }
  .card-bg{
    border-radius: 0px 0px 10px 10px;
    border-top: none;
  }
  
  .dark-theme .card-bg{
    border-color: #1F4360 !important;
  }
  .image-gallery{
    border-radius: 10px;
    border: 1px solid #E7E7E7;
  }
  .nav-tabs_box{
    border-radius: 10px;
    border: 1px solid #E7E7E7;
  
  }
  .general_details{
    border-radius: 10px;
  
  }
  .email_box label {
    color: #9d9b9b;
    font-weight: 400;
    font-size: 16px;
  }
  .password_box label {
    color: #9d9b9b;
    font-weight: 400;
    font-size: 16px;
  }
   
.edit_button button {
    border: 1px solid #918f8f;
    background: no-repeat;
    padding: 5px 8px;
    border-radius: 4px;
}
.edit_button span {
  font-size: 14px;
  color: #918f8f;
  padding-left: 6px;
  font-weight: 400;
}
.edit_icon {
    width: 20px;
    fill: #6d6d6d;
}
.general_titels h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565555;
}
.edit_button {
    margin-left: 14px;
}
