<div class="p-3 code-parent">
 <h6 class=" code-text text-center mb-2" >
  Advertising
 </h6>
 <div (click)="close()" class="close-img mb-1" >
</div>
<hr>


<div class="d-flex mb-2">
  <div>
  <p  class="code-text">
   Name
  </p>
    <div class="cupen-btn-1  code-text">
      puma
    </div>
  </div>
  <div class="ms-3">
    <p  class="code-text">
      On click redirect to url:
    </p>
      <div class="cupen-btn-1">
        _blank
      </div>
    </div>

 </div>

 <div class="d-flex mb-2">
  <div>
  <p  class="code-text">
   Type
  </p>
  <select class="cupen-btn-1 form-select" aria-label="Default select example">
    <option selected>Select</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  </div>
  <div class="ms-3">
    <p  class="code-text">
    Page
    </p>
    <select class="cupen-btn-1 form-select" aria-label="Default select example">
      <option selected>Select</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </div>

 </div>
<div class="upload-img mb-2">
  <svg id="users-icon" class="mb-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
  
  <h5 class="heading-text mb-1">
    Drag and Drop files here
  </h5>
  <p class="main-upload-text mb-2">
    Dimension: 160 x 600 px                    Files supported: JPG, GIF, PNG,  MP4
  </p>
  <button type="button" class="btn btn-secondary upload-btn mb-2">Choose File</button>
  <p class="main-upload-text mb-1">
    Maximum Size: 5MB
  </p>
</div>



 <div class="mb-2">
  <p  class="code-text">
    Display Duration
  </p>
  <div class="d-flex">
 
    <div>
   
      <div class="cupen-btn">
        <!-- <svg id="users-icon"  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>  May 8, 2024 -->
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker1">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconPrefix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="ms-2">
      
        <div class="cupen-btn">
          <!-- <svg id="users-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>   May 8, 2024 -->
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconPrefix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
    </div>
    <div class="d-flex align-items-center ms-2 code-text">
      <span class="form-check align-self-center ">
        <input
          type="checkbox"
          value=""
          id="defaultCheck1"
          class="form-check-input"
        /> <label for="defaultCheck1" class="form-check-label"> </label>
      </span> Don't set an end date
    </div>
  
   </div>

 </div>
 <div class="d-flex mb-2">
  <div>
  <p  class="code-text">
    Max Views
  </p>
    <div class="cupen-btn-1  code-text">
      500
    </div>
  </div>
  <div class="ms-3">
    <p  class="code-text">
      Max Clicks
    </p>
      <div class="cupen-btn-1">
        500
      </div>
    </div>

 </div>


 <div>
  <div class="upload">
    <!-- <div class="marketing-button-child"> -->
   <div>
    <a class="btn btn-delete code-text">Delete</a>
   </div>
    <div>
    <a class="btn Launch" >Create and Launch</a>
</div>
</div>