.close-img{
    background-image: url(../../../../../assets/images/carbon_close-outline.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    padding: 0px;
    position: absolute;
    right: 17px;
    top: 15px;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
  }
  .inbox-wrapper{
    width: 545px;
  }
  .chat-btn button{
    padding: 15px 20px;
  }
  .chat-btn {
    padding: 12px 16px;
  }
  
  .select-user-name span {
    font-size: 16px !important;
  }
  .fruit-font{
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .add-chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .img-list{
    border-radius: 50%;
  }
  .cancel-icon{
    background-image: url(../../../../../assets/images/cross-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    margin-left: 12px;
    margin-top: 7px;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
  }
  
  // .messanger-selector{
  //   border-top: 2px solid black;
  //   border-bottom: 2px solid black;
  // }
  
  .bg-white{
    background-color:white;
    // height: 90% !important;
  }
  
  .body-background{
    border-top:  1px solid #D9D9D9 !important;
    border-bottom:  1px solid #D9D9D9 !important;
  
  }
  
  .listBox  ::-webkit-scrollbar {
    width: 0px !important;
  }
  
  .position-absolute{
     top: 25rem;
     bottom:0;
  
  }
  
  // .position-absolute .btn{
  //   width: 33.2rem !important;
  // }
  
  .check-user-list {
    position: relative;
  }
  
  .check-user-list label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .check-user-list label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .check-user-list input[type="checkbox"] {
    visibility: hidden;
  }
  
  .check-user-list input[type="checkbox"]:checked + label {
    background-color: #148DE4;
    border-color: #148DE4;
  }
  
  .check-user-list input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .user-name{
    font-size: 14px;
    font-weight: 600;
    color: #111418;
    margin-left: 12px;
  }
  .check-user-list {
    min-width:30px;    
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 5px;
    box-sizing: border-box; 
  }
  .user-details{
    background: #FAFAFA;
    border-bottom: 1px solid #EBEBEB;
    padding: 12px 20px;
  }
  .bg-color{
    background: #fff;
  }
  .messanger-selector-name ::ng-deep input::placeholder {
    color: rgb(0, 0, 0) ;
  }
  

  .blur{
    opacity: .4;
  }