p{
    color: #787878;
}
h6{
    color: #111418;
}
.scout-player-name{
    font-family: Libre Franklin, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-right: 4px;

}

.scout-player-detail{
    font-family: Libre Franklin, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
   

}
.border-player{
    padding: 2px 10px ;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    opacity: 0px;

}
hr{
    opacity: 0.1;
}

.user-right-content{
    padding: 20px 0;
    h6{
        color: #111418;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 32px;

    }
    .fc-club-img{
        width: 38px;
        height: 36px;
    }
    .fc-img{
        width: 24px;
        height: 26px;
        margin-right: 3px;
        &.style-1{
            margin-right: 0;
            margin-left: 3px;
            
        }
    }
    .team-details{
        &.style-1{
            margin-bottom: 20px;
        }
        p{
            color: #787878;
            opacity: 0.8;
            margin-bottom: 10px;
        }
        h6{
            color: #111418;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0;
        }
        img{
            margin-right: 7px;
        }
    }
}

.overflow-auto {
    overflow: auto;
    max-height: 700px; 
    max-width:100%; 
  }
  
  .overflow-auto::-webkit-scrollbar {
    display: none;
  }
 
  
  .team-details h6 {
    white-space: nowrap; 
  }


  .close-img{
    background-image: url(../../../../../assets/images/carbon_close-outline.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    padding: 0px;
    position: absolute;
    right: 17px;
    top: 15px;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}